{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}Page Not Found (404) |{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'dist/css/pages/404/index.css' %}">
<link href='http://fonts.googleapis.com/css?family=Lato:300,500,800' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %}
<div class="container-fluid application-header" id="top-section" style="background-position: center !important; height: 250px;">
	<div class="row text-center" style="height: 200px !important; margin: 0 auto;">
			<div class="col hero-text align-self-end">
			<h4 class="text-light" style="font-size: 30px;"><br />  </h4>
			</div>
	</div>
</div>
<div class="container-fluid scroll-section" id="scroll-section" style="margin-bottom:30px;">
	<div class="scroll-icon">
	<img class="scroll-arrow bouncing" src="../../../static/images/nonprofit-img/scroll-icon.png">
	</div>
</div>
<div class="row container page-not-found-msg" style="margin: 0 auto;">
	<h1 class="title">We're sorry! This page doesn't exist.</h1>
	<p class="body-text">Shoot us an email at info@re-volv.org to let us know if there's been an error,
		or just head back to our <a href="{% url "home" %}">homepage</a>.</p>
	<img class="png-image" src="{% static "images/revolv-humans.png" %}" />
</div>

{% endblock %}
