@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

/* donation form*/
body {
  font-family: Montserrat, sans-serif;
}

.hero .row {
  display: flex;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

/* 3rd COL */

.impact {
  background: white;
  width: 100%;
  background-image: linear-gradient(0deg, #f7f8f8, #f4f7f8);
  border-top: 1px solid #dfdfd7;
  border-bottom: 1px solid #dfdfd7;
}


.impact .impact-items .item .icon > img {
  font-size: 12px;
  width: 110px;
}

 .impact .impact-items {
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center
}

@media only screen and (min-width:1200px) {
   .impact .impact-items {
    flex-direction: row;
    max-width: 980px;   
  }
}

@media only screen and (max-width: 1920px) {
  .quotes .wrap .middle-quote .content-quote .left-quote {
    top:53.5% !important;
    left: 12% !important;
  }
  .quotes .wrap .middle-quote .content-quote .right-quote {
    right: 12% !important;
  }
}

@media only screen and (max-width: 1440px) {
  .quotes .wrap .middle-quote .content-quote .left-quote {
    left: 5% !important;
  }
  .quotes .wrap .middle-quote .content-quote .right-quote {
    right: 5% !important;
  }
}

@media only screen and (max-width: 1200px) {
  .quotes .wrap .middle-quote .content-quote .left-quote {
    display: none;
  }
  .quotes .wrap .middle-quote .content-quote .right-quote {
    display: none;
  }
}

@media only screen and (max-width: 748px) {
  .quotes .wrap .middle-quote .content-quote .left-quote {
    display: none;
  }

  .quotes .wrap .middle-quote .content-quote .right-quote {
    display: none;
  }

  .quotes .wrap .middle-quote .content-quote {
    margin-top:50px !important;
  }

}

 .impact .impact-items .item {
  margin: 40px 20px 40px;
}

@media only screen and (max-width: 1025px) {
  .hero .row {
    display: block !important;
  }

  .text-donate-mobile {
    display: block !important;
  }

  .text-donate {
    display: none;
  }
}

@media only screen and (min-width:1025px) {
   .impact .impact-items .item {
    margin: 20 20px
  }
}

 .impact .impact-items .item .icon {
  min-height: 76px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px
}

 .impact .impact-items .item h2 {
  color: #295160;
  text-transform: uppercase
}

 .impact .impact-items .item p {
  color: #295160
}

/*QUOTES*/

.quotes {
  margin: 0 auto;
    height: 490px;
    background: white;
}

/* ACTIVE PAGE ROUTE */

.active-left {
  color: #FF8A00 !important;
}

.active-right {
  background: #FF8A00;
  border: 1px solid #FF8A00 !important;
}

/* RESPONSIVE QUERIES*/


@media only screen and (max-width: 1280px) {
  .main-hero {
    background-size: 110% 135% !important;
  }

  .hero-text {
    padding: 133px !important;
  }
}



@media only screen and (max-width: 1080px) {
  .desc .image-desc .savings .savings-text > p {
    max-width:1000px !important;
    margin: 0px !important;
  }
  .desc .image-desc .savings .savings-image {
    display: none;
  }
}



@media only screen and (max-width: 992px) {

  .main-hero .inner-hero {
    background-size: 105% 105% !important;
  }

  .hero-text {
    padding: 55px !important;
  }
}

@media only screen and (max-width: 768px) {
  .main-hero {
    background-size: 220% 140% !important;
  }

  .main-hero .inner-hero {
    background-size: 105% 102% !important;
  }

  .hero-text .hero-st > h1 {
    font-size:2.8em !important;
  }
  .hero-text .hero-sec > h4 {
    font-size:1.8em !important;
  }

  .hero-text {
    padding: 75px !important;
  }
}



@media only screen and (max-width: 610px) {

  .main-hero .inner-hero {
    background-position: center !important;
    background-size: 241% 115% !important;
  }
  .hero-text .hero-sec > h4 {
    display: none !important;
  }

  .hero-text {
    padding: 107px !important;
  }
}

@media only screen and (max-width: 500px) {
  .main-hero {
    background-size: 220% 140% !important;
  }
}

@media only screen and (max-width: 400px) {
  .main-hero {
    background-size: 633% 165% !important;
  }

  .main-hero .inner-hero {
    background-position: center !important;
    background-size: 530% 149% !important;
    height: 531px !important;
  }
}




@media only screen and (max-width: 585px) {

  .quotes .wrap .middle-quote .content-quote {
    margin-top:40px !important;
    margin-bottom:40px !important;
    font-size:10px;
  }

  .quotes {
    height:100% !important;
  }

  .signup-section .signup-container {
    flex-direction: column;
  }

  .signup-section .signup-container .h40 {
    margin: 20px auto !important;;
  }

  .signup-section .signup-container .subscribe-button {
    margin: 20px auto !important;;
  }
}
