.hidden {
  display: none!important
}

.flex {
  display: flex!important
}

@font-face {
  font-family: Proxima Nova;
  src: url(proximanova-regular-webfont-4dcca6fba964bb50902f6afbc426683c.eot);
  src: url(https://d26p6gt0m19hor.cloudfront.net/assets/proximanova-regular-webfont-4dcca6fba964bb50902f6afbc426683c.eot?#iefix) format("embedded-opentype"), url(https://d26p6gt0m19hor.cloudfront.net/assets/proximanova-regular-webfont-a312ed9eeacc41b0dc8b0ed50e26f1c2.woff2) format("woff2"), url(https://d26p6gt0m19hor.cloudfront.net/assets/proximanova-regular-webfont-65354aa299ec3f097fcd4a5bbdfbed45.woff) format("woff"), url(https://d26p6gt0m19hor.cloudfront.net/assets/proximanova-regular-webfont-a2585400fb31046b9105db393513b187.ttf) format("truetype");
  font-weight: 400;
  font-style: normal
}
.cms-content-row h1 {
  color: #100084 !important;
}
.cms-content-row h2, .cms-content-row h3, .cms-content-row h4, .cms-content-row h5, .cms-content-row h6 {
  color: #FF8A00 !important;
}

h1, h2, h3, h4 {
  font-weight: 500;
  line-height: 1.1em
}

p, ul {
  font-size: 16px
}

p {
  line-height: 1.3em
}

a, label {
  cursor: pointer
}

ul {
  padding-left: 18px
}

li {
  line-height: 24px
}

.h40 {
  font-size: 26px
}

@media only screen and (min-width:1025px) {
  .h40 {
    font-size: 28px
  }
}

.h50 {
  font-size: 23px
}

.h60 {
  font-size: 10px;
}

a {
  color: #100084;
  transition: color .15s linear;
  -webkit-tap-highlight-color: rgba(0, 0, 0, .1);
  outline: none
}

a, a:hover {
  text-decoration: none
}

.button, .button:active, .button:focus, button, button:active, button:focus {
  outline: none
}

.button:hover, button:hover {
  cursor: pointer
}

.button, button {
  height: 48px;
  line-height: 48px;
  background-color: #FF8A00;
  transition: background-color .15s linear;
  text-transform: uppercase;
  letter-spacing: .1em;
  border-radius: 4px;
  border: 0;
  font-size: 15px;
  padding: 0 20px;
  font-weight: 500;
  display: inline-block;
  color: #fff
}

.button:disabled, button:disabled {
  opacity: .5;
  pointer-events: none;
  cursor: default
}

.button:focus, .button:hover, button:focus, button:hover {
  background-color: #70bbf7
}

.button.button--grey-20 {
  height: 48px;
  line-height: 48px;
  background-color: #e9eae4;
  color: #71716c;
  transition: background-color .15s linear
}

.button.button--grey-20:disabled {
  opacity: .5;
  pointer-events: none;
  cursor: default
}

.button.button--grey-20:focus, .button.button--grey-20:hover {
  background-color: #f0f1ed
}

.postinput, .preinput {
  font-weight: 500;
  font-size: .8rem;
  line-height: 1rem;
  color: #c1c1ba;
  padding: 0 10px
}

.input-field-container {
  position: relative
}

.postinput, .preinput {
  position: absolute;
  top: 50%;
  z-index: 2;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}

.preinput~input {
  padding-left: 30px!important
}

.preinput {
  left: 0
}

.postinput {
  right: 0
}

input[type=checkbox] {
  border: 0;
  padding: 0;
  box-shadow: none
}

input[type=checkbox]+label {
  text-transform: none;
  font-size: 16px;
  font-weight: 500
}


input[type=number] {
  font-size: 16px;
  line-height: 1.4;
  padding: 13px 10px;
  border-radius: 4px;
  border: 1px solid #c1c1ba;
  margin-bottom: 0;
  height: 48px;
  text-align: left;
  color: #333232;
  width: 100%;
  cursor: pointer;
  vertical-align: bottom;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative
}

input[type=number]::-webkit-input-placeholder {
  color: #c1c1ba!important
}

input[type=number]:-ms-input-placeholder {
  color: #c1c1ba!important
}

input[type=number]::-ms-input-placeholder {
  color: #c1c1ba!important
}

input[type=number]:focus {
  border-color: #7bc1fa;
  outline: 0;
  z-index: 1
}

input[type=number]::-ms-clear {
  display: none
}

input[type=number]:disabled {
  background: #f4f5f0
}

input[type=number] {
  -moz-appearance: textfield
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  display: none;
  margin: 0
}

.input-wrapper {
  margin-bottom: 16px;
  position: relative
}

label {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 5px;
  display: block;
  font-size: 13px
}

.lh {
  position: relative
}

.lh label {
  position: absolute;
  padding: 0;
  top: 9px;
  left: 11px;
  z-index: 5
}

.lh label {
  top: -4px;
  left: 10px;
  background: #fff;
  font-size: 8px;
  line-height: 1;
  opacity: 0
}

.nav-bar-section {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto
}

.nav-bar-section .nav-items, .nav-bar-section .right-side {
  display: block
}

@media only screen and (min-width:1025px) {
  .nav-bar-section .offcanvas-open-link {
    display: none
  }
}

.nav-bar-section .logo {
  left: 0
}

.nav-bar-section .offcanvas-open-link {
  right: -20px
}

.nav-bar-section .nav-items {
  margin-left: 135px;
  float: left
}

.nav-bar-section .nav-items:after {
  clear: both;
  content: "";
  display: table
}

.nav-bar-section .nav-items>li {
  display: block;
  float: left;
  margin-left: 15px;
  line-height: 58px
}

.nav-bar-section .right-side, .nav-bar-section .right-side .mycw-nav {
  float: right
}

.nav-bar-section .right-side .mycw-nav .user-access {
  line-height: 58px
}

.nav-bar-section .nav-buttons {
  float: left;
  display: flex
}

.nav-bar-section .button-links {
  margin-right: 10px
}

.nav-bar-section .has-dropdown {
  position: relative;
  line-height: 58px
}

.nav-bar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100000
}

.nav-bar-section {
  padding: 0 20px;
  position: relative;
  height: 58px
}

.nav-bar-section a {
  color: orange !important;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: .9px
}

.nav-bar-section .left-side .nav-items a:hover {
  border-bottom: 5px solid #F08421;
  padding-bottom: 13px;
}


.nav-bar-section .button-links>a {
  border: 1px solid;
  padding: 5px 7px;
  border-radius: 4px
}

.nav-bar-section ul {
  list-style: none;
  margin: 0;
  padding: 0
}


/* - MOBILE NAV DISPLAY NONE 
.nav-bar-section .nav-items, .nav-bar-section .right-side {
  display: none;
  position: relative;
  line-height: 58px
}
MOBILE NAV DISPLAY NONE */

.nav-bar-section .logo {
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}

.nav-bar-section .logo a {
  display: block;
  text-indent: -999em;
  background-image: url(REVOLV_logo_White.png);
  background-size: cover;
  width: 138px;
  height: 23px
}

.nav-bar-section .offcanvas-open-link {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}

.nav-bar-section .offcanvas-open-link {
  right: 0;
  padding: 20px;
  cursor: pointer
}

.nav-bar-section .offcanvas-open-link .icn {
  color: #333232;
  font-size: 18px;
  position: relative;
  top: 3px
}

@media only screen and (min-width:1025px) {
  .nav-bar-section {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto
  }
  .nav-bar-section .nav-items, .nav-bar-section .right-side {
    display: block
  }
}

@media only screen and (min-width:1025px) and (min-width:1025px) {
  .nav-bar-section .offcanvas-open-link {
    display: none
  }
}

@media only screen and (min-width:1025px) {
  .nav-bar-section .logo {
    left: 0
  }
  .nav-bar-section .offcanvas-open-link {
    right: -20px
  }
  .nav-bar-section .nav-items {
    margin-left: 135px;
    float: left
  }
  .nav-bar-section .nav-items:after {
    clear: both;
    content: "";
    display: table
  }
  .nav-bar-section .nav-items>li {
    display: block;
    float: left;
    margin-left: 15px;
    line-height: 58px
  }
  .nav-bar-section .right-side, .nav-bar-section .right-side .mycw-nav {
    float: right
  }
  .nav-bar-section .right-side .mycw-nav .user-access {
    line-height: 58px
  }
  .nav-bar-section .nav-buttons {
    float: left;
    display: flex
  }
  .nav-bar-section .button-links {
    margin-right: 10px
  }
  .nav-bar-section .has-dropdown {
    position: relative;
    line-height: 58px
  }
}


.donate-form label {
  color: #000
}

.amount-wrapper {
  width: 100%
}

.amount-wrapper input {
  border-radius: 4px;
  border: 1px solid #c1c1ba
}

.stripe-elements .error {
  border-color: #fa575d!important;
  z-index: 1
}

.stripe-elements input:focus {
  border-color: #7bc1fa!important;
  z-index: 1
}

.donate-form-container {
  padding-top: 20px;
  max-width: 390px;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center
}

.donate-form-container form {
  border: 1px solid #dfdfd7;
  border-radius: 4px;
  background: #fff;
  position: relative;
  margin: 0;
  max-width: 100%
}

.donate-form form {
  margin-bottom: 0
}

.donate-form label {
  text-align: left
}


.adf-form-header {
  background: #f4f5f0;
  border-bottom: 1px solid #dfdfd7;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #333232;
  display: block;
  font-size: 18px;
  font-weight: 500;
  padding: 16px 20px
}

.donate-form-body {
  color: #333232;
  padding: 20px;
  line-height: 0
}

.donate-amount input {
  height: 60px;
  font-size: 28px;
  color: #369ff4
}

.donate-amount .postinput, .donate-amount .preinput {
  color: #333232;
  font-size: 20px;
  z-index: 2
}

.amount-buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px
}

.amount-buttons-wrapper * {
  font-weight: 400
}

.amount-buttons-wrapper .button.amount-button, .amount-buttons-wrapper .button.other-amount-button {
  border: 1px solid #dfdfd7;
  color: #9b9b94;
  letter-spacing: 0;
  margin: 5px 0;
  padding: 0
}

.amount-buttons-wrapper .button.amount-button {
  text-transform: lowercase;
  width: calc((100% - 20px)/3)
}

.amount-buttons-wrapper .button.amount-button.selected {
  background-color: #FF8A00;
  border-color: #FF8A00;
  color: #fff
}

.amount-buttons-wrapper .button.other-amount-button {
  text-transform: inherit
}

.amount-buttons-wrapper .button.other-amount-button, .amount-buttons-wrapper .input-wrapper.donate-amount {
  width: calc((200% - 14px)/3)
}

.amount-buttons-wrapper .input-wrapper.donate-amount {
  margin: 5px 0
}

.amount-buttons-wrapper .input-wrapper.donate-amount input {
  font-size: 16px;
  height: 48px
}

.amount-buttons-wrapper .postinput, .amount-buttons-wrapper .preinput {
  font-size: 16px
}

.amount-buttons-wrapper .preinput {
  color: #9b9b94
}

.amount-buttons-wrapper .postinput {
  color: #c1c1ba
}

.amount-wrapper {
  width: 100%
}

.amount-wrapper input {
  border-radius: 4px;
  border: 1px solid #c1c1ba
}


/* ------------------- uncsshalf way ----*/

.stripe-elements .error {
  border-color: #fa575d!important;
  z-index: 1
}

.stripe-elements input:focus {
  border-color: #7bc1fa!important;
  z-index: 1
}

.donate-form-container {
  padding-top: 20px;
  max-width: 390px;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center
}

.donate-form-container form {
  border: 1px solid #dfdfd7;
  border-radius: 4px;
  background: #fff;
  position: relative;
  margin: 0;
  max-width: 100%
}

.donate-form form {
  margin-bottom: 0
}

.donate-form label {
  text-align: left
}

.adf-form-header {
  background: #f4f5f0;
  border-bottom: 1px solid #dfdfd7;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #333232;
  display: block;
  font-size: 18px;
  font-weight: 500;
  padding: 16px 20px
}

.donate-form-body {
  color: #333232;
  padding: 20px;
  line-height: 0
}

.donate-amount input {
  height: 60px;
  font-size: 28px;
  color: #369ff4
}

.donate-amount .postinput, .donate-amount .preinput {
  color: #333232;
  font-size: 20px;
  z-index: 2
}

.amount-buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px
}

.amount-buttons-wrapper * {
  font-weight: 400
}

.amount-buttons-wrapper .button.amount-button, .amount-buttons-wrapper .button.other-amount-button {
  border: 1px solid #dfdfd7;
  color: #9b9b94;
  letter-spacing: 0;
  margin: 5px 0;
  padding: 0
}

.amount-buttons-wrapper .button.amount-button {
  text-transform: lowercase;
  width: calc((100% - 20px)/3)
}

.amount-buttons-wrapper .button.amount-button.selected {
  background-color: #FF8A00;
  border-color: #FF8A00;
  color: #fff
}

.amount-buttons-wrapper .button.other-amount-button {
  text-transform: inherit
}

.amount-buttons-wrapper .button.other-amount-button, .amount-buttons-wrapper .input-wrapper.donate-amount {
  width: calc((200% - 14px)/3)
}

.amount-buttons-wrapper .input-wrapper.donate-amount {
  margin: 5px 0
}

.amount-buttons-wrapper .input-wrapper.donate-amount input {
  font-size: 16px;
  height: 48px
}

.amount-buttons-wrapper .postinput, .amount-buttons-wrapper .preinput {
  font-size: 16px
}

.amount-buttons-wrapper .preinput {
  color: #9b9b94
}

.amount-buttons-wrapper .postinput {
  color: #c1c1ba
}

.amount-wrapper {
  width: 100%
}

.amount-wrapper input {
  border-radius: 4px;
  border: 1px solid #c1c1ba
}

.stripe-elements .error {
  border-color: #fa575d!important;
  z-index: 1
}

.stripe-elements input:focus {
  border-color: #7bc1fa!important;
  z-index: 1
}



@supports (-ms-accelerator:true) {
}
