{% extends "base/base3.html" %}
{% load staticfiles %}
{% load humanize %}
{% load wagtailimages_tags %}

{% block title %}Home | {% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/bring_solar_at_community.css?version={{ version_number }}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="/static/js/base/bring_solar_at_home.js?version={{ version_number }}"></script>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css?version={{ version_number }}">
		<title>Revolv</title>
    <style>

.menu-list {
    position: absolute;
    width: 100%;
    background-image: linear-gradient(to bottom,transparent 0,transparent 100%);
    background-color: transparent;
    border: transparent;
    border-radius: 0;
    box-shadow: none;
}


    </style>

{%endblock%}
{% block nav %}

{%endblock%}
{% block body %}
    <div id="video-popup">
            <div class="video-popup-body">
                <div class="play-main-video">
                    <img src="/static/images/close-video.png" class="close-video">
                </div>
            </div>
        </div>
    <div class="champion-background-image">
       <header class="header top-section-header">
  <div class="container">
             <div class="header-content">
                <div class="header-content-div">
                  <div class="header-tagline">
                      <div class="go_solar_at_home">
                        HOW TO BRING <br> A SOLAR ENERGY PROJECT <br> TO YOUR COMMUNITY.
                       </div>
                      <div class="we_can_help_you">
                         Join our volunteer Solar Champion Program and lead a solar crowdfunding<br>campaign for a nonprofit you care about.
                      </div>

                  </div>
                  <div class="header-logo">
                        <div class="logo-size" >
						  <a href="{% url 'home' %}">
                          <img class="background-image-size" src="/static/images/Logo_Header.png"></a>
                        </div>
                  </div>
                </div>

            </div>
           </div>
        </header>

</div>
<div class="video-row" style="background-image: url(/static/images/rectangle_lined.png);">
			<div class="video-cntnr-txt">
				Solar Champion Introductory Video Series
			</div>
			<div class="video-series hidden-xs">
				<div class="vid-cntnr">
					<div class="show-video" onmouseover="play('desk-vid-1')" onmouseout="pause('desk-vid-1')" onclick="showDesktopFullscreen('desk-vid-1')">
                        <iframe frameborder="0" class="video" id="desk-vid-1" src="https://www.youtube.com/embed/_72Z1FPoFLo?rel=0&modestbranding=0"></iframe>
						<div class="play-desktop-video-img">

						</div>
					</div>

					<div class="video-desc"><b>1. Welcome to the Solar Champion Program</b></div>
				</div>
				<div class="vid-cntnr">
					<div class="show-video" onmouseover="play('desk-vid-2')" onmouseout="pause('desk-vid-2')" onclick="showDesktopFullscreen('desk-vid-2')">
                        <iframe frameborder="0" class="video" id="desk-vid-2" src="https://www.youtube.com/embed/hcWUMvIA3nE?rel=0&modestbranding=0"></iframe>
						<div class="play-desktop-video-img">
						</div>
					</div>
					<div class="video-desc"><b>2.  What is RE-volv?</b></div>
				</div>
				<div class="vid-cntnr">
					<div class="show-video" onmouseover="play('desk-vid-3')" onmouseout="pause('desk-vid-3')" onclick="showDesktopFullscreen('desk-vid-3')">
						<iframe frameborder="0" class="video" id="desk-vid-3" src="https://www.youtube.com/embed/WoIS95OQa-U?rel=0&modestbranding=0"></iframe>
						<div class="play-desktop-video-img">
						</div>

					</div>
					<div class="video-desc"><b>3. A Completed Solar Project Example</b></div>
				</div>
				<div class="vid-cntnr">
					<div class="show-video" onmouseover="play('desk-vid-4')" onmouseout="pause('desk-vid-4')" onclick="showDesktopFullscreen('desk-vid-4')">
						<iframe frameborder="0" class="video" id="desk-vid-4" src="https://www.youtube.com/embed/-H0LLBbTkMM?rel=0&modestbranding=0"></iframe>
						<div class="play-desktop-video-img">

						</div>
					</div>
					<div class="video-desc"><b>4. The Role of a Solar Champion</b></div>
				</div>
				<div class="vid-cntnr">
					<div class="show-video" onmouseover="play('desk-vid-5')" onmouseout="pause('desk-vid-5')" onclick="showDesktopFullscreen('desk-vid-5')">
						<iframe frameborder="0" class="video" id="desk-vid-5" src="https://www.youtube.com/embed/xEEyQbsKDC8?rel=0&modestbranding=0"></iframe>
						<div class="play-desktop-video-img">

						</div>
					</div>
					<div class="video-desc"><b>5. Next Steps</b></div>
				</div>
			</div>


			<div>
				<div id="champion-carousel" class="carousel slide hidden-sm hidden-md hidden-lg" data-interval="false" data-ride="carousel">
				  <!-- Indicators -->
				  <ol class="carousel-indicators">
				    <li data-target="#champion-carousel" data-slide-to="0" class="active"></li>
				    <li data-target="#champion-carousel" data-slide-to="1"></li>
				    <li data-target="#champion-carousel" data-slide-to="2"></li>
				    <li data-target="#champion-carousel" data-slide-to="3"></li>
				    <li data-target="#champion-carousel" data-slide-to="4"></li>
				  </ol>

				  <div class="carousel-inner" role="listbox">
				    <div class="item active" onclick="goFullscreen('video-1')">
                        <iframe frameborder="0" class="video" id="video-1" src="https://www.youtube.com/embed/_72Z1FPoFLo?rel=0&modestbranding=0"></iframe>
                        <div class="play-desktop-video-img">
						</div>
				    </div>

				    <div class="item" onclick="goFullscreen('video-2')">
					    <iframe frameborder="0" class="video" id="video-2" src="https://www.youtube.com/embed/hcWUMvIA3nE?rel=0&modestbranding=0"></iframe>
						<div class="play-desktop-video-img">
						</div>
				    </div>

				    <div class="item" onclick="goFullscreen('video-3')">
				      <iframe frameborder="0" class="video" id="video-3" src="https://www.youtube.com/embed/WoIS95OQa-U?rel=0&modestbranding=0"></iframe>
					    <div class="play-desktop-video-img">
						</div>
				    </div>

				    <div class="item" onclick="goFullscreen('video-4')">
				      <iframe frameborder="0" class="video" id="video-4" src="https://www.youtube.com/embed/-H0LLBbTkMM?rel=0&modestbranding=0"></iframe>
					    <div class="play-desktop-video-img">
						</div>
				    </div>
				    <div class="item" onclick="goFullscreen('video-5')">
				      <iframe frameborder="0" class="video" id="video-5" src="https://www.youtube.com/embed/xEEyQbsKDC8?rel=0&modestbranding=0"></iframe>
						<div class="play-desktop-video-img">
						</div>
				    </div>
				  </div>

				  <a class="left carousel-control" href="#champion-carousel" role="button" data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>

				  </a>
				  <a class="right carousel-control" href="#champion-carousel" role="button" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>

				  </a>
				</div>
			</div>

			<div class="btn-cntnr">
				<div class="get-start-btn" style="background: #100084;" data-form-url="{% url 'intake_form2' %}">
					GET STARTED
				</div>
			</div>
			<div id="champ-opp">
                <a href="/get-involved/solar-ambassador"><i>Solar Ambassador Opportunity</i></a>
			</div>
		</div>
		<div class="video-cntnr-txt">Solar Champion Playbook</div>
		<div class="grid-contnr flex flex-wrap">
			<div class="col-xs-12 col-sm-4 grid-component flex flex-wrap">
				<div class="grid-data" data-chapter-url="/bring_solar_to_your_community/chapter/1/">
					<div class="data-heading">
						1. Why be a solar champion?
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 grid-component flex flex-wrap">
				<div class="grid-data" data-chapter-url="/bring_solar_to_your_community/chapter/2/">
					<div class="data-heading">
						2. Your Mission, if you Choose to Accept
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 grid-component flex flex-wrap">
				<div class="grid-data" data-chapter-url="/bring_solar_to_your_community/chapter/3/">
					<div class="data-heading">
						3. How to find a nonprofit to solarize
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 grid-component flex flex-wrap">
				<div class="grid-data" data-chapter-url="/bring_solar_to_your_community/chapter/4/">
					<div class="data-heading">
						4. Collecting Information
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 grid-component flex flex-wrap">
				<div class="grid-data" data-chapter-url="/bring_solar_to_your_community/chapter/5/">
					<div class="data-heading">
						5. Making a Deal
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 grid-component flex flex-wrap">
				<div class="grid-data" data-chapter-url="/bring_solar_to_your_community/chapter/6/">
					<div class="data-heading">
						6. Planning a Crowdfunding Campaign
					</div>
				</div>
			</div>
            <div class="col-xs-12 col-sm-4 grid-component flex flex-wrap">
				<div class="grid-data" data-chapter-url="/bring_solar_to_your_community/chapter/7/">
					<div class="data-heading">
						7. Launching the campaign
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 grid-component flex flex-wrap">
				<div class="grid-data" data-chapter-url="/bring_solar_to_your_community/chapter/8/">
					<div class="data-heading">
						8. Running the campaign
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 grid-component flex flex-wrap">
				<div class="grid-data" data-chapter-url="/bring_solar_to_your_community/chapter/9/">
					<div class="data-heading">
						9. Installation
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 grid-component flex flex-wrap">
				<div class="grid-data" data-chapter-url="/bring_solar_to_your_community/chapter/10/">
					<div class="data-heading">
						10. Celebration
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 grid-component flex flex-wrap">
				<div class="grid-data" data-chapter-url="/bring_solar_to_your_community/chapter/11/">
					<div class="data-heading">
						11. Timeline
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 grid-component flex flex-wrap">
				<div class="grid-data" data-chapter-url="/bring_solar_to_your_community/chapter/12/">
					<div class="data-heading">
						12. Resources
					</div>
				</div>
			</div>
		</div>

<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key={{GOOGLEMAPS_API_KEY}}">
</script>

<script>
  $(function ($) {
  var handler = StripeCheckout.configure({
    key: '{{ stripe_publishable_key }}'
    , image: '{% static "images/revolvorange.png" %}'
    , locale: 'auto'
    , name: 'RE-volv'
    , email: '{{request.user.email}}'
  });
  $(window).on('popstate', function () {
    handler.close();
  });
  $('.stripe-button-el').on('click', function (e) {
    e.preventDefault();
    var $form = $(this).closest('form');
    var serialized = $form.serializeArray();
    var endpoint = $form.attr('action');
    var amount, metadata;
    $.each(serialized, function () {
      if (this.name === 'amount_cents') {
        amount = this.value*100;
      }

    });
    if (typeof amount !== 'undefined') {
      handler.open({
        description: 'Donate $' + parseFloat((amount / 100).toFixed(2)).toLocaleString()
        , amount: amount
        <!--, metadata: metadata-->
        , token: function (token) {
          var id = token.id;
          var email = token.email;
          var $id = $('<input>')
            .attr('type', 'hidden')
            .attr('name', 'stripeToken')
            .val(id);
          var $email = $('<input>')
            .attr('type', 'hidden')
            .attr('name', 'stripeEmail')
            .val(email);
          $id.appendTo($form);
          $email.appendTo($form);
          $form.trigger('submit');
        }
      });
    }
  });
});
</script>
    <script src="/static/js/base/jquery.maskedinput.min.js"></script>
{%endblock%}

