{% extends "base/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load wagtailimages_tags %}

{% block head %}

<!-- -->
<script src="{% static 'js/base/homeAnimations.js' %}?version={{ version_number }}"></script>
<link rel='stylesheet' href="https://cdn.jsdelivr.net/npm/tooltipster@4.2.6/dist/css/tooltipster.bundle.min.css"/>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css'>

<style>
#top-section-min {
	background-position: center;
	position: relative;
	overflow: hidden;
	background-size: 100%;
}

/* fixes overflow of banner images ie. repeating or extra space */
@media (max-width: 1600px) {

	#top-section-min {
		background-size: auto !important;
	}
}
</style>
{% endblock %}

{% block body %}
    <main role="main" class="container-fluid">
      <div class="container-fluid campaign-post-header" id="top-section-min" style="background: url(../../../static/images/blog-monthly-img/campaign-header.png);">
        <div class="row text-center">
          <div class="col hero-text align-self-end mb-5">
            <h1 class="text-white fw-300 mb-5">East End Community Services</h1>
          </div>
        </div>
      </div>
      <div class="container-fluid" id="campaign-body">
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-12 co-md-10 col-lg-10">
            <div class="row">
              <div class="col-sm-12 col-md-4 pr-4">
                <div class="donate-icon-col mb-4">
                  <a href="#">
                    <div class="donate-icon-wrapper"><img src="../../../static/images/blog-monthly-img/donate-icon.png"></div>
                    <div class="donate-txt-wrapper">
                      <h2>Donate</h2>
                      <h5>to the Solar Seed Fund</h5>
                    </div>
                  </a>
                </div>
                <div class="updates-col">
                  <h3 class="blue-text my-3 ml-5">Updates</h3>
                  <div class="line-section pb-2">
                    <div class="line-left"></div>
                  </div>
                  <div class="updates-inner-col mt-5">
                    <span class="meta-date">MARCH 25, 2019</span>
                    <p>Lorem ipsum dolor sit amet doro consectetur adipiscing elit sed</p>               
                  </div>
                  <div class="updates-inner-col">
                    <span class="meta-date">MARCH 25, 2019</span>
                    <img src="../../../static/images/blog-monthly-img/updates-img.png">
                    <p>Lorem ipsum dolor sit amet doro consectetur adipiscing elit sed</p>               
                  </div>
                  <div class="updates-inner-col">
                    <span class="meta-date">MARCH 25, 2019</span>
                    <p>Lorem ipsum dolor sit amet doro consectetur adipiscing elit sed</p>               
                  </div>
                  <div class="updates-inner-col">
                    <span class="meta-date">MARCH 25, 2019</span>
                    <p>Lorem ipsum dolor sit amet doro consectetur adipiscing elit sed</p>               
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-8 campaign-body-text pl-4">
                <h2 class="orange-text fw-300">Light up the East End</h2>
                <h6 class="fw-500">About the campaign</h6>
                <p>University of Dayton students are teaming up with East End Community Services (EECS) on the east side of Dayton to crowdfund a solar array that will provide 60% of their energy needs. EECS specializes in providing youth, family, and neighborhood development programs to families in inner East Dayton to help break the cycle of multi-generation poverty.</p>

                <p>EECS is just blocks away from Mission of Mary, where UD students crowdfunded a $32,000 solar array in 2018 – helping them continue to be net zero. Mission of Mary and EECS are leaders in a growing effort for Dayton to become a leader in green energy. With EECS harvesting 60% of their energy from the Sun, they will be able to use the savings from utility bills to invest in the community, enriching the lives of citizens living in the Twin Towers neighborhood of East Dayton.</p>

                <h6 class="fw-500">More about East End Community Services</h6>
                <p>Youth Champions provide a holistic approach to meeting the youth’s intricate academic and social-emotional needs. These activities and resources include: hot meal nutritionally-balanced meals daily, academic help, mentoring, community service, socialization, college and career planning, drug prevention, case management, high school/college visits, and various leadership opportunities.</p>

                <p>The Neighborhood Job Connections program is a job readiness program designed to help prepare a person for employment. The program provides individualized job readiness activities with the option of becoming forklift certified. </p>

                <div class="plyr-video" data-plyr-provider="youtube" data-plyr-embed-id="coN-CfDGbCs"></div>

                <p class="mt-4">EECS also does amazing work in the community. They have been on the front lines of the Opioid Epidemic to save lives, working with many partners to create innovative ways to connect persons with addiction into treatment and long-term recovery. They hold events educating people about the negative effect of drug use and support a treatment program for recovering individuals. </p>

                <p>EECS is heavily involved in helping eliminate the food desert in Dayton while also improving the housing in the area. With their partner, Mission of Mary Cooperative, EECS has installed over 40 raised-bed gardens in income-eligible neighbors’ backyards, and plan to install more next season. They provide soil, plants, seeds and mentorship—everything you need to be successful in growing your own vegetables. EECS provides education and human services to the community, while East End Neighborhood Development Corporation provides housing and economic development support and leadership to the community. There have been 84 homes built and rehabilitated to provide housing for low-income families.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid" id="share-section">
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-12 co-md-12 col-lg-12 text-center">
            <h1 class="text-white fw-300 mb-5">Follow us on social media</h1>
            <ul class="sharing-icons">
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      
    </main><!-- /.container -->
{% endblock %}