{% extends "base/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load wagtailimages_tags %}

{% block title %}Home | {% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/bring_solar_at_community.css?version={{ version_number }}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="/static/js/base/bring_solar_at_home.js?version={{ version_number }}"></script>
		<title>RE-volv</title>

    <style>

.menu-list {
    position: absolute;
    width: 100%;
    background-image: linear-gradient(to bottom,transparent 0,transparent 100%);
    background-color: transparent;
    border: transparent;
    border-radius: 0;
    box-shadow: none;
}

    </style>

{%endblock%}
{% block nav %}

{%endblock%}
{% block body %}
    <div class="champion-background-image">
       <header class="header top-section-header">
  <div class="container">
        <div class="container">
        <!-- Static navbar -->
        <div class="navbar navbar-default menu-list">
            <div class="navbar-header">
                <button type="button" id="collbtn" class="navbar-toggle hamburger_color" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>

                </button> <a class="navbar-brand logo-solar-at-home" href="/"></a>

            </div>
            <div class="navbar-collapse collapse background-collapse-color">
                <ul class="nav navbar-nav">
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'dashboard' %}" class="dropdown">MY PORTFOLIO</a>
                        </li>
                        <li class="dropdown this-works"> <a href="{% url 'logout' %}" class="dropdown">SIGN OUT</a>
                        </li>
                    {% else %}
                         <li><a href="{% url 'signin' %}#signup" class="dropdown">SIGN UP</a>
                        </li>
                        <li class="dropdown this-works"> <a href="{% url 'signin' %}#login" class="dropdown">SIGN IN</a>
                        </li>
                    {% endif %}
                    <li class="dropdown this-doesnt"> <a href="{% url 'projects_list' %}" class="dropdown">DONATE</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    <!-- end .logo -->
            <div class="solar_at_home_rights pull-right">
              <div class="txt pull-left">

                {% if request.user.is_authenticated %}
                  <li class="user-controls has-dropdown">
                    <a href="{% url 'dashboard' %}" class="btn-blue pull-left btn-donate btn-yellow">MY PORTFOLIO</a>
                    <a href="{% url 'logout' %}" class="btn-blue pull-left btn-donate btn-yellow" >SIGN OUT</a>
                  </li>
                  {% else %}
                    <a href="{% url 'signin' %}#signup" class="component-link btn-blue pull-left btn-donate btn-yellow" data-component="signup" >SIGN UP</a>
                    <a href="{% url 'signin' %}#login" class="component-link btn-blue pull-left btn-donate btn-yellow" data-component="login" >SIGN IN</a>
                {% endif %}
              </div>
              <a href="{% url 'projects_list' %}" class="component-link btn-blue btn-donate btn-yellow">DONATE</a>
              <!--<a #data-target="popup" data-toggle="modal" class=" btn-blue btn-donate pull-left after-scroll">DONATE NOW</a>-->
            </div>
          </div>
             <div class="header-content">
                <div class="header-content-div">
                  <div class="header-tagline">
                      <div class="go_solar_at_home">
                        CHAPTER 12: <br> Resources
                       </div>
                      <div class="we_can_help_you">
                         Here are some templates and example materials <br>that can help you along your journey.
                      </div>

                  </div>
                  <div class="header-logo">
                        <div class="logo-size" >
                          	  <a href="{% url 'home' %}">
                          <img class="background-image-size" src="/static/images/Logo_Header.png"></a>
                        </div>
                  </div>
                </div>
                 <div class="go-to-solar-link">
                         <a href="{% url 'bring_solar_to_your_community' %}" class="back_button_link"><img class="back-button-arrow" src="/static/images/arrow-left.png"><span class="back-button-link">Go to Solar Champion Portal.</span></a>
                      </div>
            </div>
           </div>
        </header>

</div>
<div class="all-chapters-list hidden-sm hidden-md hidden-lg">
    <div class="mobile-chapter-name-list">
        <div class="chapter-list-size">
					<span class="sm-chapter-name right-list" data-chapter-url="/bring_solar_to_your_community/chapter/1/">
					1. Why be a solar champion?
				</span>
				<span class="sm-chapter-name right-list" data-chapter-url="/bring_solar_to_your_community/chapter/2/">
					2. Your Mission, if you Choose to Accept
				</span>
				<span class="sm-chapter-name right-list" data-chapter-url="/bring_solar_to_your_community/chapter/3/">
					3. How to find a nonprofit to solarize
				</span>
				<span class="sm-chapter-name right-list" data-chapter-url="/bring_solar_to_your_community/chapter/4/">
					4. Collecting Information
				</span>
				<span class="sm-chapter-name right-list" data-chapter-url="/bring_solar_to_your_community/chapter/5/">
					5. Making a Deal
				</span>
				<span class="sm-chapter-name right-list" data-chapter-url="/bring_solar_to_your_community/chapter/6/">
					6. Planning a Crowdfunding Campaign
				</span>
                <span class="sm-chapter-name right-list" data-chapter-url="/bring_solar_to_your_community/chapter/7/">
					7. Launching the campaign
				</span>
				<span class="sm-chapter-name right-list" data-chapter-url="/bring_solar_to_your_community/chapter/8/">
					8. Running the campaign
				</span>
				<span class="sm-chapter-name right-list" data-chapter-url="/bring_solar_to_your_community/chapter/9/">
					9. Installation
				</span>
				<span class="sm-chapter-name right-list" data-chapter-url="/bring_solar_to_your_community/chapter/10/">
					10. Celebration
				</span>
				<span class="sm-chapter-name right-list" data-chapter-url="/bring_solar_to_your_community/chapter/11/">
					11. Timeline
				</span>
				<span class="sm-chapter-name right-list active-chapter-color" data-chapter-url="/bring_solar_to_your_community/chapter/12/">
					12. Resources
				</span>
			</div>
        </div>
</div>

<div class="chapter-main-div">
    <div class="col-sm-8 chapter-content">
        <div class="chapter-content-header chapter-divide-line">
           Here are some templates and examples that can help you along your journey.
        </div>
        <div class="chapter-content-text">
            <div class="chapter-content-div">
               <a href="https://accounts.google.com/ServiceLogin?continue=https%3A%2F%2Fdocs.google.com%2Fa%2Fre-volv.org%2Fspreadsheets%2Fd%2F18PeEcKX4cLfBCc0FyMjs3wWstt8GoNGJu6su33Hw8fg%2Fedit%3Fusp%3Dsharing&followup=https%3A%2F%2Fdocs.google.com%2Fa%2Fre-volv.org%2Fspreadsheets%2Fd%2F18PeEcKX4cLfBCc0FyMjs3wWstt8GoNGJu6su33Hw8fg%2Fedit%3Fusp%3Dsharing&ltmpl=sheets&hd=re-volv.org&service=wise&sacu=1&rip=1#identifier">Master Campaign Plan Template</a><br>
                <a href="https://docs.google.com/document/d/15I_PbdlQn1B_9ix60V-abLq2VgJPHUk9TSvz3SxawTk/edit">Recommended Readings</a><br>
                <a href="https://drive.google.com/drive/folders/0B8Pzy9hKUTvgQ25fb2dXTlhLLVk">Press Release Templates</a><br>
                <a href="https://drive.google.com/drive/folders/0B8Pzy9hKUTvgRk5WRXJaU2xaNzg">Poster Examples</a><br>
                <a href="https://www.youtube.com/user/REvolvSolarSeedFund/videos?view=0&shelf_id=0&sort=dd">Video Examples</a><br>

            </div>
        </div>
    </div>
    <div class="chapter-list col-sm-4 padding-zero hidden-xs">
        <div class="right-list" data-chapter-url="/bring_solar_to_your_community/chapter/1/">1. Why be a solar champion?</div>
        <div class="right-list" data-chapter-url="/bring_solar_to_your_community/chapter/2/">2. Your Mission, if you Choose to Accept </div>
        <div class="right-list" data-chapter-url="/bring_solar_to_your_community/chapter/3/">3. How to find a nonprofit to solarize</div>
        <div class="right-list" data-chapter-url="/bring_solar_to_your_community/chapter/4/">4. Collecting Information</div>
        <div class="right-list" data-chapter-url="/bring_solar_to_your_community/chapter/5/">5. Making a Deal</div>
        <div class="right-list" data-chapter-url="/bring_solar_to_your_community/chapter/6/">6. Planning a Crowdfunding Campaign</div>
        <div class="right-list" data-chapter-url="/bring_solar_to_your_community/chapter/7/">7. Launching the campaign</div>
        <div class="right-list" data-chapter-url="/bring_solar_to_your_community/chapter/8/">8. Running the campaign</div>
        <div class="right-list" data-chapter-url="/bring_solar_to_your_community/chapter/9/">9. Installation</div>
        <div class="right-list" data-chapter-url="/bring_solar_to_your_community/chapter/10/">10. Celebration</div>
        <div class="right-list" data-chapter-url="/bring_solar_to_your_community/chapter/11/">11. Timeline</div>
        <div class="right-list active-chapter-color"data-chapter-url="/bring_solar_to_your_community/chapter/12/">12. Resources</div>
    </div>
</div>

{%endblock%}

