{% extends "base/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load wagtailimages_tags %}

{% block title %}Home | {% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/bring_solar_at_community.css?version={{ version_number }}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="/static/js/base/bring_solar_at_home.js?version={{ version_number }}"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css?version={{ version_number }}">
		<title>RE-volv</title>

    <style>

.menu-list {
    position: absolute;
    width: 100%;
    background-image: linear-gradient(to bottom,transparent 0,transparent 100%);
    background-color: transparent;
    border: transparent;
    border-radius: 0;
    box-shadow: none;
}


    </style>

{%endblock%}
{% block nav %}

{%endblock%}
{% block body %}
    <div class="champion-background-image">
       <header class="header top-section-header">
  <div class="container">
        <div class="container">
        <!-- Static navbar -->
        <div class="navbar navbar-default menu-list">
            <div class="navbar-header">
                <button type="button" id="collbtn" class="navbar-toggle hamburger_color" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>

                </button> <a class="navbar-brand logo-solar-at-home" href="/"></a>

            </div>
            <div class="navbar-collapse collapse background-collapse-color">
                <ul class="nav navbar-nav">
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'dashboard' %}" class="dropdown">MY PORTFOLIO</a>
                        </li>
                        <li class="dropdown this-works"> <a href="{% url 'logout' %}" class="dropdown">SIGN OUT</a>
                        </li>
                    {% else %}
                         <li><a href="{% url 'signin' %}#signup" class="dropdown">SIGN UP</a>
                        </li>
                        <li class="dropdown this-works"> <a href="{% url 'signin' %}#login" class="dropdown">SIGN IN</a>
                        </li>
                    {% endif %}
                    <li class="dropdown this-doesnt"> <a href="#" onclick="return clearInput();" class="dropdown" data-toggle="modal" data-target="#popup">DONATE</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    <!-- end .logo -->
            <div class="solar_at_home_rights pull-right">
              <div class="txt pull-left">

					{% if request.user.is_authenticated %}
					  <!--<li class="user-controls has-dropdown">-->
						<a href="{% url 'dashboard' %}" class="btn-blue pull-left btn-donate btn-yellow">MY PORTFOLIO</a>
						<!--<a href="{% url 'logout' %}" class="btn-blue pull-left btn-donate">SIGN OUT</a>-->

					  <!--</li>-->
					  {% else %}
						<a href="{% url 'signin' %}#signup" class="component-link btn-blue pull-left btn-donate btn-yellow" data-component="signup">SIGN UP</a>
						<a href="{% url 'signin' %}#login" class="component-link btn-blue pull-left btn-donate btn-yellow" data-component="login">SIGN IN</a>
					{% endif %}
					<a href="#" onclick="return clearInput();" class="component-link pull-left btn-blue btn-donate btn-yellow" data-toggle="modal" data-target="#popup">DONATE</a>
{#                    <a href="{%url 'faithbaptistchurch' %}" onclick="return clearInput();" class="component-link pull-left btn-blue btn-donate btn-yellow">DONATE</a>#}
					{% if request.user.is_authenticated %}
					  <div class="container1" data-toggle="collapse" data-target=".navbar-collapse-settings">
						<div class="bar1" style="background-color:rgb(255, 204, 0);"></div>
						<div class="bar2" style="background-color:rgb(255, 204, 0);"></div>
						<div class="bar3" style="background-color:rgb(255, 204, 0);"></div>
					  </div>
					  <div class="navbar-collapse-settings collapse background-collapse-color navbar-collapse-settings-blue" style="position: absolute;">
							<ul class="nav navbar-collapse-border">

								<li><a href="{% url 'dashboard' %}" class="dropdown">ACCOUNT SETTINGS</a>
								</li>
								<li> <a href="{% url 'logout' %}" class="dropdown">SIGN OUT</a>
								</li>
							</ul>
						</div>
					{% endif %}
				  </div>
              <!--<a href="#" onclick="return clearInput();" class="component-link btn-blue btn-donate btn-yellow" data-toggle="modal" data-target="#popup">DONATE</a>-->
            </div>
          </div>
             <div class="header-content">
                <div class="header-content-div">
                  <div class="header-tagline">
                      <div class="go_solar_at_home">
                        CHAPTER 9: <br> Installation
                       </div>
                      <div class="we_can_help_you">
                         You did it! You’ve run a successful crowdfunding campaign! <br>Now comes the fun part. Installation!
                      </div>

                  </div>
                  <div class="header-logo">
                        <div class="logo-size" >
                          	  <a href="{% url 'home' %}">
                          <img class="background-image-size" src="/static/images/Logo_Header.png"></a>
                        </div>
                  </div>
                </div>
                 <div class="go-to-solar-link">
                         <a href="{% url 'bring_solar_to_your_community' %}" class="back_button_link"><img class="back-button-arrow" src="/static/images/arrow-left.png"><span class="back-button-link">Go to Solar Champion Portal.</span></a>
                      </div>
            </div>
           </div>
        </header>

</div>
<div class="all-chapters-list hidden-sm hidden-md hidden-lg">
    <div class="mobile-chapter-name-list">
        <div class="chapter-list-size">
				<span class="sm-chapter-name right-list" data-chapter-url="/bring_solar_to_your_community/chapter/1/">
					1. Why be a solar champion?
				</span>
				<span class="sm-chapter-name right-list" data-chapter-url="/bring_solar_to_your_community/chapter/2/">
					2. Your Mission, if you Choose to Accept
				</span>
				<span class="sm-chapter-name right-list" data-chapter-url="/bring_solar_to_your_community/chapter/3/">
					3. How to find a nonprofit to solarize
				</span>
				<span class="sm-chapter-name right-list" data-chapter-url="/bring_solar_to_your_community/chapter/4/">
					4. Collecting Information
				</span>
				<span class="sm-chapter-name right-list" data-chapter-url="/bring_solar_to_your_community/chapter/5/">
					5. Making a Deal
				</span>
				<span class="sm-chapter-name right-list" data-chapter-url="/bring_solar_to_your_community/chapter/6/">
					6. Planning a Crowdfunding Campaign
				</span>
                <span class="sm-chapter-name right-list" data-chapter-url="/bring_solar_to_your_community/chapter/7/">
					7. Launching the campaign
				</span>
				<span class="sm-chapter-name right-list " data-chapter-url="/bring_solar_to_your_community/chapter/8/">
					8. Running the campaign
				</span>
				<span class="sm-chapter-name right-list active-chapter-color" data-chapter-url="/bring_solar_to_your_community/chapter/9/">
					9. Installation
				</span>
				<span class="sm-chapter-name right-list" data-chapter-url="/bring_solar_to_your_community/chapter/10/">
					10. Celebration
				</span>
				<span class="sm-chapter-name right-list" data-chapter-url="/bring_solar_to_your_community/chapter/11/">
					11. Timeline
				</span>
				<span class="sm-chapter-name right-list" data-chapter-url="/bring_solar_to_your_community/chapter/12/">
					12. Resources
				</span>
			</div>
        </div>
</div>

<div class="chapter-main-div">
    <div class="col-sm-8 chapter-content">
        <div class="chapter-content-header chapter-divide-line">
           Woohoo! You did it! You’ve run a successful crowdfunding campaign and raised all the money you need for us to install the solar energy system! Now comes the fun part. Installation!
        </div>
        <div class="chapter-content-text">
            <div class="chapter-name">A. Coordination</div>
            <div class="chapter-content-div">RE-volv will help coordinate with you, the solar installer and the nonprofit to assure smooth installation process. Typically, once we’ve picked a date and time, the solar installation company should handle the rest.</div>
        </div>
        <div class="chapter-content-text">
            <div class="chapter-name">B. Documenting the install</div>
            <div class="chapter-content-div">One of the most empowering elements of the campaign for donors is seeing the finished product. You and your team will be in charge of taking photos and shooting video of the installation process. A fun thing that we’ve done in the past is find a good spot on the roof where you can see the installation happening and mark it with tape. Take photos from that same spot with the same orientation throughout the installation process. At the end you’ll be able to put all the photos together into a timelapse video which is super fun to watch! Creating a short thank you video or photo series is always a great way to thank donors and let them feel good about supporting the project.
            </div>
        </div>
    </div>
    <div class="chapter-list col-sm-4 padding-zero hidden-xs">
        <div class="right-list" data-chapter-url="/bring_solar_to_your_community/chapter/1/">1. Why be a solar champion?</div>
        <div class="right-list" data-chapter-url="/bring_solar_to_your_community/chapter/2/">2. Your Mission, if you Choose to Accept </div>
        <div class="right-list" data-chapter-url="/bring_solar_to_your_community/chapter/3/">3. How to find a nonprofit to solarize</div>
        <div class="right-list" data-chapter-url="/bring_solar_to_your_community/chapter/4/">4. Collecting Information</div>
        <div class="right-list" data-chapter-url="/bring_solar_to_your_community/chapter/5/">5. Making a Deal</div>
        <div class="right-list" data-chapter-url="/bring_solar_to_your_community/chapter/6/">6. Planning a Crowdfunding Campaign</div>
        <div class="right-list" data-chapter-url="/bring_solar_to_your_community/chapter/7/">7. Launching the campaign</div>
        <div class="right-list" data-chapter-url="/bring_solar_to_your_community/chapter/8/">8. Running the campaign</div>
        <div class="right-list active-chapter-color" data-chapter-url="/bring_solar_to_your_community/chapter/9/">9. Installation</div>
        <div class="right-list" data-chapter-url="/bring_solar_to_your_community/chapter/10/">10. Celebration</div>
        <div class="right-list" data-chapter-url="/bring_solar_to_your_community/chapter/11/">11. Timeline</div>
        <div class="right-list"data-chapter-url="/bring_solar_to_your_community/chapter/12/">12. Resources</div>
    </div>
</div>
<div class="footer-next-button">
    <div class="col-xs-12 col-sm-6 footer-content">
        <div class="footer-heading">
            10. Celebration
        </div>
        <div class="footer-content-text">
            The hard work is all done! Now it’s time to celebrate!
        </div>
    </div>
        <div class="col-xs-12 col-sm-6">
        <a href="/bring_solar_to_your_community/chapter/10/" class="next-button">Next Chapter</a>
    </div>
</div>
{%endblock%}

