{% extends "base/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load wagtailimages_tags %}

{% block head %}

<!-- -->
<script src="{% static 'js/base/homeAnimations.js' %}?version={{ version_number }}"></script>

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css'>
<style>
a {
  outline:none !important;
}
.popup-youtube {
  .youtube-click {
    outline:none;
    width: 50px;
    heignt: 50px;
  }
}
</style>
{% endblock %}

{% block body %}

    <main role="main" class="container-fluid alternate">
      <div class="container-fluid alternate" id="top-section">
        <div class="overlay"></div>
        <video playsinline autoplay muted loop>
          <source src="static/images/home-img/Banner_video2.webm" type="video/webm">
          <source src="static/images/home-img/Banner_video2.mp4" type="video/mp4">
        </video>
        <div class="row text-center">
          <div class="col hero-text align-self-end">
            <h1 class="text-light">Help <span class="txt-rotate fw-700" data-period="2000" data-rotate='[ "Nonprofits", "Schools", "Hospitals", "Shelters", "Churches", "Synagogues", "Food Banks", "VFWs" ]'>Nonprofits</span> Go Solar</h1>
          </div>
        </div>
      </div>
      <div class="container-fluid" id="second-section">
        <div class="scroll-section">
          <div class="scroll-icon">
            <img class="scroll-arrow bouncing" src="static/images/home-img/scroll-icon.png">
          </div>
        </div>
        <div class="row justify-content-center align-items-center h-75">
          <div class="col-sm-12 col-md-10 col-lg-8 text-center">
            <h2 class="purple-text fw-300 mb-5">There are roughly 1.5 million nonprofits in the United States that face major barriers to getting their solar projects financed. <br><span class="fw-700">You can change that.</span></h2>
            {% if active_projects|length == 0 %}
            <a class="btn btn-orange btn-lg btn-arrow-white mx-2" href="/monthly_donor" role="button">DONATE NOW</a>
            {% else %}
            <a class="btn btn-orange btn-lg btn-arrow-white mx-2" href="#section-five" role="button">DONATE NOW</a>
            {% endif %}
            <a class="btn btn-blue btn-lg btn-arrow-orange mx-2" href="/about-us/re-volv/" role="button">Learn more</a>
          </div>
        </div>
      </div>
      <div class="container" id="section-three">
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-12 co-md-10 col-lg-10">
            <div class="row align-items-center">
              <div class="col-sm-12 col-md-5 text-right">
                <h1 class="orange-text">How it works</h1>
                <p class="darken-text fw-300 mb-4">You can help nonprofits across the country immediately save money on their electricity bills by going solar. Saving money means they can better serve their communities, while the remaining energy savings are reinvested into future solar projects. We call this the Solar Seed Fund – a one-of-a-kind, pay-it-forward revolving fund for solar for nonprofits.</p>
                <a class="btn btn-blue btn-me btn-arrow-orange mx-2" href="/monthly_donor/" role="button">PLANT A SEED</a>
              </div>
              <div class="col-sm-12 col-md-7">
                <video autoplay loop muted id="gif-col">
                  <source src="static/images/home-img/animation.mp4" type="video/mp4">
                  <source src="static/images/home-img/animation.webm" type="video/webm">
                  Your browser does not support the video tag.
                </video>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid" id="section-four">
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-12 co-md-10 col-lg-9">
            <div class="row text-center">
              <div class="col-sm-12 mb-3">
                <h1 class="text-white">Our Impact</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-3 no-gutter">
                <div class="impact-col">
                  <img src="static/images/home-img/co-2-img.png">
                  <h4 class="lblue-text fw-700">{{ global_impacts.co2_avoided |floatformat:"0"|intcomma  }} lbs</h4>
                  <p class="fw-700">CO<sub>2</sub><br/> AVOIDED</p>
                </div>
              </div>
              <div class="col-sm-12 col-md-3 no-gutter">
                <div class="impact-col">
                  <img src="static/images/home-img/solar-img.png">
                  <h4 class="lblue-text fw-700">{{ global_impacts.num_projects }}</h4>
                  <p class="fw-700">SOLAR PROJECTS<br/> CROWDFUNDED</p>
                </div>
              </div>
              <div class="col-sm-12 col-md-3 no-gutter">
                <div class="impact-col">
                  <img src="static/images/home-img/care-img.png">
                  <h4 class="lblue-text fw-700">{{ global_impacts.num_people_donated |floatformat:"0"|intcomma }}</h4>
                  <p class="fw-700">PEOPLE<br/> DONATED</p>
                </div>
              </div>
              <div class="col-sm-12 col-md-3 no-gutter">
                <div class="impact-col">
                  <img src="static/images/home-img/team-img.png">
                  <h4 class="lblue-text fw-700">{{ global_impacts.num_people_affected |floatformat:"0"|intcomma }}</h4>
                  <p class="fw-700">COMMUNITY<br /> MEMBERS IMPACTED</p>
                </div>
              </div>
            </div>
          </div>
          {% if fund_main_active_projects|length == 0 %}<span id="newsletter-anchor"></span>{% endif %}
        </div>
      </div>
      {% if fund_main_active_projects|length == 0 %}
      {% else %}
      <div class="container-fluid" id="section-five">
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-12 co-md-12 col-lg-10 text-center">
            <h1 class="blue-text fw-300 mb-5">Active Solar Seed Fund Campaigns</h1>
            <div class="line-section mb-5">
              <div class="line-center"></div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center align-items-center mt-5">
          <div class="col-sm-12 co-md-12 col-lg-10 px-3">
            <div class="campaign-list">
              <!--Campaign one-->
              {% for fund_active_project in fund_main_active_projects %}
              <div class="campaign-col">
                <a href="{% url "project:view" title=fund_active_project.project_url %}">
                  <div class="img-container" style="background-image:url('{{MEDIA_URL}}{{fund_active_project.cover_photo.url }}' ); background-repeat: no-repeat; background-size: 100%;"></div>
                </a>

                <div class="campaign-text">
                  <h5>{{ fund_active_project.title }}</h5>
                  <ul class="progress-text">
                    <li class="current-progress">{{ fund_active_project.percent_complete }}%</li>
                    <li class="target-progress">${{ fund_active_project.amount_donated |floatformat:"0"|intcomma}} <span>of</span> {{ fund_active_project.funding_goal|floatformat:0|intcomma }}</li>
                  </ul>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{ fund_active_project.percent_complete }}%;" 
                    aria-valuenow="{{ fund_active_project.percent_complete }}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="w-100"></div>
                  <a class="btn btn-blue btn-me btn-arrow-orange mt-4" href="{% url "project:view" title=fund_active_project.project_url %}" role="button">Learn More</a>
                </div>
              </div>
              <!--Campaign one end-->
              {% endfor %}
            </div> 
          </div>
          <span id="newsletter-anchor"></span>
        </div>
      </div>
      {% endif %}
      <form id="form1" name="form1" class="wufoo  page" autocomplete="off" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <div class="container-fluid" id="section-six">
          <div class="row justify-content-center align-items-center section-six-row">
            <div class="col-sm-12 co-md-12 col-lg-10">
              <div class="row align-items-center">
                <div class="col-sm-12 col-md-5 text-right text-white">
                  <h2 class="fw-700 mb-3">Newsletter Signup</h2>
                  <p class="fw-300">By subscribing to our mailing list you will always be updated with the latest news from us.</p>
                </div>


                <div class="col-sm-12 col-md-7">
                  <div class="input-group mb-3 subscription-form inputs">
                      <input class="form-control" id="Field0" name="email" type="email" spellcheck="false" value="" maxlength="255" tabindex="1" placeholder="Enter your email address" required>
                      <div class="input-group-append">
                      <button class="btn btn-blue newsletter-signup btn-sign-up" type="button" style="height: 100%;">Sign up</button>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="container-fluid" id="section-seven">
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-12 co-md-12 col-lg-10 text-center">
            <h1 class="blue-text fw-300 mb-5">Featured Projects</h1>
            <div class="line-section mb-5">
              <div class="line-center"></div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center align-items-center mt-5">
          <div class="col-sm-12 co-md-12 col-lg-10 px-3">
            <div class="testimonial-list">
              <!--testimonial one -->
              <div class="testimonial-col">
                <a class="testimonial-img-wrap popup-youtube" href="https://www.youtube.com/watch?v=YRFMFHUyhO4?autoplay=1&rel=0">
                  <img src="static/images/home-img/riverthumb1.jpg">
                  <div class="play-button">
                  </div>
                </a>
                <h5>Veterans of Foreign Wars Post 10804</h5>
                <p>Little River, South Carolina </p>
              </div>
              <!--testimonial one end -->
              <!--testimonial two -->
              <div class="testimonial-col">
                <a class="testimonial-img-wrap popup-youtube" href="https://www.youtube.com/watch?v=4IIasAvTHsg?autoplay=1&rel=0">
                  <img src="static/images/home-img/richmondthumb1.jpg">
                  <div class="play-button">
                  </div>
                </a>
                <h5>True Fellowship Baptist Church</h5>
                <p>Richmond, California </p>
              </div>
              <!--testimonial two end -->
              <!--testimonial 
              <div class="testimonial-col">
                <a class="testimonial-img-wrap" href="https://www.youtube.com/watch?v=Uvbn7GpHLnE" target="_blank" rel="noopener noreferrer"v>
                  <img src="static/images/home-img/Darryl.png">
                  <div class="play-button">
                  </div>
                </a>
                <h5>Darryl Dea</h5>
                <p>President, Other Avenues Food Cooperative</p>
              </div>
              testimonial three end -->
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid" id="section-eight">
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-12 co-md-10 col-lg-10">
            <div class="row align-items-center">
              <div class="col-sm-12 col-md-5 text-right">
                <h1 class="orange-text">Donate</h1>
                <p class="text-white fw-300 mb-4">
                    <span class="fw-700">We believe that everyone should have the ability to support and spread clean energy.</span> So we created a new way for people to take action. It's a pretty simple idea. We crowdsource funding to put solar panels on community-serving nonprofit organizations. As these organizations pay us back, we reinvest the money into more solar projects in communities across the country. This creates a revolving fund for solar energy that continually perpetuates itself building more and more solar. It's a pay-it-forward model for solar energy. <span class="fw-700"> We call it the Solar Seed Fund. </span>
                </p>
              </div>
              <div class="col-sm-12 col-md-7">
                <div class="donate-tabs">
                    <ul class="nav justify-content-center" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tabs-once" role="tab">Give Once</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#tabs-monthly" role="tab">Monthly</a>
                      </li>
                    </ul><!-- Tab panes -->
                    
                    <form action="{% url 'project:stripe_operation_donation' %}" autocomplete="off" id="general_form" method="post" novalidate="" onkeydown="return event.key != 'Enter';">
                    {% csrf_token %}
                    <div class="tab-content">
                      <div class="tab-pane" id="tabs-once" role="tabpanel">
                        <h5 class="blue-text fw-700">Enter an amount to give</h5>
                         <!-- Amount -->
                        <div class="input-group input-group-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                          </div>
                          <input id="donation-inputz" type="number" step="0.01" min="1" oninput="validity.valid||(value='');" value="50" placeholder="Custom"
                          name="donation_amount_cents" class="form-control" aria-label="Amount (to the nearest dollar)">
                          <div class="input-group-append">
                            <span class="postinput input-group-text">USD</span>
                          </div>
                        </div>
                        <!-- Amount -->
                        <div style="height: 4px; margin-bottom: 1.5rem !important; margin-top: 1.5rem !important;"></div>
                        <a id="donate-button" class="w-full show-next-donate-screen stripe-button-el btn btn-orange btn-me btn-arrow-white my-2" role="button" style="color:white;">DONATE</a>
                      </div>
                      </form>
                      <div class="tab-pane active" id="tabs-monthly" role="tabpanel">
                        <h5 class="blue-text fw-700">Enter an amount to give per month</h5>
                        <!-- Amount -->
                        <!-- Form override -->
                        <form action="{% url 'project:stripe_operation_donation' %}" method="POST" onkeydown="return event.key != 'Enter';">
                            {% csrf_token %}                        
                          <!-- Form override -->
                          <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                              <span class="input-group-text preinput">$</span>
                            </div>
                            <!-- main stripe -->
                            <input id="donation-inputz" type="number" step="0.01" min="1" oninput="validity.valid||(value='');" value="50" placeholder="Custom"
                            name="donation_amount_in_cents" class="form-control" aria-label="Amount (to the nearest dollar)">
                            <input name="metadata" value="1.00" type="hidden">
                            <input name="check" value="checked" type="hidden">  
                            <!-- main stripe -->
                            <div class="input-group-append">
                              <span class="postinput input-group-text">USD/month</span>
                            </div>
                          </div>
                          
                          <div style="height: 4px; margin-bottom: 1.5rem !important; margin-top: 1.5rem !important;"></div>
                          <!-- main stripe -->
                          <a id="donate-button" class="w-full show-next-donate-screen stripe-monthly-donation-button-el btn btn-orange btn-me btn-arrow-white my-2 " role="button" style="color:white; width:100%;">DONATE MONTHLY</a>
                          <!-- main stripe -->
                          <!-- Form override -->
                        <!-- Amount -->
                        </form>
                      </div>
                    </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid" id="section-nine">
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-12 co-md-12 col-lg-12 text-center">
            <h1 class="blue-text fw-300 mb-5">Featured in</h1>
            <div class="line-section mb-5">
              <div class="line-center"></div>
            </div>
            <div class="row justify-content-center align-items-center featured-imgs">
              <div class="col-sm-3 col-md-2 featured-logo">
                <img src="static/images/home-img/nyt-img.png">
              </div>
              <div class="col-sm-3 col-md-2 featured-logo">
                <img src="static/images/home-img/sa-img.png">
              </div>
              <div class="col-sm-3 col-md-2 featured-logo">
                <img src="static/images/home-img/sslogo-img.png">
              </div>
              <div class="col-sm-3 col-md-2 featured-logo">
                <img src="static/images/home-img/forbes-img.png">
              </div>
              <div class="col-sm-3 col-md-2 featured-logo">
                <img src="static/images/home-img/whouse-img.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </main><!-- /.container -->

  <script>
  $(document).ready(function() {
      $('.popup-youtube, .popup-vimeo, .popup-gmaps').magnificPopup({
          type: 'iframe',
          mainClass: 'mfp-fade',
          preloader: true,
      });
  });

  </script>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js'></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>
    <script src="{% static 'js/home-js/script.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script>
      $(function ($) {
      var handler = StripeCheckout.configure({
        key: '{{ stripe_publishable_key }}'
        , image: '{% static "images/revolvorange.png" %}'
        , locale: 'auto'
        , name: 'RE-volv'
        , email: '{{request.user.email}}'
      });
      $(window).on('popstate', function () {
        handler.close();
      });
      $('.stripe-monthly-donation-button-el').on('click', function (e) {
        e.preventDefault();
        var $form = $(this).closest('form');
        var serialized = $form.serializeArray();
        var endpoint = $form.attr('action');
        var amount, metadata;
        $.each(serialized, function () {
          if (this.name === 'donation_amount_in_cents') {
            amount = this.value*100;
          }
          if (this.name === 'metadata') {
            metadata = this.value;
          }
        });
        if (typeof amount !== 'undefined') {
          handler.open({
            description: 'Donate $' + parseFloat((amount / 100).toFixed(2)).toLocaleString()
            , amount: amount
            , metadata: metadata
            , panelLabel: "Donate Monthly"
            , token: function (token) {
              var id = token.id;
              var email = token.email;
              var $id = $('<input>')
                .attr('type', 'hidden')
                .attr('name', 'stripeToken')
                .val(id);
              var $email = $('<input>')
                .attr('type', 'hidden')
                .attr('name', 'stripeEmail')
                .val(email);
              $id.appendTo($form);
              $email.appendTo($form);
              $form.submit(function(e) {
              $('#donation-spinner').css('display', 'flex');
              $.ajax({
                     type: "POST",
                     url: '{% url 'project:stripe_operation_donation' %}',
                     data: $form.serializeArray(), // serializes the form's elements.
                     success: function(data)
                     {
                        if(data.status == 'donation_success') {
                            $('.modal-title').text('Thank you for donating!');
                            $('.donation-text').text("Thank you for donating $" +data.amount + " to RE-volv's mission to empower communities with solar energy!");
                        }
                        if(data.status == 'subscription_success') {
                            $('.modal-title').text('Thank you for donating!');
                            $('.donation-text').text("Thank you for donating $" +data.amount + " monthly to RE-volv's mission to empower communities with solar energy!");
                        }
                        if(data.status == 'already_exist') {
                            $('.modal-title').text('Donation already exist');
                            $('.donation-text').text("Thank you for showing interest, you are already subscribe for monthly donation!");
                        }
                        $('#donation-spinner').css('display', 'none');
                        $('#operationModal').modal('show');
    
                     },
                     error: function(data)
                     {
                        $('.modal-title').text('Error!');
                        $('.donation-text').text("Payment error. Something went wrong.");
                         $('#donation-spinner').css('display', 'none');
                        $('#operationModal').modal('show');
                     }
                   });
    
              e.preventDefault(); // avoid to execute the actual submit of the form.
            });
              $form.trigger('submit');
            }
          });
        }
      });
    });
    </script>
    <script>
        function acceleratorClearInput() {
        $('input[name=check]').prop('checked', true);
        $('input[name=donation_amount_cents]').val('');
        $(".monthly-plan-msg").hide();
        $(".donate-popup .next-button").css("background-color", "#9a9a9a");
        $(".donate-popup .next-button").removeClass("stripe-button-el");
       $(".donate-popup .next-button").addClass("disable-donation-btn");
     }
    </script>

{% endblock %}