{% extends "base/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load wagtailimages_tags %}

{% block title %}Home | {% endblock %}
{% block head %}
    <script type="text/javascript">
        window.PARTIAL_COMPLETENESS = {{ first_project.partial_completeness_as_js }};
        var js_urls = {
            'newsletter-bg.jpg': '{% static "images/newsletter-bg.jpg" %}',
            'small-newsletter-bg.jpg': '{% static "images/small/small-newsletter-bg.jpg" %}'
        };

    </script>
    <script src="{% static 'js/base/homeAnimations.js' %}?version={{ version_number }}"></script>
    <script src="{% static 'js/mediaelement-and-player.min.js' %}"></script>
    <link href="{% static 'css/mediaelementplayer.min.css' %}" rel="stylesheet" />
    <link href="{% static 'dist/css/pages/home/index.css' %}" rel="stylesheet" />
<link href="{% static 'css/slick.css' %}?version={{ version_number }}" rel="stylesheet" />
    <link href="{% static 'css/slick-theme.css' %}?version={{ version_number }}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css?version={{ version_number }}">
<style>

    .carousel-indicators li {
      border: 0;
      background-color: grey;
    }
    .carousel-indicators .active {
        background-color: #fff;
    }

    .next-button {
        margin-top: -10px !important;
        font-size: 0.85em !important;
    }

    .menu-list {
        position: absolute;
        background-image: linear-gradient(to bottom,transparent 0,transparent 100%);
        background-color: transparent;
        border: transparent;
        border-radius: 0px;
        box-shadow: none;
    }
    * {
      box-sizing: border-box;
    }

    .slider {
        width: 100%;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }

</style>

{% endblock %}
{% block body_class %}class="home-page-content"{% endblock %}

{% block nav %}

<div class="modal fade" id="newslettermodal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->

      <div class="modal-content" style="width: 80%;margin-top: 30%;margin-left: 8%;">
        <div class="modal-header">
          <button type="button" class="close close-newsletter" data-dismiss="modal" >&times;</button>
            <h4 class="modal-title" style="font-weight: bold;">Success</h4>
        </div>
        <div class="modal-body">
            <p class="donation-text"></p>
        </div>
        <div class="modal-footer align-center">
            <a href="" class="btn btn-primary newsletter-ok-btn">OK</a>
        </div>
      </div>

    </div>
</div>

<header class="header top-section-header" id="home-page">
  <div class="container">
   <div class="container">
       <a class="navbar-brand logo-home" href="#"></a>
        <!-- Static navbar -->
        <div class="navbar navbar-default menu-list">
            <div class="navbar-header">
                <button type="button" id="collbtn" class="navbar-toggle hamburger_color" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                </button>

            </div>
        </div>
        <div class="navbar-collapse collapse background-collapse-color">
                <ul class="nav">
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'dashboard' %}" class="dropdown">MY PORTFOLIO</a>
                        </li>
                        <li class="dropdown this-works"> <a href="{% url 'logout' %}" class="dropdown">SIGN OUT</a>
                        </li>
                    {% else %}
                         <li><a href="{% url 'signin' %}#signup" class="dropdown">SIGN UP</a>
                        </li>
                        <li class="dropdown this-works"> <a href="{% url 'signin' %}#login" class="dropdown">SIGN IN</a>
                        </li>
                    {% endif %}
                    <li class="dropdown this-doesnt"> <a href="#" onclick="return clearInput();" class="dropdown" data-toggle="modal" data-target="#popup">DONATE</a>
                    </li>
                </ul>
            </div>
    <!-- end .logo -->
    <div class="rights pull-right">
      <div class="txt pull-left">

        {% if request.user.is_authenticated %}
          <!--<li class="user-controls has-dropdown">-->
            <a href="{% url 'dashboard' %}" class="btn-blue pull-left btn-donate">MY PORTFOLIO</a>
            <!--<a href="{% url 'logout' %}" class="btn-blue pull-left btn-donate">SIGN OUT</a>-->

          <!--</li>-->
          {% else %}
            <a href="{% url 'signin' %}#signup" class="component-link btn-blue pull-left btn-donate" data-component="signup">SIGN UP</a>
            <a href="{% url 'signin' %}#login" class="component-link btn-blue pull-left btn-donate" data-component="login">SIGN IN</a>
        {% endif %}
        <!--<a href="#" onclick="return clearInput();" class="component-link pull-left btn-blue btn-donate" data-toggle="modal" data-target="#popup">DONATE</a>-->
{#        <a href="{%url 'faithbaptistchurch' %}" onclick="return clearInput();" class="component-link pull-left btn-blue btn-donate">DONATE</a>#}
        <a href="#" onclick="return clearInput();" class="component-link btn-blue pull-left btn-donate" data-toggle="modal" data-target="#popup">DONATE</a>
        {% if request.user.is_authenticated %}
          <div class="container1" data-toggle="collapse" data-target=".navbar-collapse-settings">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div>
          <div class="navbar-collapse-settings collapse background-collapse-color" >
                <ul class="nav navbar-collapse-border">

                    <li><a href="{% url 'account_settings' %}" class="dropdown">ACCOUNT SETTINGS</a>
                    </li>
                    <li> <a href="{% url 'logout' %}" class="dropdown">SIGN OUT</a>
                    </li>
                </ul>
            </div>
        {% endif %}
      </div>
      <!--<a href="#" onclick="return clearInput();" class="component-link btn-blue btn-donate" data-toggle="modal" data-target="#popup">DONATE</a>-->
      <!--<a #data-target="popup" data-toggle="modal" class=" btn-blue btn-donate pull-left after-scroll">DONATE NOW</a>-->
    </div>
  </div>
    </div>
</header>
{% endblock %}


{% block body %}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="10000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel"  data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item carousel-fourth-img active">
      <div class="text_overlay">
        <div class="text_content">
          <div class="space_btn_element">
            <span class="CREATE_CLEAN_ENERGY">LEONARDO DICAPRIO FOUNDATION<br>PARTNERS WITH RE-VOLV</span>
          </div>
          <div class="space_btn_element">
            <span class="Bring_solar_energy__to_communities_around_the_c">Join LDF in supporting <br>solar energy!</span>
          </div>

        </div>
        <div class="how-it-works-button">
            <a href="#" onclick="return monthlydonorClearInput();" class="How_it_Works space_btn_element" data-toggle="modal" data-target="#popup" >Become a Monthly Donor</a>
{#            <a href="{%url 'faithbaptistchurch' %}" class="How_it_Works space_btn_element">Donate Now</a>#}
        </div>
        <div class="learn-more"><a href="{%url 'leo_page' %}" ><span class="learn-more-text"><i>Learn more</i></span></a></div>
      </div>
      <img class="background-image-size_home" src="static/images/Leonardo_Dicaprio_3.jpg" alt="Leonardo Dicaprio">
    </div>

    <div class="item carousel-second-img">
      <div class="text_overlay">
        <div class="text_content">
          <div class="space_btn_element">
            <span class="CREATE_CLEAN_ENERGY">COMMUNITY-DRIVEN SOLUTIONS <br>TO CLIMATE CHANGE</span>
          </div>
          <div class="space_btn_element">
            <span class="Bring_solar_energy__to_communities_around_the_c">We all can play a role in solving climate change.</span>
          </div>
        </div>
        <div class="how-it-works-button">
            <a href="/what-we-do/projects/" class="How_it_Works space_btn_element">Support solar energy</a>
          </div>
      </div>

      <img class="background-image-size_home"  src="static/images/revolv_background2@1500*500.jpg" alt="RE-volv background image">
    </div>

    <div class="item carousel-first-img" >
      <div class="text_overlay">
        <div class="text_content">
          <div class="space_btn_element">
            <span class="CREATE_CLEAN_ENERGY">CREATE<br>CLEAN ENERGY</span>
          </div>
          <div class="space_btn_element">
            <span class="Bring_solar_energy__to_communities_around_the_c">Bring solar energy to<br>your community.</span>
          </div>
        </div>
        <div class="how-it-works-button">
            <a href="/bring_solar_to_your_community/" class="How_it_Works space_btn_element">Start a project</a>
          </div>
      </div>

      <img class="background-image-size_home" src="static/images/revolv_background1@1500*500.jpg" alt="RE-volv background image">
    </div>
    <div class="item carousel-third-img">
      <div class="text_overlay">
        <div class="text_content">
          <div class="space_btn_element">
            <span class="CREATE_CLEAN_ENERGY">BUILDING COMMUNITY<br>THROUGH SOLAR</span>
          </div>
          <div class="space_btn_element">
            <span class="Bring_solar_energy__to_communities_around_the_c">Helping communities thrive.<br>One solar panel at a time.</span>
          </div>

        </div>
        <div class="how-it-works-button">
            <a href="#how_it_works" class="How_it_Works space_btn_element">How It Works</a>
          </div>
      </div>
      <img class="background-image-size_home" src="static/images/revolv_background3@1500*500.jpg" alt="RE-volv background image">
    </div>

  </div>

  <a class="Ellipse_543 left carousel-control arrow-left"  href="#myCarousel" role="button" data-slide="prev">
      <div style="position:relative;">
          <span class=" glyphicon glyphicon-chevron-left next-button carousel-prev-button" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </div>
  </a>
  <a class="Ellipse_543 right carousel-control arrow-right"  href="#myCarousel" role="button" data-slide="next">
      <div style="position:relative;">
          <span class=" glyphicon glyphicon-chevron-right next-button carousel-next-button" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </div>
  </a>
</div>
<div class="modal-body imageContainer join-mov-btn-cntnr" style="background-image: url(static/images/revolv_blue_background.jpg);">
  <div class="text_on_blue_image"><span>Want to see solar energy spread rapidly across the country?</span><span><b> Join The Movement.</b></span></div>
  <div class="col-xs-12 join-mov-btns-cntnr">
      <div class="col-xs-4 join-mov-btns">
         <a class="Go_Solar_at_Home column-left"  href="{% url 'projects_list' %}"><span class="yellow-buttons">Fund Solar Energy Projects</span></a>
      </div>
      <div class="col-xs-4 join-mov-btns">
        <a class="Go_Solar_at_Home column-right"  href="{% url 'bring_solar_to_your_community' %}"><span class="yellow-buttons">Bring Solar to Your Community</span></a>
      </div>
      <div class="col-xs-4 join-mov-btns">
        <a  class="Go_Solar_at_Home column-center" href="{% url 'solar_at_home' %}"><span class="yellow-buttons">Go Solar at Home</span></a>
      </div>
  </div>
</div>


{% if active_projects %}
<div id="active-projects" class="active-projects-module animated">
  <div class="container">
       <div class="title-blue-border title-active-projects">ACTIVE PROJECTS</div>
    <div class="row">
            {% for active_project in active_projects %}
                  <div class="col-md-4 join-mov-btns">
                    <div class="module-box">
                      <div class="img-main">
                        <a href="{% url "project:view" title=active_project.project_url %}" class="img-link">
                          <span class="txt-table">
                            <span class="txt">
                                {{ active_project.title }}
                            </span>
                          </span>
                          <div class="img" style="background-image:url('{{MEDIA_URL}}{{active_project.cover_photo.url }}' )"></div>
                        </a>
                        <div class="funded-round">
                          <div class="status-circular">
                            <span class="status-text">
                              <span class="round-depict"><span>OF</span> ${{ active_project.funding_goal|floatformat:0|intcomma }}</span>
                            </span>
                            <!-- end .status-text -->
                            <div class="status-indicator desktop-circle">
                              <input type="text" value="{{ active_project.percent_complete }}" data-min="0" data-width="105" data-height="105" data-bgcolor="#fff" data-fgcolor="#14b1e7" data-max="100" data-readonly="true" data-thickness=".24">
                            </div>
                            <div class="status-indicator small-circle">
                              <input type="text" value="{{ active_project.percent_complete }}" data-min="0" data-width="92" data-height="92" data-bgcolor="#fff" data-fgcolor="#14b1e7" data-max="100" data-readonly="true" data-thickness=".2">
                            </div>
                            <div class="status-indicator tablet-circle">
                              <input type="text" value="{{ active_project.percent_complete }}" data-min="0" data-width="200" data-height="200" data-bgcolor="#fff" data-fgcolor="#14b1e7" data-max="100" data-readonly="true" data-thickness=".12">
                            </div>
                            <div class="status-indicator mobile-circle">
                              <input type="text" value="{{ active_project.percent_complete }}" data-min="0" data-width="98" data-height="98" data-bgcolor="#fff" data-fgcolor="#14b1e7" data-max="100" data-readonly="true" data-thickness=".12">
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- end .img-main -->
                      <div class="info-main">
                        <div class="blue-bar">
                          <span class="pull-left">${{ active_project.amount_donated|floatformat:"2"|intcomma }}</span>
                          <span class="pull-right">{{ active_project.days_left }} Days Left</span>
                        </div>
                        <!-- end .blue-bar -->
                        <div class="dark-blue-bar">
                          <span class="pull-left actual-energy">{{ active_project.get_statistic_for_project|floatformat:"0"|intcomma }} lbs CO<sub>2</sub></span>
                          <span class="pull-right">{{ active_project.donors.count }} Donors</span>
                        </div>
                        <!-- end .blue-bar -->
                      </div>
                      <!-- end .info-main -->
                    </div>
                    <!-- end .module-box -->
                  </div>
            {% endfor %}
    </div>
  </div>
</div>
{% endif %}
<!-- end .active-projects-module -->

<div class="active-projects-module animated">
  <div class="container">
      <div class="title-blue-border title-active-projects">COMPLETED PROJECTS</div>
    <div class="row">
        <div class="regular slider">

            {% for completed_project in completed_featured_projects %}
                <div>
                  <div class="join-mov-btns">
                    <div class="module-box">
                      <div class="img-main">
                        <a href="{% url "project:view" title=completed_project.project_url %}" class="img-link">
                          <span class="txt-table">
                            <span class="txt">
                                {{ completed_project.title }}
                            </span>
                          </span>
                          <div class="img" style="background-image:url('{{MEDIA_URL}}{{completed_project.cover_photo.url }}' )"><span class="completed_project"><img src="/static/images/COMPLETED.png" alt="Project is completed" ></span></div>
                        </a>
                        <div class="funded-round">
                          <div class="status-circular">
                            <span class="status-text">
                              <span class="round-depict"><span>OF</span> ${{ completed_project.funding_goal|floatformat:0|intcomma }}</span>
                            </span>
                            <!-- end .status-text -->
                            <div class="status-indicator desktop-circle">
                              <input type="text" value="{{ completed_project.percent_complete }}" data-min="0" data-width="105" data-height="105" data-bgcolor="#fff" data-fgcolor="#14b1e7" data-max="100" data-readonly="true" data-thickness=".24">
                            </div>
                            <div class="status-indicator small-circle">
                              <input type="text" value="{{ completed_project.percent_complete }}" data-min="0" data-width="92" data-height="92" data-bgcolor="#fff" data-fgcolor="#14b1e7" data-max="100" data-readonly="true" data-thickness=".2">
                            </div>
                            <div class="status-indicator tablet-circle">
                              <input type="text" value="{{ completed_project.percent_complete }}" data-min="0" data-width="200" data-height="200" data-bgcolor="#fff" data-fgcolor="#14b1e7" data-max="100" data-readonly="true" data-thickness=".12">
                            </div>
                            <div class="status-indicator mobile-circle">
                              <input type="text" value="{{ completed_project.percent_complete }}" data-min="0" data-width="98" data-height="98" data-bgcolor="#fff" data-fgcolor="#14b1e7" data-max="100" data-readonly="true" data-thickness=".12">
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- end .img-main -->
                      <div class="info-main">
                        <div class="blue-bar">
                          <span class="pull-left">${{ completed_project.amount_donated|floatformat:"0"|intcomma }}</span>
                          <span class="pull-right">{{ completed_project.days_left }} Days Left</span>
                        </div>
                        <!-- end .blue-bar -->
                        <div class="dark-blue-bar">
                          <span class="pull-left actual-energy">{{ completed_project.get_statistic_for_project|floatformat:"0"|intcomma}} lbs CO<sub>2</sub></span>
                          <span class="pull-right">{{ completed_project.donors.count }} Donors</span>
                        </div>
                        <!-- end .blue-bar -->
                      </div>
                      <!-- end .info-main -->
                    </div>
                    <!-- end .module-box -->
                  </div>
                </div>
            {% endfor %}

        </div>
    </div>
  </div>
</div>
<!-- end .active-projects-module -->

<div class="our-impacts-module animated">
  <div class="container">
    <div class="title-blue-border title-our-impacts">OUR IMPACTS</div>
    <div class="row">
      <div class="col-md-3">
        <div class="module-box">
          <span class="icons icon-people"></span>
          <span class="titles font48">{{ global_impacts.num_people_donated }}</span>
          <p class="txt">people donated</p>
        </div>
        <!-- end .module-box -->
      </div>
      <div class="col-md-3">
        <div class="module-box">
          <span class="icons icon-home-ok"></span>
          <span class="titles font48">{{ global_impacts.num_projects }}</span>
          <p class="txt">
			solar projects
			installed
		  </p>
        </div>
        <!-- end .module-box -->
      </div>
      <div class="col-md-3">
        <div class="module-box">
          <span class="icons icon-tree"></span>
          <span class="titles font48">{{ global_impacts.co2_avoided  }}<span class="font20">lbs</span></span>
          <p class="txt">CO<span class="position"><span class="font10">2</span></span> AVOIDED</p>
        </div>
        <!-- end .module-box -->
      </div>
      <div class="col-md-3">
        <div class="module-box">
          <span class="icons icon-user"></span>
          <span class="titles font48">{{ global_impacts.num_people_affected }}</span>
          <p class="txt">
            COMMUNITY MEMBERS
            IMPACTED
          </p>
        </div>
        <!-- end .module-box -->
      </div>
    </div>
  </div>
</div>
<!-- end .our-impacts-module -->

<div class="how-it-works-module animated">
  <div class="container">
    <div id="how_it_works" class="title-blue-border title-active-projects" style="margin: 72px auto 53px auto;">SOLAR SEED FUND</div>
    <!--<div id="how_it_works" class="title-blue-border title-how-it-works">{{ settings.revolv_cms.MainPageSettings.how_it_works_heading|upper }}</div>-->
    <div class="row info-row" style="padding-top: 0;">
      <div class="infographic">
        <img class="background-image-size_home" width="100%" src="static/images/infographic1.png" alt="Leonardo Dicaprio">
      </div>
      <div class="video-area pull-right">
        <div class="video">
          <iframe src="{{ settings.revolv_cms.MainPageSettings.how_it_works_video_url }}" allowfullscreen></iframe>
        </div>
      </div>
      <div class="txt-area">
        <div class="txt-table">
          <div class="txt-td">
              <p>{{ settings.revolv_cms.MainPageSettings.how_it_works_intro }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- end .info-row -->
    <div class="row step-row">
      <div id="step-carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#step-carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#step-carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#step-carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

        <!-- Controls -->
        <a class="left carousel-control" href="#step-carousel-example-generic" role="button" data-slide="prev">
          <span class="icons icon-arrow-left" aria-hidden="true"></span>
        </a>
        <a class="right carousel-control" href="#step-carousel-example-generic" role="button" data-slide="next">
          <span class="icons icon-arrow-right" aria-hidden="true"></span>
        </a>
      </div>
      <!-- end .carousel -->
    </div>
    <!-- end .step-row -->
  </div>
</div>
<!-- end .how-it-works-module -->

<div class="testimonial-module animated">
  <div class="container">
    <div class="title-blue-border title-testimonial">TESTIMONIALS</div>
    <div class="row head-row">
      <ul>
        {% with testimonial_image="images/testimonials/enio_ximenes.png" testimonial_image_mobile="images/testimonials/enio_ximenes.png" %}
          {% include "base/partials/testimonial-head.html" %}
        {% endwith %}
        {% with testimonial_image="images/testimonials/darryl_dea.png" testimonial_image_mobile="images/testimonials/darryl_dea.png" %}
          {% include "base/partials/testimonial-head.html" %}
        {% endwith %}
        {% with testimonial_image="images/testimonials/rebecca_johnson.jpg" testimonial_image_mobile="images/testimonials/rebecca_johnson.jpg" testimonial_active=True %}
          {% include "base/partials/testimonial-head.html" %}
        {% endwith %}
        {% with testimonial_image="images/testimonials/Jennifer_martin_color.jpg" testimonial_image_mobile="images/testimonials/Jennifer_martin_color.jpg" %}
          {% include "base/partials/testimonial-head.html" %}
        {% endwith %}
        {% with testimonial_image="images/testimonials/ralph_silber.png" testimonial_image_mobile="images/testimonials/ralph_silber.png" %}
          {% include "base/partials/testimonial-head.html" %}
        {% endwith %}
		{% with testimonial_image="images/testimonials/nathan_chan.png" testimonial_image_mobile="images/testimonials/nathan_chan.png" %}
          {% include "base/partials/testimonial-head.html" %}
        {% endwith %}
      </ul>
    </div>
    <!-- end .head-row -->
    {% with testimonial_name="Enio Ximenes" testimonial_position="Donor" testimonial_text="I had the pleasure to see one of RE-volv’s projects right in my neighborhood, at a worker-owned grocery co-op called Other Avenues. I try to volunteer on the solar installs as much as I can and I grab every chance I can get to raise funds for RE-volv because I know that every dollar is well spent, and will be used over and over again to bring positive change and progress while helping other nonprofits that are doing important work." %}
      {% include "base/partials/testimonial-info-area.html" %}
    {% endwith %}

    {% with testimonial_name="Darryl Dea" testimonial_position="President, Other Avenues Food Cooperative" testimonial_text="Over the years I’d been looking at different possibilities and then RE-volv came around, and it was like the perfect fit for us! Contributing to this revolving fund that’s going to, futher down the line, help out other co-ops and nonprofits, we’re excited about that. This is going to save us in the neighborhood of $300,000 over the course of 20 years!" %}
      {% include "base/partials/testimonial-info-area.html" %}
    {% endwith %}

    {% with testimonial_name="Rebecca Johnson" testimonial_position="Executive Director, Shawl-Anderson Dance Center" testimonial_text="We’re really excited and honored to be the first project for RE-volv. We’d been looking to go solar for quite a few years, and when Andreas came to us and proposed this amazing plan, it was like a perfect fit. This is another reason for people to say ‘yes,’ to being here, and another reason to love being here." testimonial_active=True %}
      {% include "base/partials/testimonial-info-area.html" %}
    {% endwith %}

    {% with testimonial_name="Jennifer Martin" testimonial_position="Chair, RE-volv Board of Directors; Executive Director, Center for Resource Solutions" testimonial_text="What’s really inspiring about RE-volv and what excites me about being involved in the organization is the real tangible feeling you get when you can actually see the results of the labor." %}
      {% include "base/partials/testimonial-info-area.html" %}
    {% endwith %}

    {% with testimonial_name="Ralph Silber" testimonial_position="Greening Committee Chair, Kehilla Community Synagogue" testimonial_text="One of our basic values is about community and community building and the importance of that. And because of the crowdfunding model that RE-volv uses, it fit perfectly with our idea. Even if somebody would have handed us a check for the money we needed, that wouldn’t have been our first choice, because by doing the fundraising we were accomplishing one of our other goals which is informing more people about the availability of solar." %}
      {% include "base/partials/testimonial-info-area.html" %}
    {% endwith %}

	{% with testimonial_name="Nathan Chan" testimonial_position="Donor" testimonial_text="I support RE-volv because after meeting with the team, I could not imagine working with a more sincere, dedicated, and knowledgeable set of people, especially on the scale of the climate problem. They are also solving a very unique problem in the transition to clean energy, targeting the non-profits who do not benefit from current subsidies, while figuring out a way to empower those of us who want to do something, but are not sure how." %}
      {% include "base/partials/testimonial-info-area.html" %}
    {% endwith %}
  </div>
</div>
<!-- end .testimonial-module -->

<div class="featured-on-module animated">
  <div class="container">
    <div class="title-blue-border title-featured-on">FEATURED IN</div>
    <div class="carousel-main">
      <div id="featured-on-example-generic" class="carousel slide desktop-show" data-ride="carousel" data-interval="">
        <!-- Indicators -->
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <ul class="logo-ul">
              <li><a href="/what-we-do/media/" class="logo logo-forbes"></a></li>
              <li><a href="/what-we-do/media/" class="logo logo-whitehouse"></a></li>
              <li><a href="/what-we-do/media/" class="logo logo-doe"></a></li>
              <li><a href="/what-we-do/media/" class="logo logo-ehe-new-hork-eimes"></a></li>
              <li><a href="/what-we-do/media/" class="logo logo-fast-mpany"></a></li>
            </ul>
          </div>
          <!-- end .item -->
          <div class="item">
            <ul class="logo-ul">
              <!--<li><a href="/what-we-do/media/" class="logo logo-shareable"></a></li>-->
              <li><a href="/what-we-do/media/" class="logo logo-philanthropy"></a></li>
              <li><a href="/what-we-do/media/" class="logo logo-scientific-american"></a></li>
              <li><a href="/what-we-do/media/" class="logo logo-grist"></a></li>
              <li><a href="/what-we-do/media/" class="logo logo-treehugger"></a></li>
              <!--<li><a href="/what-we-do/media/" class="logo logo-ehe-new-hork-eimes"></a></li>-->
              <li><a href="/what-we-do/media/" class="logo logo-clean-technica"></a></li>
            </ul>
          </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#featured-on-example-generic" role="button" data-slide="prev">
          <span class="icons icon-arrow-left" aria-hidden="true"></span>
        </a>
        <a class="right carousel-control" href="#featured-on-example-generic" role="button" data-slide="next">
          <span class="icons icon-arrow-right" aria-hidden="true"></span>
        </a>
      </div>
      <!-- end .carousel -->

      <div id="mobile-featured-on-example-generic" class="carousel slide desktop-show" data-ride="carousel" data-interval="">
        <!-- Indicators -->
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <ul class="logo-ul">
              <li><a href="/what-we-do/media/" class="logo logo-ehe-new-hork-eimes"></a></li>
              <li><a href="/what-we-do/media/" class="logo logo-shareable"></a></li>
              <li><a href="/what-we-do/media/" class="logo logo-philanthropy"></a></li>
            </ul>
          </div>
          <!-- end .item -->
          <div class="item">
            <ul class="logo-ul">
              <li><a href="/what-we-do/media/" class="logo logo-fast-mpany"></a></li>
              <li><a href="/what-we-do/media/" class="logo logo-clean-technica"></a></li>
              <li><a href="/what-we-do/media/" class="logo logo-shareable"></a></li>
            </ul>
          </div>
          <!-- end .item -->
          <div class="item">
            <ul class="logo-ul">
              <li><a href="/what-we-do/media/" class="logo logo-philanthropy"></a></li>
              <li><a href="/what-we-do/media/" class="logo logo-fast-mpany"></a></li>
              <li><a href="/what-we-do/media/" class="logo logo-ehe-new-hork-eimes"></a></li>
            </ul>
          </div>
          <!-- end .item -->
          <div class="item">
            <div class="logo-ul">
              <li><a href="/what-we-do/media/" class="logo logo-forbes"></a></li>
              <li><a href="/what-we-do/media/" class="logo logo-whitehouse"></a></li>
              <li><a href="/what-we-do/media/" class="logo logo-doe"></a></li>
            </div>
          </div>
           <div class="item">
            <div class="logo-ul">
              <li><a href="/what-we-do/media/" class="logo logo-treehugger"></a></li>
            </div>
          </div>
          <!-- end .item -->
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#mobile-featured-on-example-generic" role="button" data-slide="prev">
          <span class="icons icon-arrow-left" aria-hidden="true"></span>
        </a>
        <a class="right carousel-control" href="#mobile-featured-on-example-generic" role="button" data-slide="next">
          <span class="icons icon-arrow-right" aria-hidden="true"></span>
        </a>
      </div>
      <!-- end .carousel -->


    </div>
    <!-- end .carousel-main -->
  </div>
</div>
<!-- end .featured-on-module -->

<div id="newsletter" class="newsletter-module">
  <div class="parallax-window" id="parallax-anchor"></div>
  <div class="img-preload">
    <!-- <img src="{% static 'images/small/small-newsletter-bg.jpg' %}" class="small-img" alt="">  -->
    <!-- <img src="{% static 'images/mobile/mobile-newsletter-bg.jpg' %}" class="mobile-img" alt=""> -->
  </div>
  <div class="container animated">
    <div class="title-white-border title-newsletter">NEWSLETTER SIGNUP</div>
    <div class="group-main">
      <p>Get our all updates</p>
      <div class="group hidden-xs">
         <form id="form1" name="form1" class="wufoo  page" autocomplete="off" enctype="multipart/form-data" novalidate>
          {% csrf_token %}
		  <a class="btn-blue newsletter-signup btn-sign-up">SIGN UP</a>
          <span class="inputs"><input id="Field0" name="email" type="email" spellcheck="false" value="" maxlength="255" tabindex="1" placeholder="youareawesome@example.com" required /></span>
          <div style='height: 0px; overflow: hidden'><label for="comment">Do Not Fill This Out</label>
            <textarea name="comment" id="comment" rows="1" cols="1" ></textarea>
          </div>
          <input type="hidden" id="idstamp" name="idstamp" value="9X+cjERjxi6m2dDjRLw2bzjqm4tI/nry48G0TQb8qtk=" />
        </form>

      </div>
        <div class="mobile-form-group hidden-sm hidden-md hidden-lg">
        <form id="form2" name="form2" class="wufoo  page" autocomplete="off" enctype="multipart/form-data" novalidate>
          <span class="inputs"><input id="Field0" name="Field0" type="email" spellcheck="false" value="" maxlength="255" tabindex="1" placeholder="youareawesome@example.com" required /></span>
          <a class="btn-blue newsletter-signup btn-sign-up">SIGN UP</a>
          <div style='height: 0px; overflow: hidden'><label for="comment">Do Not Fill This Out</label>
          <textarea name="comment" id="comment" rows="1" cols="1" ></textarea>
          </div>
          <input type="hidden" id="idstamp" name="idstamp" value="9X+cjERjxi6m2dDjRLw2bzjqm4tI/nry48G0TQb8qtk=" />
        </form>

      </div>

    </div>
    <!-- end .group-main -->
  </div>
</div>
</div>
<!-- end .newsletter-module -->
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key={{GOOGLEMAPS_API_KEY}}">
</script>
<script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>
<script type="text/javascript">

  $(document).on('ready', function() {

      $(".regular").slick({
        arrows:true,
        infinite: true,
        speed: 1000,
        slidesToShow: 3,
        slidesToScroll: 3,
        responsive: [
            {
              breakpoint: 991,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
                infinite: true,
                arrows:true
              }
            }
          ]
      });

    });
</script>
<script>
    function monthlydonorClearInput() {
    $('input[name=check]').prop('checked', true);
    $('input[name=donation_amount_cents]').val('');
    $(".monthly-plan-msg").hide();
    $(".donate-popup .next-button").css("background-color", "#9a9a9a");
    $(".donate-popup .next-button").removeClass("stripe-button-el");
   $(".donate-popup .next-button").addClass("disable-donation-btn");
 }
</script>

{% endblock %}