{% extends "base/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load wagtailimages_tags %}

{% block title %}Home | {% endblock %}
{% block head %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/bring_solar_at_community.css?version={{ version_number }}">
        <link rel="stylesheet" type="text/css" href="/static/css/intake_form.css?version={{ version_number }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="/static/js/base/bring_solar_at_home.js?version={{ version_number }}"></script>
        <script src="/static/js/base/jquery.cookie.js"></script>

        <style>
        .hidden {
            display: none!important
        }    
        </style>
    
{%endblock%}

{% block body %}

    <div class="container-fluid ambassador-header" id="top-section" style="height: 260px;">
      <div class="row text-center">
        <div class="col hero-text">
          <h1 class="text-light" style="margin-top:90px;">Bring Solar to Your <br />Community</h1>
        </div>
      </div>
    </div>
    <div class="container-fluid scroll-section" id="scroll-section">
        <div class="scroll-icon">
          <img class="scroll-arrow bouncing" src="../../../static/images/about-abr-img/scroll-icon.png">
        </div>
    </div>
    <div class="full-width intake-form-container">
        <div class="form-step-1" style="margin-top: 40px;">
            <div class="full-width show-step-number">
                STEP 1 OF 2
            </div>
            <div class="full-width step-1-heading">
                Tell Us About Yourself.
            </div>
            <div class="full-width step-1-input">
                <div class="full-width input-full-name">
                    <div class="col-xs-12 col-sm-6 padding-zero firstname" style="">
                        <input type="text" placeholder="First Name" class="full-width">
                    </div>
                    <div class="col-xs-12 col-sm-6 padding-zero lastname" style="">
                        <input type="text" placeholder="Last Name" class="full-width">
                    </div>
                </div>
                <div class="full-width input-email-code">
                    <div class="col-xs-12 col-sm-6 padding-zero" style="">
                        <input type="text" placeholder="Your Email" >
                    </div>
                    <div class="col-xs-12 col-sm-6 padding-zero phonenumber">
                        <input type="text" placeholder="Phone Number" class="full-width">
                    </div>
                </div>
                <div class="full-width input-full-zip mb-5">
                    <div class="col-xs-12 col-sm-6 padding-zero firstzip" style="">
                        <input type="text" placeholder="Zip code" class="full-width">
                    </div>
                </div>
            </div>
            <div class="full-width colstudent-block">
                <div class="full-width colstudent-cntnr">
                    <div>
                       Are you a college student?
                    </div>
                    <div class="full-width interest-block flex flex-aln-itm-cnt">
                        <div class="form-checkbox flex flex-aln-itm-cnt flex-jty-con-cnt"  id="yCollege">
                            <div class="unmarked-checkbox" data-checkbox-status="unchecked"></div>
                        </div>
                        <div class="interest-text">
                            Yes
                        </div>
                    </div>
                    <div class="full-width interest-block flex flex-aln-itm-cnt">
                        <div class="form-checkbox flex flex-aln-itm-cnt flex-jty-con-cnt"  id="nCollege">
                            <div class="mark-checkbox" data-checkbox-status="checked"></div>
                        </div>
                        <div class="interest-text">
                            No
                        </div>
                    </div>
                </div>
            </div>
            <div class="full-width schoolLoc-org-cntnr hidden" id="schoolInput">
                <div class="full-width schoolLoc-org-block">
                    <div >
                        What college/university?
                    </div>
                    <div>
                        <textarea rows="3" class="text-area" style="width:100%"></textarea>
                    </div>
                </div>
            </div>
            <div class="full-width get-to-know-revolv-cntnr">
                <div class="full-width get-to-know-revolv-block flex flex-wrap">
                    <div>
                         How did you hear about RE-volv:
                    </div>
                    <div class="get-to-know-block col-xs-12 col-sm-6 padding-zero flex flex-aln-itm-cnt">
                        <div class="form-checkbox flex flex-aln-itm-cnt flex-jty-con-cnt">
                            <div class="mark-checkbox" data-checkbox-status="checked"></div>
                        </div>
                        <div class="get-to-know-text">
                            Online search
                        </div>
                    </div>
                    <div class="get-to-know-block col-xs-12 col-sm-6 padding-zero flex flex-aln-itm-cnt">
                        <div class="form-checkbox flex flex-aln-itm-cnt flex-jty-con-cnt">
                            <div class="unmarked-checkbox" data-checkbox-status="unchecked"></div>
                        </div>
                        <div class="get-to-know-text">
                            News
                        </div>
                    </div>
                    <div class="get-to-know-block col-xs-12 col-sm-6 padding-zero flex flex-aln-itm-cnt">
                        <div class="form-checkbox flex flex-aln-itm-cnt flex-jty-con-cnt">
                            <div class="unmarked-checkbox" data-checkbox-status="unchecked"></div>
                        </div>
                        <div class="get-to-know-text">
                            Email from RE-volv
                        </div>
                    </div>
                    <div class="get-to-know-block col-xs-12 col-sm-6 padding-zero flex flex-aln-itm-cnt">
                         <div class="form-checkbox flex flex-aln-itm-cnt flex-jty-con-cnt">
                            <div class="unmarked-checkbox" data-checkbox-status="unchecked"></div>
                        </div>
                        <div class="get-to-know-text">
                            From previous RE-volv projects
                        </div>
                    </div>
                    <div class="get-to-know-block col-xs-12 col-sm-6 padding-zero flex flex-aln-itm-cnt">
                         <div class="form-checkbox flex flex-aln-itm-cnt flex-jty-con-cnt">
                            <div class="unmarked-checkbox" data-checkbox-status="unchecked"></div>
                        </div>
                        <div class="get-to-know-text">
                            RE-volv volunteer
                        </div>
                    </div>
                    <div class="get-to-know-block col-xs-12 col-sm-6 padding-zero flex flex-aln-itm-cnt">
                        <div class="form-checkbox flex flex-aln-itm-cnt flex-jty-con-cnt">
                            <div class="unmarked-checkbox" data-checkbox-status="unchecked"></div>
                        </div>
                        <div class="get-to-know-text">
                            Social Media
                        </div>
                    </div>
                    <div class="get-to-know-block col-xs-12 col-sm-6 padding-zero flex flex-aln-itm-cnt" id="otherCheckbox">
                        <div class="form-checkbox flex flex-aln-itm-cnt flex-jty-con-cnt" id="yOther">
                           <div class="unmarked-checkbox" data-checkbox-status="unchecked"></div>
                       </div>
                       <div class="get-to-know-text">
                            Other
                           <textarea rows="3" class="text-area hidden col-sm-12" id="otherTextarea"></textarea>
                       </div>
                    </div>
                </div>
            </div>
            <div class="full-width know-interest-cntnr mb-4">
                <div>
                        Do you know of a local nonprofit that might be interested in going solar?
                </div>
                <div class="full-width interest-block flex flex-aln-itm-cnt">
                    <div id="submitoption2" class="form-checkbox flex flex-aln-itm-cnt flex-jty-con-cnt">
                        <div class="mark-checkbox" data-checkbox-status="checked" data-form-filter=""></div>
                    </div>
                    <div class="interest-text">
                         Yes
                    </div>
                </div>
                <div class="full-width interest-block flex flex-aln-itm-cnt">
                    <div id="submitoption1" class="form-checkbox flex flex-aln-itm-cnt flex-jty-con-cnt">
                        <div class="unmarked-checkbox" data-checkbox-status="unchecked" data-form-filter="addFilter"></div>
                    </div>
                    <div class="interest-text">
                        No
                    </div>
                </div>
            </div>
            <div id="nextstep1" class="full-width from-nxt-btn">
                NEXT
            </div>
            <div id="submitstep1" class="full-width form-submit-btn">
                SUBMIT
            </div>
        </div>
        <div class="form-step-2">
            <div class="full-width step-1-heading" style="margin-top: 40px; font-size: 3rem;">
                Tell us more about the nonprofit you want to help go solar.
            </div>
            <div class="full-width organization-details">
                <div class="full-width org-name-taxid">
                    <div class="col-xs-12  padding-zero organization-name" style="padding-right:0%;">
                        <input type="text" placeholder="Organization Name">
                    </div>
                    <div class="col-xs-12 col-sm-4 padding-zero" style="display:none;">
                        <input type="text" placeholder="Tax Id">
                    </div>
                </div>
                <div class="full-width org-address">
                    <input type="text" placeholder="Organization City">
                </div>

                <div class="full-width org-statezip">
                    <div class="col-xs-12 col-sm-12 padding-zero" style="padding-left: 0px; padding-right: 0px;">
                        <input type="text" placeholder="Organization State" class="full-width">
                    </div>
                    <div class="col-xs-12 col-sm-6 padding-zero hidden" style="padding-left: 0px;">
                        <input type="text" placeholder="Organization Zip" class="full-width">
                    </div>
                </div>
              
                 <div class="full-width webite-and-phone" >
                    <div class="col-xs-12 padding-zero website-name" style="padding-right:0%;">
                        <input type="text" placeholder="Organization Website">
                    </div>
                    <div class="col-xs-12 col-sm-4 padding-zero" style="display:none;">
                        <input type="text" placeholder="Phone Number">
                    </div>
                </div>
            </div>

            <div class="full-width affiliation-org-cntnr">
                <div class="full-width affiliation-org-block">
                    <div>
                        What is your affiliation to this organization?
                    </div>
                    <div>
                        <textarea rows="3" class="text-area" name="affiliation" style="width:100%"></textarea>
                    </div>
                </div>
            </div>
            <div class="full-width form-submit-btn" style="display:block;">
                SUBMIT
            </div>
        </div>
    </div>
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key={{GOOGLEMAPS_API_KEY}}">
</script>

    <script src="/static/js/base/jquery.maskedinput.min.js"></script>
    <script>
        $(document).ready(function() {
          $('#submitstep1').hide();
          $('#submitoption1').click(function() {
            event.preventDefault(); 
            $('#submitstep1').show();
            $('#nextstep1').hide();
          });
          $('#submitoption2').click(function() {
            event.preventDefault(); 
            $('#submitstep1').hide();
            $('#nextstep1').show();
          });
        });

        $("#nCollege").click(function() {
            $("#schoolInput").addClass("hidden");
          
        });
        $("#yCollege").click(function() {
            $("#schoolInput").removeClass("hidden");
        });

        $("#yOther").click(function() {
            $("#otherTextarea").removeClass("hidden");
          
        });

    </script>
{%endblock%}
