{% extends "base/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load wagtailimages_tags %}

{% block title %}Home | {% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/style.css?version={{ version_number }}">
<style>
    .dropdown-open {
        display
    }
    .dropdown-triangle {
        float: right;
        padding-right: 2%;

    }

    a.How_it_Works:hover {
        text-decoration: none;
        color: #fff;
    }

    .header.top-section-header {
        background-color: rgba(0, 0, 0, 0);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0);
        margin-top: 0;
        position: absolute;
    }

    .menu-list {
        position: absolute;
        width: 100%;
        background-image: linear-gradient(to bottom,transparent 0,transparent 100%);
        background-color: transparent;
        border: transparent;
        border-radius: 0;
        box-shadow: none;
    }
    .burger-sub-menu {
      display: block;
    }


    .hamburger_color {
        border-color: transparent;
        color: white;
    }
    .background-collapse-color {
            background-color: white;
    }

</style>

{%endblock%}
{% block nav %}

{%endblock%}
{% block body %}
    <div style="height: 60vmin;
    background-image: url(/static/images/Header_image.png);
    background-size: 100vw 60vmin;
    background-repeat: no-repeat;">
       <header class="header top-section-header">
  <div class="container">
        <div class="container">
        <!-- Static navbar -->
        <div class="navbar navbar-default menu-list">
            <div class="navbar-header">
                <button type="button" id="collbtn" class="navbar-toggle hamburger_color" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>

                </button> <a class="navbar-brand logo-solar-at-home" href="/"></a>

            </div>
             <div class="navbar-collapse collapse background-collapse-color">
                <ul class="nav navbar-nav">
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'dashboard' %}" class="dropdown">MY PORTFOLIO</a>
                        </li>
                        <li class="dropdown this-works"> <a href="{% url 'logout' %}" class="dropdown">SIGN OUT</a>
                        </li>
                    {% else %}
                         <li><a href="{% url 'signin' %}#signup" class="dropdown">SIGN UP</a>
                        </li>
                        <li class="dropdown this-works"> <a href="{% url 'signin' %}#login" class="dropdown">SIGN IN</a>
                        </li>
                    {% endif %}
                    <li class="dropdown this-doesnt"> <a onclick="return clearInput();" href="#" class="dropdown" data-toggle="modal" data-target="#popup">DONATE</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    <!-- end .logo -->
            <div class="solar_at_home_rights pull-right">
				  <div class="txt pull-left">

					{% if request.user.is_authenticated %}
					  <!--<li class="user-controls has-dropdown">-->
						<a href="{% url 'dashboard' %}" class="btn-blue pull-left btn-donate btn-yellow">MY PORTFOLIO</a>
						<!--<a href="{% url 'logout' %}" class="btn-blue pull-left btn-donate">SIGN OUT</a>-->

					  <!--</li>-->
					  {% else %}
						<a href="{% url 'signin' %}#signup" class="component-link btn-blue pull-left btn-donate btn-yellow" data-component="signup">SIGN UP</a>
						<a href="{% url 'signin' %}#login" class="component-link btn-blue pull-left btn-donate btn-yellow" data-component="login">SIGN IN</a>
					{% endif %}
					<a href="#" onclick="return clearInput();" class="component-link pull-left btn-blue btn-donate btn-yellow" data-toggle="modal" data-target="#popup">DONATE</a>
{#					<a href="{%url 'faithbaptistchurch' %}" onclick="return clearInput();" class="component-link pull-left btn-blue btn-donate btn-yellow">DONATE</a>#}
{#                      <a href="#" onclick="return clearInput();" class="component-link btn-blue btn-donate" data-toggle="modal" data-target="#popup">DONATE</a>#}
					{% if request.user.is_authenticated %}
					  <div class="container1" data-toggle="collapse" data-target=".navbar-collapse-settings">
						<div class="bar1" style="background-color:rgb(255, 204, 0);"></div>
						<div class="bar2" style="background-color:rgb(255, 204, 0);"></div>
						<div class="bar3" style="background-color:rgb(255, 204, 0);"></div>
					  </div>
					  <div class="navbar-collapse-settings collapse background-collapse-color navbar-collapse-settings-blue" style="position: absolute;">
							<ul class="nav navbar-collapse-border">

								<li><a href="{% url 'dashboard' %}" class="dropdown">ACCOUNT SETTINGS</a>
								</li>
								<li> <a href="{% url 'logout' %}" class="dropdown">SIGN OUT</a>
								</li>
							</ul>
						</div>
					{% endif %}
				  </div>
            </div>
          </div>
             <div style="width:100%;float:left;padding-top: 14vmin;">
                <div style="width:100%;padding: 0 6%;float: left;">
                  <div style="float: left;width: calc(100% - 36vmin);">
                      <div class="go_solar_at_home">
                        Want to go <br> solar at home?
                       </div>
                      <div class="we_can_help_you">
                          You’ve come to the right place.
                      </div>

                  </div>
                  <div style="float: left;width: 36vmin;">
                        <div class="logo-size" >
                         	  <a href="{% url 'home' %}">
                          <img class="background-image-size" src="/static/images/Logo_Header.png"></a>
                        </div>
                  </div>
                </div>

            </div>
           </div>
        </header>

</div>
<!--onchange="changeFunc();"-->
<div style="width:100%;">
    <div>
        <div class="tell_us_state_where_you_live hide-state-text-div"><span>Tell us the state you live in and we can help you find some vetted solar installers in your area.</span></div>
        <div class="dropdown">
            <div id="dropdown-select-text" class="dropdown-select-text">
                <div id="dropdown-title" class="dropdown-title">
                    <span>Select your state</span>
                    <span class="dropdown-triangle">&#x25BE;</span>
                </div>

            </div>
            <div class="dropdown-menu">
                <div class="option" data-selected-state="AL">Alabama</div>
                <div class="option" data-selected-state="AK">Alaska</div>
                <div class="option" data-selected-state="AZ" >Arizona</div>
                <div class="option" data-selected-state="AZ">Arkansas</div>
                <div class="option" data-selected-state="CA">California</div>
                <div class="option" data-selected-state="CO">Colorado</div>
                <div class="option" data-selected-state="CT">Connecticut</div>
                <div class="option" data-selected-state="DE">Delaware</div>
                <div class="option" data-selected-state="DC">District Of Columbia</div>
                <div class="option" data-selected-state="FA">Florida</div>
                <div class="option" data-selected-state="GA">Georgia</div>
                <div class="option" data-selected-state="HI">Hawaii</div>
                <div class="option" data-selected-state="ID">Idaho</div>
                <div class="option" data-selected-state="IL">Illinois</div>
                <div class="option" data-selected-state="IN">Indiana</div>
                <div class="option" data-selected-state="IA">Iowa</div>
                <div class="option" data-selected-state="KS">Kansas</div>
                <div class="option" data-selected-state="KY">Kentucky</div>
                <div class="option" data-selected-state="LA">Louisiana</div>
                <div class="option" data-selected-state="ME">Maine</div>
                <div class="option" data-selected-state="MD">Maryland</div>
                <div class="option" data-selected-state="MA">Massachusetts</div>
                <div class="option" data-selected-state="MI">Michigan</div>
                <div class="option" data-selected-state="MN">Minnesota</div>
                <div class="option" data-selected-state="MS">Mississippi</div>
                <div class="option" data-selected-state="MO">Missouri</div>
                <div class="option" data-selected-state="MT">Montana</div>
                <div class="option" data-selected-state="NE">Nebraska</div>
                <div class="option" data-selected-state="NV">Nevada</div>
                <div class="option" data-selected-state="NH">New Hampshire</div>
                <div class="option" data-selected-state="NJ">New Jersey</div>
                <div class="option" data-selected-state="NM">New Mexico</div>
                <div class="option" data-selected-state="NY">New York</div>
                <div class="option" data-selected-state="NC">North Carolina</div>
                <div class="option" data-selected-state="ND">North Dakota</div>
                <div class="option" data-selected-state="OH">Ohio</div>
                <div class="option" data-selected-state="OK">Oklahoma</div>
                <div class="option" data-selected-state="OR">Oregon</div>
                <div class="option" data-selected-state="PA">Pennsylvania</div>
                <div class="option" data-selected-state="RI">Rhode Island</div>
                <div class="option" data-selected-state="SC">South Carolina</div>
                <div class="option" data-selected-state="SD">South Dakota</div>
                <div class="option" data-selected-state="TN">Tennessee</div>
                <div class="option" data-selected-state="TX">Texas</div>
                <div class="option" data-selected-state="UT">Utah</div>
                <div class="option" data-selected-state="VT">Vermont</div>
                <div class="option" data-selected-state="VA">Virginia</div>
                <div class="option" data-selected-state="WA">Washington</div>
                <div class="option" data-selected-state="WV">West Virginia</div>
                <div class="option" data-selected-state="WI">Wisconsin</div>
                <div class="option" data-selected-state="WY">Wyoming</div>
            </div>

            <input type="hidden" class="dropdown-select" />
        </div>

            <div style="float:left;width:100%;">
                <div class="investors_logo">
                    <div class="invstr-logo-images col-xs-12 col-sm-4">
                        <div class="investors_logo_text" >

                        </div>
                        <div class="logo-img-cntnr">
                             <a id="invstr-logo-link" href=""><img id="img"  src=""></a>
                        </div>

                    </div>

                </div>

            </div>
    </div>

</div>


<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key={{GOOGLEMAPS_API_KEY}}">
</script>

{%endblock%}