{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Solar ed week</title>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/css/solar_ed_week.css?version={{ version_number }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

    <script src="{% static 'js/script.js' %}?version={{ version_number }}"></script>

    <script type="text/javascript" async>
         <!--this function used in solar_ed_week.js after initializing map -->
        function initializeMarker() {
            {% for host_event in host_events %}
                var title = '{{ host_event.title }}';
                var details = '{{ host_event.detail }}';
                var latitude = '{{ host_event.latitude }}';
                var longitude = '{{ host_event.longitude }}';
                var date = '{{ host_event.date }}';
                var address = '{{ host_event.address }}';
                var city = '{{ host_event.city }}';
                var state = '{{ host_event.state }}';
                var link = '{{ host_event.facebook_link }}';
                var name = '{{ host_event.name }}';
                var email = '{{ host_event.email }}';
                addMarker(title, details, latitude, longitude, date, address, city, state, link, name, email);
            {% endfor %}
        }
    </script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier/1.0.3/oms.min.js"></script>
    <script src="/static/js/solar_ed_week.js?version={{ version_number }}" async></script>
</head>
<body>
    <nav class="menu nav" id="hamburger-nav">
        <img class="header-image" src="/static/images/sewlogo2@1X.png" alt="Solar Education Week">
        <label class="burger-label" for="toggle">&#9776;</label>
        <input type="checkbox" id="toggle"/>
        <ul class="menu-list">
            <li><a href="#the-what" class="active">THE WHAT</a></li>
            <li><a href="#the-how">THE HOW</a></li>
            <li><a href="#the-why">THE WHY</a></li>
            <li><a href="#partner">PARTNER & SPONSOR</a></li>
            <li><a href="#contact">CONTACT US</a></li>
        </ul>
    </nav>
    <nav class="menu nav" id="nav">
        <img class="header-image" src="/static/images/sewlogo2@1X.png" alt="Solar Education Week">
        <label class="burger-label" for="toggle">&#9776;</label>
        <input type="checkbox" id="toggle"/>
        <ul class="menu-list">
            <li><a href="#the-what" class="active">THE WHAT</a></li>
            <li><a href="#the-how">THE HOW</a></li>
            <li><a href="#the-why">THE WHY</a></li>
            <li><a href="#partner">PARTNER & SPONSOR</a></li>
            <li><a href="#contact">CONTACT US</a></li>
        </ul>
    </nav>
{% block body %}
    <div class="solar-ed-page section-1">
        <img class="background-image-size-home" src="/static/images/header@1X.png" alt="RE-volv">
    </div>
    <section id="the-what">
        <div class="what-section">
            <div class="section">
                <h1 class="bold-header"><b>WHAT IS</b></h1>
                <h1>SOLAR EDUCATION WEEK?</h1>
                <hr width=10%">
                <br>
                <p>The week leading up to Earth Day, college students and community members around the country will host
                    solar education events in their community to spark a national conversation about solar energy,
                    energy access,
                    and a just transition to a clean energy economy.</p>
            </div>
        </div>
    </section>
        <div id="the-how" class="container-field">
            <div class="section">
                <h1 class="bold-header"><b>HOW DO</b></h1>
                <h1 class="sub-bold-header">I PARTICIPATE ?</h1>
                <hr width="10%">
            </div>
            <div class="section-1">
                <div class="row">
                    <div class="col-sm-4 host-separator participat-block">
                        <div class="row-header"> HOST</div>
                        <p class="paragraph">Host a Solar Education event at your home, workplace,
                            or local community center. Screen a film, host a discussion, or throw a solar party. Be
                            creative!
                        </p>
                        <button id="event-host-button" class="event-host host-event" type="submit">Host an Event</button>
                    </div>
                    <div class="col-sm-4  participat-block">
                        <div class="row-header bottom-space"> ATTEND</div>
                        <p class="paragraph">Check the map for events in your area! Don’t see one? <a href="#the-how" class="host-event">Host
                            an Event!</a></p>
                    </div>
                    <div class="col-sm-4 partner-separator participat-block">
                        <div class="row-header"> PARTNER</div>
                        <p class="paragraph">Does your organization support renewable energy? Join the movement and mobilize your members during Solar Education Week!</p>
                        <button id="become-partner-button" class="event-host become-partner" type="submit">Become a Partner</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="map_canvas" style="width: 100%; height: 400px">
        </div>
        <div id="partner" class="solar-ideas section">
            <h1 class="bold-header"><b>LOOKING FOR IDEAS FOR</b></h1>
            <h1 style="font-weight:100">YOUR SOLAR ED WEEK EVENT?</h1>
            <hr width="10%">
            <h6 class="sub-bold-header">Here are a few suggestions!</h6>
            <div class="wrapper">
                <ul class="list-suggest">
                    <li class="suggest">Host a solar trivia night at your favorite hangout spot</li>
                    <li class="suggest">Make solar inspired art or music and post to social media</li>
                    <li class="suggest">Host an enviromental film screening with discussion after</li>
                    <li class="suggest">Write letters to your policy makers</li>
                    <li class="suggest">Organize a rally at your elected official’s office to advocate for
                        more clean energy</li>
                    <li class="suggest">Invite an expert to give a talk about solar</li>
                    <li class="suggest">Invite a solar installer to answer questions about going solar</li>
                </ul>
            </div>
        </div>

        <div id="partner" class="event-register solar-ideas section" style="background: #eeeeee !important; width: 100%; border:1px solid #e9ecef; padding: 60px 0;">
            <h1 class="bold-header" style="font-weight: 700; text-transform: uppercase;"><b>Featured Event Idea</b></h1>
            <div class="divider-featured" style="margin:30px;"></div>
            <h6 class="sub-bold-header" style="font-size:30px; text-transform: uppercase;">Screen the new video from the ClimateMusic Project</h6>
            <div class="myth-box-div">
                <div class="myth-box-header-div">
                    <span class="sub-bold-header">
                    "What do we want the future to sound like" and host a discussion afterward</span>
                    <span data-toggle="collapse" data-target="#text-block-3" class="myth-collapse-icon glyphicon glyphicon-chevron-down"
                    style="font-size:35px; margin-left:10px; color:rgb(255, 195, 35)">
                    </span>
                    <img src="/static/images/climatemusic.png" style="z-index: 0;position: absolute; left: 0; opacity: 0.06; top: 9px;"/>
                </div>
                <div id="text-block-3" class="myth-collapse-text collapse" style="margin-top:20px;">
                    <ul class="leadship-ui">
                        <li class="leadship-li" style="margin:0 auto; max-width:1100px; list-style: none; font-size: 20px;">
                            Celebrate Solar Education Week with a video of an original musical performance that communicates the urgency of action on climate change.  The composition combines climate science with the emotional power of music to inspire meaningful action.
                            The video includes advanced data animations to provide context for the music and show how our climate has changed since 1800 and will evolve through 2150 (including temperature, CO2, and earth-energy balance).
                            <div style="margin:20px;"></div>
                            ClimateMusic audiences want to discuss the emotional impact of the video, as well as what can be done in response.  Therefore, we will provide a “Discussion Guide” to be used by event facilitators.
                            If you are interested, please contact The ClimateMusic Project directly at <span style="color:blue;">scrawford@climatemusic.org</span> to receive the video and Discussion Guide.                                    
                        </li>
                    </ul>
                    <div class="event-ideas-text" >
                        <a href="http://www.theclimatemusicproject.org/" class="btn button" target="_blank">LEARN MORE</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="partner" class="section">
            <h1 class="bold-header"><b>SOLAR EDUCATION WEEK</b></h1>
            <h1 class="sub-bold-header">PARTNERS</h1>
            <hr width="10%">
            <p class="paragraph">Solar Education Week is a partnership effort by leading clean energy organizations to engage individuals across the country to organize and participate in Solar Education events!</p>
        </div>
        <div class="partners-images">
            <a href="https://gridalternatives.org/" target="_blank"><img src="/static/images/partner_grid.png" alt="grid alternative"></a>
            <a href="https://re-volv.org/" target="_blank"><img src="/static/images/partner_revolv.png" alt="Revolv logo"></a>
            <a href="https://www.solarunitedneighbors.org/" target="_blank"><img src="/static/images/partner_sun.jpg" alt="Solar United logo"></a>
            <a href="https://happeningthemovie.com/" target="_blank"><img src="/static/images/partner_redford.png" alt="Redford logo"></a>
            <a href="https://votesolar.org/" target="_blank"><img src="/static/images/partner_vsolar.jpg" alt="Vote solar logo"></a>
            <a href="https://www.sierraclub.org/ready-for-100" target="_blank"><img src="/static/images/partner_r100.png" alt="ReadyFor100 logo"></a>
            <a href="https://theclimatemusicproject.org/" target="_blank"><img src="/static/images/partner_cmp.png" alt="The Climate Music Project logo"></a>
        </div>
        <div class="section"></div>
        <div id="the-why" class="why-participate">
                <div class="participation-cntnr">
                    <div class="col-sm-6 padding-zero">
                        <img class="participatio-img" src="/static/images/whyparticipate@1X.png" alt="Participation">
                    </div>
                    <div class="col-sm-6 padding-zero participation-main-cntnr">
                        <h3 class="participation-main-text solar-main-text">WHY PARTICIPATE IN</h3>
                        <h3 class="participation-sub-text solar-sub-text">SOLAR EDUCATION WEEK?</h3>
                        <hr class="horizontal-line">
                        <div class="participation-icons full-width">
                            <div class="participation-row full-width">
                                <div class="participation-icon">
                                    <img src="/static/images/network.png" alt="network icon">
                                </div>
                                <p class="participation-text">You can play a critical role in spreading the word about solar and
                                    how it benefits communities across the nation. The message is simple: solar is affordable,
                                    sustainable and provides communities at all economic levels with clean energy and energy
                                    independence.</p>
                            </div>
                            <div class="participation-row full-width">
                                <div class="participation-icon">
                                    <img src="/static/images/chat.png" alt="chat icon">
                                </div>
                                <p class="participation-text">By coordinating a national solar education effort, we can engage
                                    our local and nationwide networks and the press in order to spread the word about solar and
                                    promote its increased adoption.</p>
                            </div>
                            <div class="participation-row full-width">
                                <div class="participation-icon">
                                    <img src="/static/images/idea.png" alt="idea icon">
                                </div>
                                <p class="participation-text">Solar is a unique solution to climate change because it’s
                                    something that anyone can get involved with. Solar Education Week allows everyone to
                                    participate in reducing carbon emissions and creating a 100% renewable powered future for
                                    all.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div id="contact" class="footer-info">
            <h3>For more information or to join as a partner organization</h3>
            <img src="/static/images/message@1X.png">
            <address><a href="mailto:info@re-volv.org">info@re-volv.org</a></address>
            <hr width="20%">
            <p>SPREAD SOLAR EDUCATION ON SOCIAL MEDIA! #SOLAREDWEEK</p>
            <a class="social-icons" href="https://www.facebook.com/solarseedfund/" target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a class="social-icons" href="https://twitter.com/RE_volv" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
        </div>
    <div class="become-host-pop-up">
            <div class="event-form">
                <br>
                <span class="pull-right clickable close-icon" data-effect="fadeOut"><i class="fa fa-times"></i></span>
                <header><span>HOST</span> AN EVENT</header> 
                <hr>
                <form method="POST" id="host_event_form">
                    {% csrf_token %}
                    <label>Your Name</label><input type="text" name="name" id="name" required/>
                    <label>Email</label><input type="email" name="email" id="email" required/>
                    <label>Event Title</label><input type="text" name="event_title" id="event-title" required/>
                    <label>Date</label><input type="date" name="date" id="date" required/>
                    <label>Address</label><input type="text" name="address" id="address" required/>
                    <label></label>
                    <input id="latitude" type="hidden" name="latitude">
                    <input id="longitude" type="hidden" name="longitude">
                    <div class="row">
                        <div class="col-sm-4 city-class">
                            <label>City</label><input type="text" name="city" id="city" required/>
                        </div>
                        <div class="col-sm-4 state-class">
                            <label>State</label><input type="text" name="state" id="state" required/>
                        </div>
                        <div class="col-sm-4 zip-code-class">
                            <label>Zip Code</label><input type="number" name="zipcode" id="zipcode" required/>
                        </div>
                    </div>
                    <label>Event Details</label><input type="text" name="event_detail" id="details" required/>
                    <label>Link to your Facebook event or Eventbrite page</label>
                    <input type="text" name="eventbrite" id="link"/><br><br>
                    <button type="submit" class="host-event-btn">HOST AN EVENT</button>
                    <span class="response_message"></span>
                </form>
                <br><br>
            </div>
        <script src="{% static 'typeahead/typeahead.bundle.js' %}"></script>
        <script src="{% static 'typeahead/typeahead-addresspicker.js' %}"></script>
    </div>

    <div class="become-sponsor-pop-up">
        <div>
            <div class="event-form">
                <form id="become_sponsor_form">
                    {% csrf_token %}
                    <br>
                    <span class="pull-right clickable close-icon" data-effect="fadeOut"><i class="fa fa-times"></i></span>
                    <header><span>BECOME A SPONSOR</span></header>
                    <hr>
                    <label>Logo</label><br>
                    <div style="height:0px;overflow:hidden">
                        <input type="file" id="sponsorFileInput" name="sponsor_logo"/>
                    </div>
                    <img type="button" id="sponsorLogoImage" src="/static/images/upload_image@1x.png"><br>
                    <label>Name</label><input type="text" name="sponsor_name" required/>
                    <label>Email</label><input type="email" name="sponsor_email" required/>
                    <label>Organization</label><input type="text" name="sponsor_organization" required/>
                    <div class="megawatt">
                        <input type="checkbox" name="financially_support">We agree to financially support the campaign:<br>
                        <ul>
                            <li><span>Megawatt Sponsor (name and logo listed on page): $1,500</span></li>
                            <li><span>Kilowatt Sponsor (name listed on page, no logo): $750</span></li>
                            <p class="required"><span>*</span>RE-volv is a 501c3 nonprofit. All donations are tax-deductible.
                            </p>
                        </ul>
                    </div>
                    <button type="submit">Become a Sponser</button>
                    <span class="sponsor_response_message"></span>
                    <br><br>
                </form>
            </div>
        </div>
    </div>

    <div class="become-partner-pop-up">
        <div>
            <div class="event-form">
                <br>
                <span class="pull-right clickable close-icon" data-effect="fadeOut"><i class="fa fa-times"></i></span>
                <header><span>BECOME</span> A PARTNER</header>
                <hr>
                <label>Logo</label><br>
                <form id="become_partner_form">
                    {% csrf_token %}
                    <div style="height:0px;overflow:hidden">
                        <input type="file" id="partnerFileInput" name="partner_logo" />
                    </div>
                    <img id="partnerLogoImage" type="button" src="/static/images/upload_image@1x.png"><br>
                    <label>Name</label><input type="text" name="partner_name" required/>
                    <label>Email</label><input type="email" name="partner_email" required/>
                    <label>Organization</label><input type="text" name="partner_organization" required/>
                    <div class="megawatt">
                        <input type="checkbox" name="promote_solar">We agree to promote Solar Education Week by:<br>
                        <ul>
                            <li><span>Sending at least three emails to our network encouraging them to host events.</span>
                            </li>
                            <li>
                                <span>Sharing at least 10 social media posts leading up to and during Solar Education Week.</span>
                            </li>
                            <li><span>Do yo have another way of promoting Solar Education Week you'd like to offer?<br>
                                        Let us know!</span></li>
                            <li type="none"><span><input type="text" name="promoting_way"></span></li>
                        </ul>
                    </div>
                    <button type="submit">Become a Partner</button>
                    <span class="partner_response_message"></span>
                    <hr style="margin: 15px 0 10px 0;"/>
                    <div class="megawatt">
                        Are you a foundation or company interested in sponsoring? <span class="partner-click-here">Click here.</span>
                    </div>
                </form>
                </div>
                <br><br>
            </div>
        </div>
    </div>

    <footer class="copyright-text">
        © {% now 'Y' %} Solar Education Week. All Rights Reserved
    </footer>
</div>
{% endblock %}
</body>
</html>