{% extends "base/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load wagtailimages_tags %}

{% block head %}

<!-- -->
<script src="{% static 'js/base/homeAnimations.js' %}?version={{ version_number }}"></script>
<link rel='stylesheet' href="https://cdn.jsdelivr.net/npm/tooltipster@4.2.6/dist/css/tooltipster.bundle.min.css"/>
{% endblock %}

{% block body %}
    <main role="main" class="container-fluid">
      <div class="container-fluid blog-header" id="top-section">
        <div class="row text-center">
          <div class="col hero-text align-self-end mb-5">
            <h1 class="text-white fw-700 mb-5">RE-volv Blog</h1>
          </div>
        </div>
      </div>
      <div class="container-fluid scroll-section" id="scroll-section">
          <div class="scroll-icon">
            <img class="scroll-arrow bouncing" src="../../../static/images/blog-monthly-img/scroll-icon.png">
          </div>
      </div>
      <div class="container-fluid" id="blog-body">
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-12 co-md-10 col-lg-10">
            <h2 class="blue-text ml-3 text-uppercase">Latest <span class="orange-text">Posts</span></h2>
            <div class="row justify-content-start align-items-center mt-5">
              <!-- Blog post loop start -->
              <div class="col-sm-12 col-md-4 blog-posts-col">
          
                  <div class="blog-post-inner">
                    <div class="blog-thumb-wrapper">
                      <img src="../../../static/images/blog-monthly-img/blog-thumb-1.png">
                    </div>
                    <div class="blog-excerpt-wrapper">
                        <a href="/blog-center/articles/solarinvestment/"> <span class="meta-date">FEBRUARY 25, 2019</span> </a>
                      <h4 class="meta-title">Solar Energy as an Investment</h4>
                      <p>I don’t know about you, but I value my money. I want to stretch my dollar as far as possible...</p>
                    </div>
                  </div>
            
              </div>
              <div class="col-sm-12 col-md-4 blog-posts-col">
                <div class="blog-post-inner">
                  <div class="blog-thumb-wrapper">
                    <img src="../../../static/images/blog-monthly-img/blog-thumb-2.png">
                  </div>
                  <div class="blog-excerpt-wrapper">
                      <a href="/blog-center/articles/newyearrevolution/"> <span class="meta-date">JANUARY 3, 2019</span> </a>
                    <h4 class="meta-title">A New Year’s Revolution</h4>
                    <p>Another year under our belts. Calendars are switched out, resolutions are written, and...</p>
                  </div>
                </div>
              </div>
              <!-- Blog post loop end -->

            </div>
            <div class="row justify-content-center align-items-center text-center">
              <a class="btn btn-grey btn-lg btn-arrow-white my-2" href="#" role="button" style="display: none;">Load More</a> 
            </div>
          </div>
        </div>
      </div>

      <form id="form1" name="form1" class="wufoo  page" autocomplete="off" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <div class="container-fluid" id="section-six">
          <div class="row justify-content-center align-items-center section-six-row">
            <div class="col-sm-12 co-md-12 col-lg-10">
              <div class="row align-items-center">
                <div class="col-sm-12 col-md-5 text-right text-white">
                  <h2 class="fw-700 mb-3">Newsletter Signup</h2>
                  <p class="fw-300">By subscribing to our mailing list you will always be updated with the latest news from us.</p>
                </div>


                <div class="col-sm-12 col-md-7">
                  <div class="input-group mb-3 subscription-form inputs">
                      <input class="form-control" id="Field0" name="email" type="email" spellcheck="false" value="" maxlength="255" tabindex="1" placeholder="Enter your email address" required>
                      <div class="input-group-append">
                      <button class="btn btn-blue newsletter-signup btn-sign-up" type="button" style="height: 100%;">Sign up</button>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

    </main><!-- /.container -->


    {% endblock %}