{% comment %}
    Dashboard Sidebar

    This is a partial for the sidebar of the RE-volv dashboard design (mockup can be seen at
    https://cloud.githubusercontent.com/assets/7706852/6608266/b4c8fdd8-c802-11e4-9610-939a5f9f5dd9.png).
    This partial accepts the following template variables:

    :user: the currently logged in user. The user will always be logged in, since if they're
            seeing this page then they have bypassed the functionality which redirects to the
            homepage for unauthenticated users.

    :project_dict: a dictionary with keys as revolv.base.utils.ProjectGroups, and values as lists
        of project model objects in the group. The project group names have a `key` and a `display`:
        the key should be used for uniquely identifying the project group in class names, etc, and the
        display should be used for the sidebar heading (e.g. "Proposed Projects").

    The idea for the sidebar is that there is an area at the top where the user can switch between
    different user types, if applicable, can see the projects which are relevant to their role, and can also
    see management pages (for example admin accounting page) below. The point of this template is to
    conditionally render all of these partials and things based on what type of user the current user is.
{% endcomment %}
{% spaceless %}
{% if user.revolvuserprofile.is_ambassador %}
<div class="role-select-options">
    <div class="dashboard-header">View as:</div>
    {% if user.revolvuserprofile.is_administrator %}
        <div class="role-select-option"><a href="/dashboard/admin/">Administrator</a></div>
    {% endif %}
    <div class="role-select-option"><a href="/dashboard/ambassador/">Ambassador</a></div>
    <div class="role-select-option"><a href="/dashboard/donor/">Donor</a></div>
</div>
{% endif %}

{% if user.revolvuserprofile.is_ambassador and role != "donor" %}
<div class="dashboard-section create-new">
    <a href="{% url "project:new" %}" class="create-new-button" id="create_project">Create Project</a>
</div>
{% endif %}
{% if user.revolvuserprofile.is_administrator %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
    <!--<div><a href="{% url "user_details" %}" class="create-new-button">User Details</a></div>-->
    <!--<div><a href="{% url "donationreport" %}" class="create-new-button">Financial Report</a></div>-->
    <div><a class="create-new-button solar-seed-fund-amount">Funds Available</a></div>
    <div><a href="{% url "repaymentreport" %}" class="create-new-button">Repayment Report</a></div>
    <div><a href="{% url "monthlyrepaymentreport" %}" class="create-new-button">Monthly Repayment</a></div>
    <div><a href="{% url "matchingdonors" %}" class="create-new-button">Matching Donors</a></div>
    <div><a href="{% url "donationsourcetracking" %}" class="create-new-button">Donation Tracking</a></div>
    <div><a href="{% url "administrator:manualpayment" %}" class="create-new-button">Manual Payment</a></div>
    <div><a href="{% url "administrator:repayment_schedule" %}" class="create-new-button">Schedule Repayment</a></div>
    <div><a href="{% url "solarweekeventreportview" %}" class="create-new-button">Solar Ed Week Events</a></div>
    <div><a href="{% url "solarweekpartnersreportview" %}" class="create-new-button">Solar Ed Week Partners</a></div>
{% endif %}
{% if user.revolvuserprofile.is_ambassador or user.revolvuserprofile.is_administrator %}
    <div><a href="{% url "donationreport" %}" class="create-new-button">Financial Report</a></div>
{% endif %}
{% if user.revolvuserprofile.is_ambassador %}
<div><a href="{% url "sendmail" %}" class="create-new-button" id="sendemail">Send Email</a></div>
{% endif %}
<div class="dashboard-section manage">
    <div class="dashboard-manage-link"><a id="change_password_link" href="/password_change/">Change Password</a></div>
    <div class="dashboard-manage-link"><a id="logout_link" href="/logout/">Logout</a></div>
</div>
{% endspaceless %}