{% extends "base/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block head %}
<link rel="stylesheet" href="{% static 'typeahead/typeahead.css' %}" />
<link rel="stylesheet" href="{% static 'chosen/chosen.css' %}" />
<link rel="stylesheet" href="{% static 'dist/css/pages/project-edit/index.css' %}" />
<link href='https://fonts.googleapis.com/css?family=Lato:300,500,800' rel='stylesheet' type='text/css'>
<link href='https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css' rel='stylesheet' type='text/css'>
<link href='https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css' rel='stylesheet' type='text/css'>

<link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
<script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/datetime-moment.js"></script>
<script src="/static/js/dataTables.buttons.min.js"></script>
<script src="/static/js/buttons.flash.min.js"></script>
<script src="/static/js/jszip.min.js"></script>
<script src="/static/js/vfs_fonts.js"></script>
<script src="/static/js/buttons.html5.min.js"></script>
<script src="/static/js/donation_history.js"></script>

{% endblock %}

{% block body %}
<div id="user_record_loader"></div>
<div class="container after-header" >
  <table id="donation_report" class="display nowrap" cellspacing="0" width="100%" >
  <thead >
      <tr>
        <th>Username</th>
        <th>Date</th>
        <th>Project Name</th>
        <th>Project Donation</th>
        <th>Tip Amount</th>
      </tr>
     </thead>
  <tbody>
    {% for donation in donation_history %}
      <tr>
        <td>{{ donation.user }}</td>
        <td>{{ donation.created_at }}</td>
        <td>{{ donation.project.title }}</td>
        <td>{{ donation.amount }}</td>
        {% if donation.tip.amount %}
          <td>{{ donation.tip.amount }}</td>
        {% else %}
          <td>-</td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}

