{% extends "base/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load mathfilters %}

{% block head %}
<link rel="stylesheet" href="{% static "typeahead/typeahead.css" %}" />
<link rel="stylesheet" href="{% static "chosen/chosen.css" %}" />
<link rel="stylesheet" href="{% static 'dist/css/pages/project-edit/index.css' %}" />
<link href='//fonts.googleapis.com/css?family=Lato:300,500,800' rel='stylesheet' type='text/css'>
<link href='//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css' rel='stylesheet' type='text/css'>
<link href='//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css' rel='stylesheet' type='text/css'>
<link href='//cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css' rel='stylesheet' type='text/css'>
<style type="text/css">
    #map-canvas { width: 100%; height: 300px; margin-bottom: 20px; padding: 0;}
    #map-canvas img {max-width: none;}
</style>
 <script src="//code.jquery.com/jquery-1.12.3.js"></script>
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script src="http://cdn.datatables.net/plug-ins/1.10.9/sorting/datetime-moment.js"></script>
<script src="//code.jquery.com/jquery-1.12.3.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="//cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.12/api/sum().js"></script>

<script>
    $(document).ready(function () {
    table=$('#example').DataTable({
       <!--"dom": "Bfrtip",-->
       "dom": "lfrtBip",
        buttons: [
           'csv', 'excel', 'pdf', 'print'
        ],
         "order": [[ 1, "desc" ]]
    })

} );


</script>
{% endblock %}

{% block body %}

<div class="container after-header">
  <table id="example" class="display nowrap" cellspacing="0" width="100%">
  <thead >
      <tr>
        <th>Donor</th>
         <th>Date</th>
        <th>Name of Project</th>
        <th>Donation to solar Fund</th>
        <th>Donation to Operation</th>
        <th>Total Donation</th>

      </tr>
    </thead>
    <tbody>
    {% for payment in payments %}
      <tr>
        <td>{{ payment.user }}</td>
        <td>{{ payment.created_at|date:'m-d-Y H:i' }}</td>
        {% if payment.project %}
          <td >{{ payment.project }}</td>
        {% else %}
          <td >Revolv Oprations</td>
        {% endif %}
        {% if payment.amount %}
         <td>${{ payment.amount|floatformat:2 }}</td>
        {% else %}
          <td>$0.00</td>
         {% endif %}
        {% if payment.tip.amount %}
          <td>${{ payment.tip.amount|floatformat:2 }}</td>
        {% else %}
          <td>$0.00</td>
         {% endif %}
        {% if payment.tip.amount and payment.amount%}
          <td>${{ payment.amount|addition:payment.tip.amount|floatformat:2 }}</td>
        {% endif %}
        {% if payment.tip.amount and not payment.amount%}
          <td>${{ payment.tip.amount|floatformat:2 }}</td>
        {% endif %}
         {% if payment.amount and not payment.tip.amount %}
          <td>${{ payment.amount|floatformat:2 }}</td>
        {% endif %}
        {% if not payment.amount and not payment.tip.amount %}
          <td>$0.00</td>
        {% endif %}


      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}

