{% extends "base/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load humanize %}
{% block head %}
{% endblock %}
<script type="text/javascript">
</script>
<script src="{% static 'js/base/homeAnimations.js' %}?version={{ version_number }}"></script>
{% block title %}Project | {% endblock %}
{% block body %}

<div class="contents after-header">
    <div class="account-heading">
        <div style="padding-top: 2.3%;"><span class="account-heading-span">Frequently Asked Questions</span></div>
    </div>
    <div class="col-xs-12 col-sm-3 account-tabs">
        <div style="margin-bottom: 2em;">
            <span id="account-link" class="account-tab-text account-tab-text-active">Nonprofits <br> Interested in Solar</span>
        </div>
        <div style="margin-bottom: 2em;">
            <span id="donation-link" class="account-tab-text ">RE-volv Users</span>
        </div>
    </div>
    <div id="account-info" class="col-xs-12 col-sm-9 setting-form-top" style="display: block;">

        <div class="myth-box-div">
                <div class="myth-box-header-div"><span>What is RE-volv?</span><span data-toggle="collapse" data-target="#text-block-1" class="myth-collapse-icon glyphicon glyphicon-chevron-down"></span></div>
                <div id="text-block-1" class="myth-collapse-text collapse">
                    <ul class="leadship-ui">
                      <li class="leadship-li" style="margin-bottom: 1em;">RE-volv is a nonprofit organization based in San Francisco with a mission to empower people and communities to invest collectively in renewable energy. Through crowdfunding, RE-volv lets individuals who support clean energy chip in a few dollars to help communities all over the United States go solar. These donations help finance solar systems for community-based nonprofits that lack access to traditional solar financing. These organizations save money on their electric costs while paying RE-volv back through a 20-year lease with interest. The lease payments are reinvested in a revolving fund, the Solar Seed Fund, which continually finances new community-based solar projects. Over time, each dollar donated to an individual solar project will go towards financing a new project, which will help finance the next project, and so on.</li>
                        <!--<li class="leadship-li">Thinking of going solar at home? <a target="_blank" href="{% url 'solar_at_home' %}">Get a solar savings estimate!</a> <br>Do you know you a <b>nonprofit</b> that could benefit from solar? <a target="_blank" href="{% url 'bring_solar_to_your_community' %}">Click here!</a></li>-->
                    </ul>
                </div>
        </div>
        <div class="myth-box-div">
            <div class="myth-box-header-div"><span>What makes RE-volv unique?</span><span data-toggle="collapse" data-target="#text-block-2" class="myth-collapse-icon glyphicon glyphicon-chevron-down"></span></div>
            <div id="text-block-2" class="myth-collapse-text collapse">
                <ul class="leadship-ui">
                  <li class="leadship-li" style="margin-bottom: 1em;">Our pay-it-forward model is unique because we dedicate each nonprofit’s lease payments to a revolving fund. This revolving fund then helps to pay for the next nonprofit to go solar, whose lease payments help another nonprofit to go solar, and so on. As more and more nonprofits go solar, our collective impact on climate change grows exponentially. To top it all off, at the end of the lease, we transfer ownership of the system to each nonprofit at no</li>
                    <!--<li class="leadship-li">Thinking of going solar at home? <a target="_blank" href="{% url 'solar_at_home' %}">Get a solar savings estimate!</a> <br>Do you know you a <b>nonprofit</b> that could benefit from solar? <a target="_blank" href="{% url 'bring_solar_to_your_community' %}">Click here!</a></li>-->
                </ul>
            </div>
        </div>
        <div class="myth-box-div">
            <div class="myth-box-header-div"><span>What are the benefits of going solar with RE-volv?</span><span data-toggle="collapse" data-target="#text-block-3" class="myth-collapse-icon glyphicon glyphicon-chevron-down"></span></div>
            <div id="text-block-3" class="myth-collapse-text collapse">
                <ul class="leadship-ui">
                  <li class="leadship-li" style="margin-bottom: 1em;">By going solar with RE-volv, nonprofits can immediately save 15% or more on their electricity costs with no upfront cost, and 40% or more over the next 25 years. During the lease, nonprofits will benefit from a full operations & maintenance package; and at the end of the lease, they own the system outright at no additional cost. By empowering their community to make a positive impact on climate change and educating community members on the benefits of solar, they also become leaders of sustainability in their communities, and help other nonprofit organizations across the country go solar by contributing to the Solar Seed Fund.</li>
                    <!--<li class="leadship-li">Thinking of going solar at home? <a target="_blank" href="{% url 'solar_at_home' %}">Get a solar savings estimate!</a> <br>Do you know you a <b>nonprofit</b> that could benefit from solar? <a target="_blank" href="{% url 'bring_solar_to_your_community' %}">Click here!</a></li>-->
                </ul>
            </div>
        </div>
        <div class="myth-box-div">
            <div class="myth-box-header-div"><span>What is the Solar Seed Fund?</span><span data-toggle="collapse" data-target="#text-block-4" class="myth-collapse-icon glyphicon glyphicon-chevron-down"></span></div>
            <div id="text-block-4" class="myth-collapse-text collapse">
                <ul class="leadship-ui">
                    <li class="leadship-li" style="margin-bottom: 1em;">The Solar Seed Fund is a revolving fund for solar. When a nonprofit goes solar, a portion of the upfront costs comes from this revolving fund. Once their lease begins, the nonprofit makes lease payments, which goes into the Solar Seed Fund. Over the course of their lease, the nonprofit will pay for more nonprofits to go solar – each of which will fund more solar projects (and so on and so on). <br><br>Simply put, the Solar Seed Fund is a pay-it-forward model for renewable energy.</li>
                </ul>
            </div>
        </div>
        <div class="myth-box-div">
            <div class="myth-box-header-div"><span>Who is eligible for the RE-volv model?</span><span data-toggle="collapse" data-target="#text-block-5" class="myth-collapse-icon glyphicon glyphicon-chevron-down"></span></div>
            <div id="text-block-5" class="myth-collapse-text collapse">
                <ul class="leadship-ui">
                    <li class="leadship-li" style="margin-bottom: 1em;">Nonprofits who own their own building and have recently upgraded their roof. Generally roofs less than 10 years old are ideal, since the panels will likely produce energy for 30 years or more. Organizations with roofs older than 10 years may still be eligible - it really depends on the roof’s warranty and expected lifetime. For more info, contact us at (415) 579-3251 or info@re-volv.org.</li>
                </ul>
            </div>
        </div>
        <div class="myth-box-div">
            <div class="myth-box-header-div"><span>How does the pricing work?</span><span data-toggle="collapse" data-target="#text-block-6" class="myth-collapse-icon glyphicon glyphicon-chevron-down"></span></div>
            <div id="text-block-6" class="myth-collapse-text collapse">
                <ul class="leadship-ui">
                    <li class="leadship-li" style="margin-bottom: 1em;">RE-volv crowdfunds the upfront cost of installing solar, so there’s no down payment required by the nonprofit. The RE-volv lease then immediately saves the nonprofit 15% or more on their current electricity rates. Over the course of the lease, while utility rates are escalating every year, the nonprofit’s savings will accelerate. When the lease ends, RE-volv transfers ownership to the nonprofit at no cost. The exact savings depend on the project size, which is based on current electrical usage on site.</li>
                </ul>
            </div>
        </div>
        <div class="myth-box-div">
            <div class="myth-box-header-div"><span>What financing options are available?</span><span data-toggle="collapse" data-target="#text-block-7" class="myth-collapse-icon glyphicon glyphicon-chevron-down"></span></div>
            <div id="text-block-7" class="myth-collapse-text collapse">
                <ul class="leadship-ui">
                    <li class="leadship-li" style="margin-bottom: 1em;">Most lenders and financiers don’t offer solar financing options for small-to-medium scale nonprofits, who typically lack the capital to afford their own systems. That's why, as a nonprofit ourselves, we've decided to fill this role. Our lease-to-own model is a great way for nonprofits to finance their systems at no upfront cost.</li>
                </ul>
            </div>
        </div>
        <div class="myth-box-div">
            <div class="myth-box-header-div"><span>How does the crowdfunding campaign work?</span><span data-toggle="collapse" data-target="#text-block-8" class="myth-collapse-icon glyphicon glyphicon-chevron-down"></span></div>
            <div id="text-block-8" class="myth-collapse-text collapse">
                <ul class="leadship-ui">
                    <li class="leadship-li" style="margin-bottom: 1em;">RE-volv trains volunteers from the local community – our Solar Champions and Solar Ambassadors – to spearhead a crowdfunding campaign that raises the upfront cost of the solar system. Each campaign includes several events at the nonprofit and in the community. These tax-deductible donations can be made directly through the crowdfunding platform on our website, which tracks the progress of each campaign to completion.</li>
                </ul>
            </div>
        </div>
        <div class="myth-box-div">
            <div class="myth-box-header-div"><span>How long does the crowdfunding usually take?</span><span data-toggle="collapse" data-target="#text-block-9" class="myth-collapse-icon glyphicon glyphicon-chevron-down" ></span></div>
            <div id="text-block-9" class="myth-collapse-text collapse">
                <ul class="leadship-ui">
                    <li class="leadship-li" style="margin-bottom: 1em;">The crowdfunding campaigns typically last around 45 days. All of our campaigns to date have reached their fundraising goal. However, if we don't meet our goal during the campaign then we can extend the campaign, or seek funding through more traditional means.</li>
                </ul>
            </div>
        </div>
        <div class="myth-box-div">
            <div class="myth-box-header-div"><span>How much does the nonprofit need to fundraise?</span><span data-toggle="collapse" data-target="#text-block-10" class="myth-collapse-icon glyphicon glyphicon-chevron-down"></span></div>
            <div id="text-block-10" class="myth-collapse-text collapse">
                <ul class="leadship-ui">
                    <li class="leadship-li" style="margin-bottom: 1em;">Nonprofits are not required to do any fundraising. Throughout the campaign RE-volv will tap into its network of donors from 38 states across the country and 22 countries around the world. That being said, each organization is encouraged to participate in the campaign as much as possible, and host 1-2 solar education events as part of our community engagement element.</li>
                </ul>
            </div>
        </div>
        <div class="myth-box-div">
            <div class="myth-box-header-div"><span>What happens to the solar Investment Tax Credit (ITC)?</span><span data-toggle="collapse" data-target="#text-block-11" class="myth-collapse-icon glyphicon glyphicon-chevron-down"></span></div>
            <div id="text-block-11" class="myth-collapse-text collapse">
                <ul class="leadship-ui">
                    <li class="leadship-li" style="margin-bottom: 1em;">Since nonprofits have no tax liability, and RE-volv is a nonprofit serving other nonprofits, we don’t utilize the federal tax credit. This enables us to transfer ownership of the system to the nonprofit for free at the end of the lease.</li>
                </ul>
            </div>
        </div>
        <div class="myth-box-div">
            <div class="myth-box-header-div"><span>Who takes care of Operations & Maintenance during the lease?</span><span data-toggle="collapse" data-target="#text-block-12" class="myth-collapse-icon glyphicon glyphicon-chevron-down"></span></div>
            <div id="text-block-12" class="myth-collapse-text collapse">
                <ul class="leadship-ui">
                    <li class="leadship-li" style="margin-bottom: 1em;">RE-volv is responsible for monitoring the system and maintaining the equipment for the duration of the lease, which includes managing all warranties with the installers and manufacturers. Solar modules are typically warrantied for 25 years, and rarely need to be replaced. Inverters, on the other hand, are typically warrantied for 10-15 years. However, our operations & maintenance package covers any issues with the equipment, so RE-volv will replace an inverter when needed. As provided in our lease, RE-volv is responsible to make all repairs in a timely manner.</li>
                </ul>
            </div>
        </div>
        <div class="myth-box-div">
            <div class="myth-box-header-div"><span>What happens if the system doesn’t produce as much energy as we estimated? How can we know if the system isn’t producing?</span><span data-toggle="collapse" data-target="#text-block-13" class="myth-collapse-icon glyphicon glyphicon-chevron-down"></span></div>
            <div id="text-block-13" class="myth-collapse-text collapse">
                <ul class="leadship-ui">
                    <li class="leadship-li" style="margin-bottom: 1em;">Our lease features an Output Guarantee, so if the system doesn’t produce as much as we expect, we repay nonprofits for the deficit. Specifically, we reimburse the annual difference between expected and actual output at the end of each year – a money-back guarantee per kilowatt-hour. To date, none of our systems have under-produced.</li>
                    <li class="leadship-li" style="margin-bottom: 1em;">To fulfill this guarantee, RE-volv’s solar monitoring equipment reports on 15-minute intervals, so we’re able to diagnose any problems quickly. At the end of each year, RE-volv will send a report of the system’s performance over the last year, along with reimbursement for any deficit. </li>
                </ul>
            </div>
        </div>
        <div class="myth-box-div">
            <div class="myth-box-header-div"><span>What happens if the nonprofit moves to a new location or sells the building?</span><span data-toggle="collapse" data-target="#text-block-14" class="myth-collapse-icon glyphicon glyphicon-chevron-down"></span></div>
            <div id="text-block-14" class="myth-collapse-text collapse">
                <ul class="leadship-ui">
                    <li class="leadship-li" style="margin-bottom: 1em;">There are several options when a building changes ownership. We can easily transfer the lease to the new owner, and the new owner would continue the lease as normal. Or, the nonprofit can use our early buyout option to pay-off the lease at a discounted rate, then include the solar system in the property valuation. On the other hand, if a nonprofit retains ownership of the building and leases the space to new tenants, the solar lease payments could be included in the new tenant’s property lease payments.</li>
                </ul>
            </div>
        </div>
        <div class="myth-box-div">
            <div class="myth-box-header-div"><span>What if the roof needs to be replaced after the system is installed?</span><span data-toggle="collapse" data-target="#text-block-15" class="myth-collapse-icon glyphicon glyphicon-chevron-down"></span></div>
            <div id="text-block-15" class="myth-collapse-text collapse">
                <ul class="leadship-ui">
                    <li class="leadship-li" style="margin-bottom: 1em;">Removing and re-installing the system isn’t as hard as it sounds. Nonprofits should contact RE-volv to coordinate the re-roofing timeline. The original installer or another certified installer can then work with the re-roofing contractor to remove the panels and reinstall them.</li>
                </ul>
            </div>
        </div>
        <div class="myth-box-div">
            <div class="myth-box-header-div"><span>What happens if RE-volv goes out of business?</span><span data-toggle="collapse" data-target="#text-block-16" class="myth-collapse-icon glyphicon glyphicon-chevron-down"></span></div>
            <div id="text-block-16" class="myth-collapse-text collapse">
                <ul class="leadship-ui">
                    <li class="leadship-li" style="margin-bottom: 1em;">RE-volv will transfer the lease to a new system owner. Like with a transfer of building ownership, the lease continues as before, but the same lease payments are made to the new system owner. The lease specifies that all obligations for any new system owner remain the same, and any substantial change to the lease requires signatures from both parties. So, nonprofits will continue to receive all the benefits of solar as stated in the lease, but will make the lease payments to a different organization.</li>
                </ul>
            </div>
        </div>
        <div class="myth-box-div">
            <div class="myth-box-header-div"><span>What if I want to go solar at home?</span><span data-toggle="collapse" data-target="#text-block-17" class="myth-collapse-icon glyphicon glyphicon-chevron-down"></span></div>
            <div id="text-block-17" class="myth-collapse-text collapse">
                <ul class="leadship-ui">
                    <li class="leadship-li" style="margin-bottom: 1em;">Great! Residential solar is an easy way to make a positive impact on climate change while saving a considerable amount of money on electricity costs. We currently partner with two solar marketplaces that compare installers across the U.S. Check our <a href="https://re-volv.org/solar_at_home/">website</a> to see which solar installers they recommend in your state.</li>
                </ul>
            </div>
        </div>
{#        <div class="myth-box-div">#}
{#            <div class="myth-box-header-div"><span>What happens if we sell our building?</span><span data-toggle="collapse" data-target="#text-block-18" class="myth-collapse-icon glyphicon glyphicon-chevron-down"></span></div>#}
{#            <div id="text-block-18" class="myth-collapse-text collapse">#}
{#                <ul class="leadship-ui">#}
{#                    <li class="leadship-li" style="margin-bottom: 1em;">Great! Residential solar is an easy way to make a positive impact on climate change while saving a considerable amount of money on electricity costs. We currently partner with two solar marketplaces that compare installers across the U.S. Check our <a href="https://re-volv.org/solar_at_home/">website</a> to see which solar installers they recommend in your state. </li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}

    </div>
    <div id="donation-info" class="col-xs-12 col-sm-9 setting-form-top" style="display: none;">
        <div class="myth-box-div">
                <div class="myth-box-header-div"><span>Why donate to RE-volv?</span><span data-toggle="collapse" data-target="#text-block-18" class="myth-collapse-icon glyphicon glyphicon-chevron-down"></span></div>
                <div id="text-block-18" class="myth-collapse-text collapse">
                    <ul class="leadship-ui">
                        <li class="leadship-li" style="margin-bottom: 1em;">When you donate to a RE-volv solar crowdfunding campaign, 100% of your donation goes towards installing solar on a community-serving nonprofit. Your donation will help fight climate change and reduce the nonprofit’s electricity costs by 15% or more. As the nonprofit makes lease payments to our revolving fund, the Solar Seed Fund, your donation is repaid to your RE-volv portfolio. Then you can invest those repayments into another nonprofit’s solar system and continue the cycle!</li>
                    </ul>
                </div>
        </div>
        <div class="myth-box-div">
            <div class="myth-box-header-div"><span>How does the Solar Seed Fund repay me for my donation?</span><span data-toggle="collapse" data-target="#text-block-19" class="myth-collapse-icon glyphicon glyphicon-chevron-down"></span></div>
            <div id="text-block-19" class="myth-collapse-text collapse">
                <ul class="leadship-ui">
                    <li class="leadship-li" style="margin-bottom: 1em;">The money you donate goes into the Solar Seed Fund which is used to build solar on nonprofits across the U.S. When the crowdfunding campaign is complete and the nonprofit you donated to goes solar, the nonprofit makes monthly payments for their solar energy. This is where things get interesting! These payments go to our revolving fund, the Solar Seed Fund, and are redistributed to each campaign donor with a small return on the original donation. Every month you can go into your portfolio and see how much you have collected through your donation repayments. You then control which new nonprofit’s solar crowdfunding campaign to reinvest your donation repayments in. Your donation continues to fund solar projects across the country.</li>
                </ul>
            </div>
        </div>
        <div class="myth-box-div">
            <div class="myth-box-header-div"><span>How can I manage my monthly donations within my account?</span><span data-toggle="collapse" data-target="#text-block-20" class="myth-collapse-icon glyphicon glyphicon-chevron-down"></span></div>
            <div id="text-block-20" class="myth-collapse-text collapse">
                <ul class="leadship-ui">
                    <li class="leadship-li" style="margin-bottom: 1em;">Login</li>
                    <li class="leadship-li" style="margin-bottom: 1em;">Click the three lines on the top right.</li>
                    <li class="leadship-li" style="margin-bottom: 1em;">Click Account Settings.</li>
                    <li class="leadship-li" style="margin-bottom: 1em;">Click Donation Information on the left.</li>
                    <li class="leadship-li" style="margin-bottom: 1em;">Then edit how much you would like to donate.</li>
                    <li class="leadship-li" style="margin-bottom: 1em;">Then hit save.</li>
                </ul>
            </div>
        </div>
        <div class="myth-box-div">
            <div class="myth-box-header-div"><span>Is my donation to RE-volv tax deductible?</span><span data-toggle="collapse" data-target="#text-block-21" class="myth-collapse-icon glyphicon glyphicon-chevron-down"></span></div>
            <div id="text-block-21" class="myth-collapse-text collapse">
                <ul class="leadship-ui">
                    <li class="leadship-li" style="margin-bottom: 1em;">Yes, RE-volv is a registered 501(c)(3) nonprofit. All donations to RE-volv – whether to a solar project or to our operations – can be claimed as a tax deduction.</li>
                </ul>
            </div>
        </div>
        <div class="myth-box-div">
            <div class="myth-box-header-div"><span>I’m having trouble logging in to my account</span><span data-toggle="collapse" data-target="#text-block-22" class="myth-collapse-icon glyphicon glyphicon-chevron-down"></span></div>
            <div id="text-block-22" class="myth-collapse-text collapse">
                <ul class="leadship-ui">
                    Here are common solutions to this issue:
                    <li class="leadship-li" style="margin-bottom: 1em;">If you are having trouble making a donation, try using a different browser </li>
                    <li class="leadship-li" style="margin-bottom: 1em;">If you have ad blocker on, please disable adblocker on RE-volv.org </li>
                    <li class="leadship-li" style="margin-bottom: 1em;">Next, try clearing your cache on your web browser  </li>
                    <li class="leadship-li" style="margin-bottom: 1em;">If you are still having trouble email anna@re-volv.org</li>
                </ul>
            </div>
        </div>
    </div>

</div>

{% endblock %}
