{% load staticfiles revolv_cms_tags %}
<script>
function header_space(){
var x = window.pageYOffset;
var y = document.getElementById("demo");
var z = y.offsetTop;
if(x > z){
y.classList.add("after-scroll-header-fixed");
} else{
y.classList.remove("after-scroll-header-fixed");
}
}
</script>
<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="col-menu">
                <dl>
                    <dt><a href="/">Home</a></dt>
                    <dt><a href="/about-us/">About us</a></dt>
                    <dt><a href="/about-us/our-team/" class="footer-colmn-links">Team</a></dt>
                    <dt><a href="/about-us/partners/" class="footer-colmn-links">Partners</a></dt>
                    <dt><a href="/about-us/jobs/" class="footer-colmn-links">Jobs</a></dt>
                    <dt><a href="/about-us/contact/" class="footer-colmn-links">Contact us</a></dt>
                    <dt><a href="/blog/" class="footer-colmn-links">Blog</a></dt>
                    <dd class="hide"></dd>
                </dl>
            </nav>
            <!-- end .col-menu -->
            <nav class="col-info">
                <dl>
                    <dt><a href="/what-we-do/">what we do</a></dt>
                    <dd><a href="/what-we-do/how-it-works/">How It Works</a></dd>
                    <dd><a href="{% url 'projects_list' %}">Projects</a></dd>
                    <dd><a href="/what-we-do/media/">Media</a></dd>
                </dl>
            </nav>
            <!-- end .col-info -->
            <nav class="col-info">
                <dl>
                    <dt><a href="/get-involved/">get involved</a></dt>
                    <dd><a href="{% url 'projects_list' %}">Fund a solar project</a></dd>
                    <dd><a href="/bring_solar_to_your_community/">Start a solar project</a></dd>
                    <dd><a href="/solar_at_home/">Go solar at home</a></dd>
                    <dd><a href="#" onclick="return clearInput();" data-toggle="modal" data-target="#popup">Support our work</a></dd>
                    <dd><a href="/get-involved/leadership-circle/">Join the Leadership Circle</a></dd>
                    <dd><a href="{% url 'revolv_accelerator' %}">RE-volv Accelerator</a></dd>
                    <dd><a href="{% url 'faq' %}">RE-volv FAQ</a></dd>
                </dl>
            </nav>
            <!-- end .col-info -->
            <nav class="col-info">
                <dl>
                    <dt><a href="/solar-education/">solar education</a></dt>
                    <dd><a href="/solar-education/">Educational Resources</a></dd>
                    <dd><a href="/get-involved/solar-ambassador-program/">Solar Ambassador Program</a></dd>
                    <dd><a href="/solar-education/myths-and-facts/">Common Myths and Exciting Facts</a></dd>
                </dl>
            </nav>
            <!-- end .col-info -->
            <nav class="col-info">
                <dl>
                    <dt><a href="/about-us/">What is RE-volv?</a></dt>
                    <dd class="hide"></dd>
                </dl>
                <p>RE-volv is a 501(c)(3) nonprofit organization with a mission to empower people and communities to invest collectively in renewable energy. All donations are tax-deductible.</p>

                <dl>
                    <dt><a href="http://goo.gl/forms/S1TEKTNgNz">How do you like our website?</a></dt>
                </dl>
                <p>Take a short survey and let us know. We would love to hear your feedback!</p>
            </nav>
            <!-- end .col-info -->
        </div>
        <!-- end .row -->
        <div class="row">
            <p class="attribution footer-text">This website was developed with the support of <a href="https://www.calblueprint.org/"><b>Blueprint</b></a> and the <a href="http://energy.gov/eere/sunshot/about-sunshot-initiative"><b>U.S. Department of Energy Sunshot Initiative</b></a>.
            </p>
        </div>
        <div class="row">
            <div class="bottoms">
                <div class="col-xs-12 col-md-4 flex flex-aln-itm-cnt">
                    <a href="javascript:;" class="logo">
                        <img src="/static/images/logo-white.png" />
                    </a>
                </div>
                <div class="col-xs-12 col-md-4 flex flex-aln-itm-cnt flex-jty-con-cnt copyright hidden-xs hidden-sm">
                         2017 © RE-volv All rights reserved.
                </div>
                <!-- end .lefts -->
                <div class="col-xs-12 col-md-4 flex flex-aln-itm-cnt flex-jty-con-end social-icons-cntnr">
                    <ul class="flex flex-jty-con-end">
                        <li><a href="https://www.facebook.com/solarseedfund/" target="_blank">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a></li>
                        <li><a href="https://twitter.com/RE_volv" target="_blank">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a></li>
                    </ul>
                </div>

                <div class="col-xs-12 col-md-4 flex flex-aln-itm-cnt flex-jty-con-cnt copyright hidden-md hidden-lg">
                         2017 © RE-volv All rights reserved.
                </div>
                <!-- end .rights -->
            </div>
        </div>

        <!-- end .bottoms -->
    </div>
</footer>
<!-- end .footer -->

{% comment %}
<div class="footer">
    <div class="row">
        <div class="section small-8 columns">
            <div class="row">
                {% get_cms_root_page as root_page %}
                {% partial_footer_menu root_page %}
                {% num_menu_pages root_page as cms_pages_count %}
                <section class="small-12 medium-4 columns{% if cms_pages_count|divisibleby:'3' %} clear{% endif %}">
                    <div class="left">
                        <h3>Account</h3>
                        <ul>
                            {% if request.user.is_authenticated %}
                                <li><a href="/logout/">Sign out</a></li>
                            {% else %}
                                <li><a href="/signin/">Log in</a></li>
                                <li><a href="/signin/">Sign up</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </section>
                <section class="medium-4 small-12 columns end{% if cms_pages_count|add:'1'|divisibleby:'3' %} clear{% endif %}">
                    <div class="left">
                        <h3>{{ settings.revolv_cms.FooterSettings.contact_heading }}</h3>
                        <p>{{ settings.revolv_cms.FooterSettings.contact_email|commented_email|safe }}</p>
                        <p>{{ settings.revolv_cms.FooterSettings.contact_phone_number }}</p>
                        <p>{{ settings.revolv_cms.FooterSettings.contact_address_line_1 }}</p>
                        <p>{{ settings.revolv_cms.FooterSettings.contact_address_line_2 }}</p>
                    </div>
                </section>
            </div>
        </div>
        <div class="small-4 columns">
            <div class="row">
                <section class="small-12 columns">
                    <div class="right right-aligned-text">
                        <h3></h3>
                        <p class="show-for-medium-up">All solar projects have been vetted and approved by RE-volv.</p>
                        <p><a href="{% url "home" %}"><img class="logo" src="{% static 'images/revolv-logo-white.png' %}"></a></p>
                        <p class="show-for-medium-up">Developed with care by <a class="underline" href="http://calblueprint.org">Blueprint</a>.</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


{% endcomment %}
