{% load staticfiles revolv_cms_tags %}

<style>
  @media only screen and (max-width: 992px) {
   .bottom-social-footer {
     min-height: 240px !important;
   }
  }
  </style>
  
  <footer style="overflow: hidden;  clear: both;  display: block;">
  <!-- <footer style="overflow: visible;"> -->
    <div class="container">
      <div class="row justify-content-center align-items-start">
        <div class="col-sm-12 col-md-4 footer-logo">
          <img src="../../../static/images/home-img/REVOLV_logo_footer.png" style="margin-top:0px !important;">
          <ul class="footer-links" style="margin-top: 28px !important;">
            <li style="font-size:18x;"><a class="fw-700" href="https://docs.google.com/forms/d/e/1FAIpQLScEDMEMnz1xnqnGETNcm_U4gLtVlon8zHrZO4b5CE2Pb8jDsA/viewform">How do you like our website?</a></li>
            <li  style="font-size:14px; color:white;">Take a short survey and let us know. We would love to hear your feedback!</li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-2">
          <ul class="footer-links">
            <li><a href="/about-us/re-volv">About Us</a></li>
            <li><a href="/about-us/team/">Team</a></li>
            <li><a href="/about-us/jobs/">Jobs</a></li>
            <li><a href="/re-volv/media/">News</a></li>
            <li><a href="/about-us/contact/">Contact</a></li>
            <li><a href="/blog-center/articles/">Blog</a></li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-2">
          <ul class="footer-links">
            <li><a href="{% url 'completed_projects' %}">Projects </a></li>
            <li><a href="/get-involved/solar-ambassador/">Volunteering</a></li>
            <li><a href="/get-involved/apply/">Solar for Nonprofits</a></li>
            <li><a href="/#newsletter-anchor">Newsletter Signup</a></li>
            <li style="display: none;"><a href="{% url 'faq' %}">FAQs</a></li>
            <li><a href="/solar_at_home/">Go Solar at Home</a></li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-4 footer-last-col">
          <ul class="footer-links">
            <li><a href="/get-involved/education/" class="fw-700">Education Center</a></li>
            <li><a href="/get-involved/education/crowdfunding/#title-category">Crowdfunding</a></li>
            <li><a href="/get-involved/education/solarenergyfinancing/#title-category">Solar Energy &amp; Financing</a></li>
            <li><a href="/get-involved/education/solarcommunity/#title-category">Bring Solar to your community</a></li>
            <li><a href="/get-involved/education/careers/#title-category">Solar Careers</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container footer-bottom">
      <div class="row justify-content-between align-items-center">
          <div class="col-sm-12 col-md-6">
            <p class="text-white mb-0">Copyright © 2019 RE-volv  |  All Rights Reserved</p>
          </div>
          <div class="col-sm-12 col-md-4">
            <ul class="social-links">
              <li><a href="mailto:info@re-volv.org"><i class="fas fa-envelope"></i></a></li>
              <li><a href="https://www.facebook.com/solarseedfund/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="https://twitter.com/RE_volv" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a></li>
              <li><a href="https://www.youtube.com/user/REvolvSolarSeedFund" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube"></i></a></li>
              <li><a href="https://www.instagram.com/re.volv/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
      </div>
    </div>
  </footer>