{% extends "base/base.html" %}
{% load staticfiles %}
{% load wagtailimages_tags %}

{% block title %}Leadership Circle | {% endblock %}
{% block body %}
    <div class="after-header" style="width: 100%;min-height: 114em;position: relative;">
        <div class="leo-content-center">
            <div style="margin-bottom: 20px;">
                <span class="leadership-circle-header">Leadership Circle</span>
            </div>
            <div style="margin-left: 2%;">
                <p class="leadership-circle-sub-header">Join the RE-volv Leadership Circle!</p>
                <p class="leadership-circle-sub-text">Join a select group of clean energy leaders who are supporting RE-volv's mission to bring solar energy to communities across the country.</p>
                <p class="leadership-content">To join the Leadership Circle, please make a tax-deductible donation of $1,000 or more, or sign up to become a monthly donor for an amount that equals $1,000 or more over the next 12 months.  </p>
            </div>
            <div class="leo-donate-btn">
                    <!--<a href="#" onclick="return clearInput();" class="component-link btn-blue btn-donate" data-toggle="modal" data-target="#popup">Join the Leadership Circle!</a>-->
                    <a href="{%url 'faithbaptistchurch' %}" onclick="return clearInput();" class="component-link btn-blue btn-donate">Join the Leadership Circle!</a>
                </div>
            <div style="margin-left: 2%;">
                <p class="leadership-content"><b>Your support helps RE-volv staff train clean energy leaders</b> to spearhead a solar energy project for an organization in their community.</p>
                <p class="leadership-content">Photo below: The 2017-2018 Solar Ambassadors pose at the Marconi Conference Center in Pt. Reyes, California during their four day Leadership Summit, where they learned about solar policy, finance, crowdfunding, community engagement, and project management.</p>
            </div>
            <div class="leadship-img">
                <img src="/static/images/Group_photo_spirit_fingers.max-600x600.jpg" class="leadership-img-size" width="450" height="450" alt="1f1d0876-be74-4b33-99c8-6ac93f1d70db_dev_c75f7cd7-28a3-4c00-b00d-e8c2a8014ff1_6.png.jpg" class="img-center">
            </div>
            <div style="margin-left: 2%;margin-top: 1.6em;">
                <span class="leadership-circle-sub-header">Member Benefits</span>
                <p class="leadership-content">By making a tax-deductible donation of $1,000 or more to RE-volv, your gift will support our mission to empower people and communities to invest collectively in renewable energy.</p>
                <p class="leadership-circle-sub-text" style="margin-top: 1.6em;">As a RE-volv Leadership Circle member, you will receive opportunities to:</p>
                <ul class="leadship-ui">
                  <li class="leadship-li"><p class="leadership-content">Network at <b>exclusive social events</b> with other Leadership Circle members</p></li>
                  <li class="leadship-li"><p class="leadership-content">Attend quarterly <b>webinars</b> with RE-volv's staff and environmental thought leaders</p></li>
                  <li class="leadship-li"><p class="leadership-content"><b>Meet with RE-volv's Board of Directors</b> to get an inside look at the organization and offer insights on our work</p></li>
                  <li class="leadship-li"><p class="leadership-content">Join <b>guided tours</b> of RE-volv solar energy system installation sites</p></li>
                  <li class="leadship-li"><p class="leadership-content">Get on the roof and help us install a solar energy <b>system!</b></p></li>
                </ul>
                <p class="leadership-circle-sub-text" style="margin-top: 1.6em;">Specifically, you will enable RE-volv to:</p>
                <ul class="leadship-ui">
                  <li class="leadship-li"><p class="leadership-content"><b>Empower people who care about clean energy</b> to lead or support crowdfunding campaigns to help a local nonprofit go solar</p></li>
                  <li class="leadship-li"><p class="leadership-content"><b>Mentor 45 college students</b> from seven universities in six states, to become the next generation of clean energy leaders through our Solar Ambassador Program</p></li>
                  <li class="leadship-li"><p class="leadership-content"><b>Help nonprofits around the country go solar</b> by investing our revolving fund, the Solar Seed Fund, to pay for the up front costs of their solar energy systems</p></li>
                  <li class="leadship-li"><p class="leadership-content"><b>Raise awareness about the benefits of solar energy</b> and connect homeowners to solar providers in their area</p></li>
                </ul>
                <p class="leadership-circle-sub-text" style="margin-top: 1.6em;">Thank you for making our work possible!</p>
            </div>
            <div class="leo-donate-btn" style="margin-bottom: 2em;">
                    <a href="{%url 'faithbaptistchurch' %}" onclick="return clearInput();" class="component-link btn-blue btn-donate">Join the Leadership Circle!</a>
                </div>

        </div>
    </div>
{%endblock%}