{% extends "base/base.html" %}
{% load staticfiles %}
{% load wagtailimages_tags %}

{% block title %}Leo Page | {% endblock %}
{% block body %}
    <div class="after-header" style="width: 100%;min-height: 114em;position: relative;">
        <div class="leo-content-center">
            <span class="leo-content-text">Leonardo DiCaprio Foundation Partners with RE-volv!</span>
            <p class="leo-content-size">We are thrilled to announce that RE-volv has received its largest grant to date from the Leonardo DiCaprio Foundation.</p>
            <p class="leo-content-size" style="margin-left: 1.6em;"><b>You can partner with Leo and RE-volv by becoming a Monthly Donor today!</b></p>
            <div class="leo-donate-btn">
                <a href="#" onclick="return clearInput();" class="component-link btn-blue btn-donate" data-toggle="modal" data-target="#popup">Take 30 Seconds to Donate!</a>
            </div>
            <div class="leo-content-size">
                <img src="/static/images/leo_page_img.jpg" width="100%" height="421" alt="1f1d0876-be74-4b33-99c8-6ac93f1d70db_dev_c75f7cd7-28a3-4c00-b00d-e8c2a8014ff1_6.png.jpg" class="img-center">
            </div>
            <div>
                <p class="leo-content-size">The Leonardo DiCaprio Foundation is giving a $120,000 grant to RE-volv to expand access to affordable and clean energy for nonprofits in the US. The best part: Leo will match your donations dollar for dollar for all of our upcoming projects!</p>
                <p class="leo-content-size">Leo’s support will double our impact and bring our organization to the next level. This will bring the benefits of solar to even more communities, people, and nonprofits around the country. </p>
            </div>
            <div class="leo-content-size">
                <img src="/static/images/leo_revolv_img.jpg" width="100%" height="421" alt="Solar installations" class="img-center">
            </div>
            <p class="leo-content-size">RE-volv's mission is to bring renewable energy to people that would not otherwise be able to get it. We need  </p>
            <p class="leo-content-size">Thanks for everything you do to support clean energy. It’s because of donors like you that our work is being backed by The Leonardo DiCaprio Foundation. We look forward to continuing to partner with you!  </p>
        </div>
            <div class="leo-donate-btn" style="margin-bottom:2em;">
                <a href="{% url 'home' %}#newsletter" style="padding: 0 20px;" class="component-link btn-blue btn-donate"><span>Sign up for our Newsletter!</span></a>
            </div>
    </div>
{%endblock%}