{% extends "base/base2.html" %}
{% load staticfiles %}
{% load wagtailimages_tags %}

{% block title %}RE-volv Accelerator Page | {% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/style.css?version={{ version_number }}">
<link rel="stylesheet" type="text/css" href="/static/css/donateform.css?version={{ version_number }}" />
<link rel="stylesheet" type="text/css" href="/static/css/accelerator.css?version={{ version_number }}" />
<link rel="stylesheet" type="text/css" href="/static/css/donation.css?version={{ version_number }}" />

{%endblock%}
{% block body %}
<nav class="nav-bar " style="margin-top:20px;">
  <section class="nav-bar-section">
    <div class="left-side">
      <ul class="logo-area">
        <li class="logo"><a href="{% url 'home' %}" style="width:79px; height:56px; "></a></li>
        <li class="offcanvas-open-link off-canvas-toggle"><a><span class="cw-icon-reorder icn"></span></a></li>
      </ul>
      <ul class="nav-items" id="nav-left" style="    margin-left: 90px;">
        <li data-link-name="about"><a href="/about-us/" {% if "/about-us/" in request.path %}class="active-left"
            {% endif %}>About</a></li>
        <li data-link-name="involved"><a href="/get-involved/"
            {% if "/get-involved/" == request.get_full_path %}class="active-left" {% endif %}>Get Involved</a></li>
        {% url 'projects_list' as url %}
        <li data-link-name="projects" style="color:black !important;"><a href="{{ url }}" {% if request.path == url %}
            class="active-left" {% endif %}>Projects</a></li>
        <li data-link-name="education"><a href="/solar-education/"
            {% if "/solar-education/" in request.path %}class="active-left" {% endif %}>Education</a></li>
      </ul>
    </div>
    <div class="right-side">
      <ul class="nav-buttons" id="nav-right">
        <li class="has-dropdown button-links" data-link-name="fundraise">
          {% url 'donate' as urlfundraise %}
          <a href="" {% if request.get_full_path == urlfundraise %} class="active-right" {% endif %}>Fundraise</a>
        </li>
        <li class="has-dropdown button-links" data-link-name="donate">
          {% url 'revolv_accelerator' as urldonate %}
          <a href="{{ urldonate }}" {% if request.get_full_path == urldonate %} class="active-right"
            {% endif %}>Donate</a>
        </li>
      </ul>
      <ul class="mycw-nav">
        <li class="has-form user-access">
          {% url 'signin' as urlsignin %}
          <a href="{{ urlsignin }}" {% if request.get_full_path == urlsignin %} class="active-left" {% endif %}>Sign
            in</a>
        </li>
      </ul>
    </div>
  </section>
</nav>

<div class="main-hero">
  <div class="main-hero-wrap">
    <div class="hero-text-1">
      <h1>Let's change lives</h1>
    </div>
    <div class="hero-text-2">
      <h4>Invest in a world where everyone can thrive from clean energy</h4>
    </div>
  </div>
</div>

<div class="hero" id="give-monthly">
  <div class="row hero-inner">
    <div class="text-donate" style="flex:1;">
      <h1 class="h50 pb-1">Spread clean energy. Make a real change in people's lives</h1>
      <h4 class="h60 subtitle">100% of your monthly donation supports schools, homeless
        shelter, food pantries, hospitals and other nonprofits, save money and the environment.
      </h4>
    </div>

    <div class="text-donate-mobile" style="display:none;">
      <h1 style="max-width:800px; font-size:30px; margin-left: 20px;">Spread clean energy. Make a real change in
        people's lives.</h1>
      <h4 style="max-width:400px; font-size:18px; margin:20px auto;">100% of your monthly donation supports
        schools, homeless
        shelter, food pantries, hospitals and other nonprofits, save money and the environment.</h4>
    </div>

    <div class="donate-form" style="flex:2; max-width:515px;">
      <div class="donate-form-container">
        <div class="donate-form-wrapper stripe-elements step-1">
          <form action="{% url 'project:stripe_operation_donation' %}" method="POST">
            {% csrf_token %}
            <div class="u-background--grey">
              <div class="full-width">
                <input class="u-margin--0 donationWizard-amount-input" type="checkbox" id="checkbox-recurring"
                  name="check" style="display: none;">
                <label for="checkbox-recurring" style="display: none;">/label>
              </div>
            </div>
            <span class="adf-form-header text-center"><span>Choose an amount to give
                per&nbsp;month</span></span>
            <div class="donate-form-body">
              <div>
                <div class="amount-wrapper donation-values">
                  <div class="amount-buttons-wrapper">
                    <input type="button" id='twenty-amount'
                      class="button button--grey-20 amount-button  stripe-button-el" onclick="change()"
                      value="$ &#x00A;25&#x00A; /mo"></input>
                    <input type="button" id='fifty-amount'
                      class="button button--grey-20 amount-button stripe-button-el selected" onclick="change()"
                      value="$ &#x00A;50&#x00A; /mo"></input>
                    <input type="button" id='seventyfive-amount'
                      class="button button--grey-20 amount-button stripe-button-el" onclick="change()"
                      value="$ &#x00A;75&#x00A; /mo"></input>
                    <input type="button" id='hundred-amount'
                      class="button button--grey-20 amount-button stripe-button-el" onclick="change()"
                      value="$ &#x00A;100&#x00A; /mo"></input>
                    <a class="button button--grey-20 other-amount-button" id="other-amount-button">
                      Other amount
                    </a>
                    <div class="input-wrapper lh donate-amount other-input-button hidden">
                      <label for="amount">Donation Amount</label>
                      <div class="input-field-container">
                        <span class="preinput">$</span>
                        <input id="donation-inputz" type="number" step="0.01" min="1" value="50" placeholder="Custom"
                          name="donation_amount_cents">
                        <span class="postinput">/month</span>
                      </div>
                      <div class="error"></div>
                    </div>
                    <div class="w-full col-xs-12 next-button stripe-button-el"
                      style="margin-top:13px !important; background:#FF8A00; padding:20px; border-radius:4px; cursor: pointer;">
                      <b style="font-weight:700; color:white; font-size: 15px; ">Donate Monthly</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="impact" style="background:white;">
  <div class="impact-items">
    <div class="item">
      <div class="icon"><img src="/static/images/re-volve-logo-teal.svg" />
      </div>
      <h2 style="color:#41CECA; font-size:1.4em; text-transform: capitalize;">About RE-volv</h2>
      <p style="font-size:20px; margin: 20px 0px; max-width:1200px; ">Homeless shelters, schools, community centers, and
        houses of worship are a&nbsp;few..</p>
      <a href="" style="font-size:1.4em; color:  #FF8A00;"> Read more... </a>
    </div>
    <div class="item">
      <div class="icon"><img src="/static/images/re-volve-icon-seed-fund-teal.svg" />
      </div>
      <h2 style="color:#41CECA; font-size:1.4em; text-transform: capitalize;">Solar Seed Fund</h2>
      <p style="font-size:20px; margin: 20px 0px; max-width:1200px; ">The revolving fund we use to finance leases in
        seeded through crowdfunding&nbsp;donations...</p>
      <a href="" style="font-size:1.4em; color:  #FF8A00;"> Read more... </a>
    </div>
    <div class="item">
      <div class="icon"><img src="/static/images/re-volve-icon-nonprofits-teal.svg" />
      </div>
      <h2 style="color:#41CECA; font-size:1.4em; text-transform: capitalize;">Nonprofits We Support</h2>
      <p style="font-size:20px; margin: 20px 0px; max-width:1200px; ">Homeless shelters, schools, community centers, and
        houses of worship are a&nbsp;few..</p>
      <a href="" style="font-size:1.4em; color:  #FF8A00;"> Read more... </a>
    </div>
  </div>
</div>

<div class="desc" style="background:#EDEFF0; padding:100px;">
  <div class="image-desc"
    style=" margin-right: auto; margin-left:  auto; max-width: 960px; padding-right: 10px; padding-left:  10px; ">
    <div class="savings" style="margin:0 auto; display:flex; text-align: center; ">
      <div class="savings-image">
        <img src="/static/images/solar-youth.png" style="width:420px; height:275px; margin-left: 40px;" />
      </div>
      <div class="savings-text">
        <p
          style="max-width: 400px; font-size: 1.9em;font-weight: 100;margin: 8px 0 24px 50px;text-align: left; letter-spacing: 1.4px; line-height: 1.4em;">
          Your <span style="color:#41CECA;">$50</span> monthly donation creates <span
            style="color:#41CECA;">thousands</span> in
          savings for nonprofits, generates
          <span style="color:#41CECA;">XXXX</span> watts of solar energy capacity offsets <span
            style="color:#41CECA;">XXXX</span> amount of carbon and is the equivalent of planting <span
            style="color:#41CECA;">XXXX</span> trees per year.</p>
      </div>
    </div>
  </div>
</div>

<div class="quotes" style="margin: 0 auto; height:490px; background:white;">
  <div class="wrap" style="margin:0 auto;">
    <div class="middle-quote" style="max-width:984px;  margin:0 auto; text-align: center;display: block;">
      <div class="content-quote" style="margin-top:170px; display: inline-block;">
        <img class="left-quote" src="/static/images/left-quote.png" />
        <img class="right-quote" src="/static/images/right-quote.png" />
        <h1>Every penny, nickel, and dime that I’m saving from solar is going to my three year oldgranddaughter's
          education</h1>
        <h4> – Unity Gardens Affordable Housing Resident</h4>
      </div>
    </div>
  </div>
</div>

<div class="map-stats-section secondary-body-section">
  <h3 class="h40"> You can also donate directly to an active crowdfunding campaign</h3>
</div>

<div class="impact" style="background:white;">
  <div class="impact-items">
    {% for active_project in active_projects %}
    <div class="item" style="margin: 49px;">
      <div class="icon">
        <img src="/static/images/lakeshore.jpg"
          style=" object-fit: cover;border-radius: 50%;height: 200px;width: 200px;background-color: #F5F6F6;border: 10px solid #FFF; " />
      </div>
      <h2 class="h60" style="margin:0 auto; max-width: 200px; height: 70px; font-size:20px; font-family: “Open Sans”, Calibri, Sans-Serif, Arial;
      font-size: 1em;
      font-weight: 600;
      color: #262626;
      ">{{ active_project.title }}
      </h2>
      <div style="width:300px; margin-top:20px;">
        <div class="progress" style="width:100%; height: 25px; border-radius: 10px;">
          <div class="progress-bar progress-bar-info" role="progressbar"
            aria-valuenow="{{ active_project.percent_complete }}" aria-valuemin="0" aria-valuemax="100" style="font-family: “Montserrat”, Calibri, Sans-Serif, Arial;
            font-weight: 400;
            background:#41CECA;
            border-radius: 10px; font-size: 14px; width: {{ active_project.percent_complete }}%">
            ${{ active_project.amount_donated |floatformat:"0"}}
            <span class="sr-only">40% Complete (success)</span>
          </div>
        </div>
        <span style="position: relative; left: 170px; bottom: 44px;font-family: “Open Sans”, Calibri, Sans-Serif, Arial;
        font-size: 1em; 
        font-weight: 700;
        color: #333333;
        ">{{ active_project.percent_complete }}%</span>
      </div>
      <p class="mt-1"></p>
      <a href="{% url "project:view" title=active_project.project_url %}" style="color:white;">
        <div style="padding:10px; cursor: pointer; border-radius:2px;background-color: #FF8A00;
        font-family: “Montserrat”, Calibri, Sans-Serif, Arial;
        border-radius: 6px;
        ">
          DONATE NOW
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

<div class="signup-section" style="background-color: #FF8A00; padding: 40px 0;">
  <div class="signup-container" style="display:flex; margin:0 auto; max-width: 550px;">
    <h3 class="h40">Sign Up to Learn More</h3>
    <div class="subscribe-button" style="margin:0px 20px;">
      <a href="{% url 'signin' %}#signup">
        <button>Subscribe</button>
      </a>
    </div>
  </div>
</div>

<footer class="cw-footer no-top-border" style="background:grey;padding: 100px; margin:0px;">
  <div class="">
    <img src="/static/images/REVOLV_logo_Tag_White.png" style="width:240px; height:90px;" />

    <ul class="mx-auto justify-center lg-justify-start flex" style="color:white; float:right; list-style: none;">
      <li style="margin:0px 20px;">
        <a href="https://twitter.com/RE_volv" target=”_blank” rel=”noopener noreferrer” style="color:white;">
          <i class="fa fa-twitter" aria-hidden="true" style="font-size:40px;"></i> </a> </li>
      <li style="margin:0px 20px;">
        <a href="https://www.facebook.com/solarseedfund/" target=”_blank” rel=”noopener noreferrer”
          style="color:white;">
          <i class="fa fa-facebook" aria-hidden="true" style="font-size:40px;"></i> </a> </li>
      <li style="margin:0px 20px;">
        <a href="mailto:info@re-volv.org?Subject=Hello%20RE-volv" target=”_blank” rel=”noopener noreferrer”
          style="color:white;">
          <i class="fa fa-envelope" aria-hidden="true" style="font-size:40px;"></i> </a> </li>
    </ul>
  </div>
  <div style="float:right; color:white; font-size:20px; ">
    <span style="text-transform: capitalize;">Copyright </span> &copy;
    <span style="text-transform: capitalize;">RE-</span>volv | All Rights Reserved
  </div>
</footer>

{%endblock%}