{% extends "base/base.html" %}
{% load staticfiles %}
{% load wagtailimages_tags %}

{% block title %}RE-volv Accelerator Page | {% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css?version={{ version_number }}">

{%endblock%}
{% block body %}
    <div class="after-header accelerator-main-div">
        <div class="revolv-content-center">
            <span class="leo-content-text">Join the RE-volv Accelerator Monthly Donor Program!</span>
            <div>
                <div>
                    <p class="accelator-sub-heading">When you become a RE-volv Accelerator, you accelerate our country's march towards a renewable future.</p>
        {#            <p class="leo-content-size">We are thrilled to announce that RE-volv has received its largest grant to date from the Leonardo DiCaprio Foundation.</p>#}
        {#            <p class="leo-content-size" style="margin-left: 1.6em;"><b>You can partner with LDF and RE-volv by becoming a Monthly Donor today!</b></p>#}
                    <div class="leo-donate-btn accelerator-bottom-btn-div">
                        <div class="accelator-page-text-container">
                            <div class="accelator-flex">
                                <div class="accelerator-donate-btn">
                                    <form action="{% url 'project:stripe_operation_donation' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="donation_amount_in_cents" value="10">
                                        <input name="metadata" value="1.00" type="hidden">
                                        <input name="check" value="checked" type="hidden">
                                        <button type="submit" class="stripe-monthly-donation-button-el component-link btn-blue btn-donate" style="visibility: visible">
                                          <span id="b1" style="display: block">Donate $10 a month</span>
                                        </button>
                                      </form>
                                </div>
                                <div>
                                    <ul class="leadship-ui">
                                        <li class="leadship-li"><p class="leo-content-size" style="margin-top: 0;">$10 a month allows us to hold 5 more solar education events each year and spread the word about solar across the country.</p>
                                        <li class="leadship-li" style="margin-top: 1em;"><p class="leo-content-size" style="margin-top: 0;">$10 a month allows us to open up one more fellowship opportunity for a college student to be trained as a Solar Ambassador.  </p>
                                        <li class="leadship-li" style="margin-top: 1em;"><p class="leo-content-size" style="margin-top: 0;">At $10 a month, you receive a RE-volv t-shirt PLUS more perks shown below!  </p>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="accelator-image-text-container">
                            <img src="/static/images/revolv_meeting.jpg" width="100%" alt="Solar installations" class="img-center">
                        </div>
                    </div>

                    <hr style="font-weight: 700;border-top: 1px solid #00000159;">
                    <div class="leo-donate-btn accelerator-bottom-btn-div">
                        <div class="accelator-page-text-container">
                            <div class="accelator-flex">
                                <div class="accelerator-donate-btn">
                                    <form action="{% url 'project:stripe_operation_donation' %}" method="POST">
                                    {% csrf_token %}
                                        <input type="hidden" name="donation_amount_in_cents" value="20">
                                        <input name="metadata" value="1.00" type="hidden">
                                        <input name="check" value="checked" type="hidden">
                                        <button type="submit" class="stripe-monthly-donation-button-el component-link btn-blue btn-donate" style="visibility: visible;">
                                          <span style="display: block;">Donate $20 a month</span>
                                        </button>
                                    </form>
                                </div>
                                <div>
                                    <ul class="leadship-ui">
                                        <li class="leadship-li"><p class="leo-content-size" style="margin-top: 0;">$20 a month allows us to film one more professional solar education video during the year.</p>
                                        <li class="leadship-li"><p class="leo-content-size" style="margin-top: 1em;"><p class="leo-content-size" style="margin-top: 0;">$20 a month allows us to open up TWO more fellowship opportunities for college students to be trained as Solar Ambassadors. </p>
                                        <li class="leadship-li"><p class="leo-content-size" style="margin-top: 1em;"><p class="leo-content-size" style="margin-top: 0;">At $20 a month, you will receive both a RE-volv t-shirt AND a RE-volv tote bag  PLUS more perks shown below!  </p>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="accelator-image-text-container">
                            <img src="/static/images/Group_outside_shot.jpg" width="100%" alt="Solar installations" class="img-center">
                        </div>
                    </div>
                    <div class="leo-donate-btn">
                        <a href="#" id="leo-donate-btn" style="font-size:1em;" onclick="return acceleratorClearInput();" class="component-link btn-blue btn-donate" data-toggle="modal" data-target="#popup">Customize your Monthly Gift</a>
                    </div>
                    <p class="accelator-sub-heading">RE-volv Accelerator perks!</p>
                    <ul class="leadship-ui">
                          <li class="leadship-li" style="font-size: 16px"><p class="leadership-content">You will receive monthly updates about our current projects</p></li>
                          <li class="leadship-li" style="font-size: 16px"><p class="leadership-content">At $10 a month, you receive a RE-volv t-shirt</p></li>
                          <li class="leadship-li" style="font-size: 16px"><p class="leadership-content">At $20 a month, you will receive both a RE-volv t-shirt AND a RE-volv tote bag</p></li>
                          <li class="leadship-li" style="font-size: 16px"><p class="leadership-content">You will be invited to the Solar System Ribbon Cutting Events for all projects </p></li>
                          <li class="leadship-li" style="font-size: 16px"><p class="leadership-content">You will get priority access to volunteer positions available during the solar installations</p></li>
                    </ul>
                    <div class="leo-content-size accelerator-bottom-btn">
                            <img src="/static/images/resized_t-shirt_tote.png" width="100%" style="margin-top: 8%;" alt="Solar installations" class="img-center">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
  $(function ($) {
  var handler = StripeCheckout.configure({
    key: '{{ stripe_publishable_key }}'
    , image: '{% static "images/revolv-logo.png" %}'
    , locale: 'auto'
    , name: 'RE-volv'
    , email: '{{request.user.email}}'
  });
  $(window).on('popstate', function () {
    handler.close();
  });
  $('.stripe-monthly-donation-button-el').on('click', function (e) {
    e.preventDefault();
    var $form = $(this).closest('form');
    var serialized = $form.serializeArray();
    var endpoint = $form.attr('action');
    var amount, metadata;
    $.each(serialized, function () {
      if (this.name === 'donation_amount_in_cents') {
        amount = this.value*100;
      }
      if (this.name === 'metadata') {
        metadata = this.value;
      }
    });
    if (typeof amount !== 'undefined') {
      handler.open({
        description: 'Donate $' + parseFloat((amount / 100).toFixed(2)).toLocaleString()
        , amount: amount
        , metadata: metadata
        , panelLabel: "Donate Monthly"
        , token: function (token) {
          var id = token.id;
          var email = token.email;
          var $id = $('<input>')
            .attr('type', 'hidden')
            .attr('name', 'stripeToken')
            .val(id);
          var $email = $('<input>')
            .attr('type', 'hidden')
            .attr('name', 'stripeEmail')
            .val(email);
          $id.appendTo($form);
          $email.appendTo($form);
          $form.submit(function(e) {
          $('#donation-spinner').css('display', 'flex');
          $.ajax({
                 type: "POST",
                 url: '{% url 'project:stripe_operation_donation' %}',
                 data: $form.serializeArray(), // serializes the form's elements.
                 success: function(data)
                 {
                    if(data.status == 'donation_success') {
                        $('.modal-title').text('Thank you for donating!');
                        $('.donation-text').text("Thank you for donating $" +data.amount + " to RE-volv's mission to empower communities with solar energy!");
                    }
                    if(data.status == 'subscription_success') {
                        $('.modal-title').text('Thank you for donating!');
                        $('.donation-text').text("Thank you for donating $" +data.amount + " monthly to RE-volv's mission to empower communities with solar energy!");
                    }
                    if(data.status == 'already_exist') {
                        $('.modal-title').text('Donation already exist');
                        $('.donation-text').text("Thank you for showing interest, you are already subscribe for monthly donation!");
                    }
                    $('#donation-spinner').css('display', 'none');
                    $('#operationModal').modal('show');

                 },
                 error: function(data)
                 {
                    $('.modal-title').text('Error!');
                    $('.donation-text').text("Payment error. Something went wrong.");
                     $('#donation-spinner').css('display', 'none');
                    $('#operationModal').modal('show');
                 }
               });

          e.preventDefault(); // avoid to execute the actual submit of the form.
        });
          $form.trigger('submit');
        }
      });
    }
  });
});
</script>
<script>
    function acceleratorClearInput() {
    $('input[name=check]').prop('checked', true);
    $('input[name=donation_amount_cents]').val('');
    $(".monthly-plan-msg").hide();
    $(".donate-popup .next-button").css("background-color", "#9a9a9a");
    $(".donate-popup .next-button").removeClass("stripe-button-el");
   $(".donate-popup .next-button").addClass("disable-donation-btn");
 }
</script>
{%endblock%}