{% extends "base/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load wagtailimages_tags %}

{% block head %}

<!-- -->
<script src="{% static 'js/base/homeAnimations.js' %}?version={{ version_number }}"></script>


<style>

.margin-team {
  margin: 60px 0px;
}

.span-team {
  color:#100084; 
  font-size:2em;
}

</style>
{% endblock %}

{% block body %}

    <main role="main" class="container-fluid">
      <div class="container-fluid ambassador-header" id="top-section">
        <div class="row text-center">
          <div class="col hero-text align-self-end">
            <h1 class="text-light amb-text">Ambassador<br />Fellowship & Program Info</h1>
          </div>
        </div>
      </div>
      <div class="container-fluid scroll-section" id="scroll-section">
          <div class="scroll-icon">
            <img class="scroll-arrow bouncing" src="../../../static/images/about-abr-img/scroll-icon.png">
          </div>
      </div>
      <div class="container-fluid" id="ambassador-section-second" style="padding-bottom: 6%;">
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-12 col-md-10 col-lg-8 text-center">
              <h2 class="blue-text fw-300 mb-3">Fellowship Description</h2>
              <p class="grey-text">Are you a college student passionate about renewable energy? Are you interested in taking action to put up solar in your community? If the opportunity to install a solar energy system on a nonprofit or cooperative near you sounds exciting, then RE-volv wants to help you make it happen.</p>
              <p class="grey-text">The Solar Ambassador Fellowship is a fellowship for one academic year that gives college students the opportunity to spearhead a solar project in their community using RE-volv’s innovative solar financing model. We are looking for creative, passionate, and resourceful college students who are eager to spread solar across the country. <p>
              <p class="grey-text">Interested in applying but have questions? Reach out at <a href = "mailto:info@re-volv.org?subject=SolarAmbassadorProgram&body=Message">info@re-volv.org</a> to set up an intro call.</p>
              <p class="grey-text"> </p>
                
          </div>
        </div>
      </div>

      <div class="container-fluid" id="application-section-five" style="background-size:100%;">
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-12 co-md-10 col-lg-10">
            <div class="row align-items-center justify-content-start">
              <div class="col-sm-12 col-md-5">
                <h1 class="orange-text amb-text mb-4">Requirements</h1>
                <ul class="requirment-list text-white">
                  <li>The team is comprised of at least 3 but no more than 10 college students who will be enrolled in a college or university 2019-2020</li>
                  <li>The team completes a Team Application</li>
                  <li>The team completes an online training to help them gather a list of nonprofits that may want to go solar through RE-volv </li>
                  <li>The team begins formal training to run a successful campaign and complete the project</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid" id="application-section-second">
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-12 col-md-10 col-lg-8 text-center">
                <h2 class="blue-text fw-300 mb-3">Benefits</h2>
                <p class="grey-text">During the academic year, RE-volv will help teams bring their solar projects to fruition. To facilitate this, each team will select one Project Lead who will be invited to an all-expense-paid Solar Ambassador Leadership Summit held in July or August in the San Francisco Bay Area. This summit will train Project Leads on solar finance and policy, event planning, communications, and community engagement - all the skills needed to complete their proposed project! Every Solar Ambassador will also be provided with exclusive resources and campaign materials.</p>
                <p class="grey-text">During the academic year, all team members will participate in biweekly webinars with RE-volv staff and special guests from leading environmental organizations and solar companies. Topics range from renewable energy to environmental justice, and these webinars will serve as discussion rooms for fellow Solar Ambassadors to share ideas. All Solar Ambassadors will also receive close mentoring and guidance from RE-volv staff.</p>
  
            </div>
            
            <div class="col-sm-12 col-md-10 col-lg-8 text-center">
                <p class="grey-text">Interested in applying? Before you do, reach out at <a href = "mailto:info@re-volv.org?subject=SolarAmbassadorProgram&body=Message">info@re-volv.org</a> to set up an intro call.</p>
            </div>
          <div class="col-sm-12 col-md-10 col-lg-8 text-center">
              <a class="btn btn-blue btn-me btn-arrow-orange mx-2" style="margin-top:20px;" href="/bring_solar_to_your_community/intake_form/signup" role="button">Sign up now!</a>
          </div>
        </div>
      </div>


      <div class="container-fluid" id="ambassador-section-second" style="padding-bottom: 6%;">
          <div class="row justify-content-center align-items-center">
            <div class="col-sm-12 col-md-10 col-lg-8 text-center">
                <h2 class="blue-text fw-300 mb-3">Meet the 2019-2020 Solar Ambassadors!</h2>
                <img src="../../../static/images/team-edu-img/ambassadorteam2.jpg">
                <p class="grey-text"> </p>
                <div class="">
                <section class="row">
                    <article class="col-md-12 margin-team">
                      <img src="../../../static/images/team-edu-img/america-uni.png" class="img-fluid rounded float-left mr-5" alt="...">
                      <p style="text-align:left;"><span class="span-team">American University</span>
                        <strong><br>Project Lead:</strong> Samantha Miller, Fraser Lee Hudgins
                        <strong><br>Team:</strong> Danielle Dumais, Sahara Pereira, Megan Burns, Maggie Fitzgerald
                      </p>
                    </article>  
                    <article class="col-md-12 margin-team">
                      <img src="../../../static/images/team-edu-img/claremontuni.png" class="img-fluid rounded float-left mr-5" alt="...">
                      <p style="text-align:left;"><span class="span-team">Claremont Colleges</span>
                        <strong><br>Project Lead:</strong> Gavin	Siegert
                        <strong><br>Team:</strong> Ella Meyer, Joseph May, Jackson Patrick, Ethan Vitaz, Samantha Sherman, Catherine Ward
                      </p>
                    </article>
                    <article class="col-md-12 margin-team">
                      <img src="../../../static/images/team-edu-img/coastcauni.png" class="img-fluid rounded float-left mr-5" alt="...">
                      <p style="text-align:left;"><span class="span-team">Coastal Carolina University</span>
                        <strong><br>Project Lead:</strong> Danielle	Kvadas
                        <strong><br>Team:</strong> Lucie Marshall, Connor Herndon, Kristian Clark, Billie Rogers, Meagan Modrusic, Colton Walker, Thomas McCullough
                      </p>
                    </article>
                    <article class="col-md-12 margin-team">
                      <img src="../../../static/images/team-edu-img/purdue-uni.png" class="img-fluid rounded float-left mr-5" alt="...">
                      <p style="text-align:left;"><span class="span-team">Purdue University</span>
                        <strong><br>Project Lead:</strong> Hannah	Jongkind
                        <strong><br>Team:</strong> Anna Adamsson, Liana Zogbi, Jasmine Papas, Kyle Carpenter, Clayton Jarosinki, Abby Lenzini, Hannah Congleton, Jonah Ross, Laura Workman
                      </p>
                    </article> 
                    <article class="col-md-12 margin-team">
                      <img src="../../../static/images/team-edu-img/ucsb-uni.png" class="img-fluid rounded float-left mr-5" alt="...">
                      <p style="text-align:left;"><span class="span-team">University of California Santa Barbara</span>
                        <strong><br>Project Lead:</strong> Michelle	Le
                        <strong><br>Team:</strong> Veronica Hsu, Brendan Abatecola, Iris Li, Jessica Anguiano, Udval Tsolmonkhuu, Matthew Choi, Ava Tomasik
                      </p>
                    </article>
                    <article class="col-md-12 margin-team">
                      <img src="../../../static/images/team-edu-img/ucsc-uni.png" class="img-fluid rounded float-left mr-5" alt="...">
                      <p style="text-align:left;"><span class="span-team">University of California Santa Cruz</span>
                        <strong><br>Project Lead:</strong> Tyler Vallejos 
                        <strong><br>Team:</strong> Jacob Hillerman, Jaimie Guzman, Aidan Warlick, Nir Ribak, Daniel Sonnenberg, Karimeh Berrios
                      </p>
                    </article> 
                    <article class="col-md-12 margin-team">
                      <img src="../../../static/images/team-edu-img/dayton-uni.png" class="img-fluid rounded float-left mr-5" alt="...">
                      <p style="text-align:left;"><span class="span-team">University of Dayton</span>
                        <strong><br>Project Lead:</strong> Emily	Burns
                        <strong><br>Team:</strong> Melissa Padera, Sabato (Sam) Dasco, Christopher Hartnagel, Harry Huynh, Benjamin Mullins, Jack Stevens
                      </p>
                    </article>                     
                    <article class="col-md-12 margin-team">
                      <img src="../../../static/images/team-edu-img/newengland-uni.png" class="img-fluid rounded float-left mr-5" alt="...">
                      <p style="text-align:left;"><span class="span-team">University of New England</span>
                        <strong><br>Project Lead:</strong> Ryan Arbuckle
                        <strong><br>Team:</strong> TBA
                      </p>
                    </article> 
                    <article class="col-md-12 margin-team">
                      <img src="../../../static/images/team-edu-img/oregonuni.jpg" class="img-fluid rounded float-left mr-5" alt="...">
                      <p style="text-align:left;"><span class="span-team">University of Oregon</span>
                        <strong><br>Project Lead:</strong> Ama Duru
                        <strong><br>Team:</strong> Jaron Malcom, John Wilson, Kelly Shull, Rene Torres Mata
                      </p>
                    </article> 
                    <article class="col-md-12 margin-team">
                      <img src="../../../static/images/team-edu-img/usouthc-uni.png" class="img-fluid rounded float-left mr-5" alt="...">
                      <p style="text-align:left;"><span class="span-team">University of Southern California</span>
                        <strong><br>Project Lead:</strong> Jose	Hernandez
                        <strong><br>Team:</strong> Alana MacMahon, Anna Pendleton, Ruthannah Wang
                      </p>
                    </article>  
                    <article class="col-md-12 margin-team">
                      <img src="../../../static/images/team-edu-img/milwaukee-uni.png" class="img-fluid rounded float-left mr-5" alt="...">
                      <p style="text-align:left;"><span class="span-team">University of Wisconsin-Milwaukee</span>
                        <strong><br>Project Lead:</strong> Lauren Bonofiglio
                        <strong><br>Team:</strong> Nathan Tennies, James Homann
                      </p>
                    </article>
                    <article class="col-md-12 margin-team">
                      <img src="../../../static/images/team-edu-img/yale-uni.png" class="img-fluid rounded float-left mr-5" alt="...">
                      <p style="text-align:left;"><span class="span-team">Yale University</span>
                        <strong><br>Project Lead:</strong> Lauren	Delgado
                        <strong><br>Team:</strong> Katie Schlick, Tracy Zhou, Rebecca Huang, Diego Meucci, Orven Mallari, John Lignelli
                      </p>
                    </article>  
                  </section>
                  </div>
            </div>
          </div>
        </div>

        

        
        
    
      <div class="container-fluid" id="ambassador-section-five">
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-12 co-md-12 col-lg-8 text-center">
            <h2 class="text-white mb-4">About the <br />Solar Ambassador Fellowship</h2>
            <p class="grey-text">The Solar Ambassador Fellowship is a year-long fellowship for college students who want to help a community-serving organization near their campus go solar! RE-volv trains ambassadors in solar policy, community engagement, and project management. In turn, the Solar Ambassadors educate their campus communities about solar energy, develop a deep understanding of the energy sector, produce a tangible reduction in carbon emissions, and build a national network of environmental stewards. </p>
            <p class="grey-text">Interested in applying? Before you do, reach out to at <a href = "mailto:info@re-volv.org?subject=SolarAmbassadorProgram&body=Message">info@re-volv.org</a> to set up an intro call.</p>
            <a class="btn btn-orange btn-me btn-arrow-white my-4" href="#" role="button" style="display: none;">Learn more about being a Community Champion</a>
            <div class="row justify-content-center align-items-center margin-top:40px;">
                <a class="btn btn-blue btn-me btn-arrow-orange mx-2" href="/bring_solar_to_your_community/intake_form/signup/" role="button">Reach out to learn more</a>
            </div>
          </div>
        </div>
      </div>
    </main><!-- /.container -->
    
    <!-- responsive navigation bar -->
    <script src="{% static 'js/home-js/script.js' %}"></script>
{% endblock %}