{% extends "base/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load mathfilters %}

{% block head %}
<link rel="stylesheet" href="{% static 'typeahead/typeahead.css' %}" />
<link rel="stylesheet" href="{% static 'chosen/chosen.css' %}" />
<link rel="stylesheet" href="{% static 'dist/css/pages/project-edit/index.css' %}" />
<link href='https://fonts.googleapis.com/css?family=Lato:300,500,800' rel='stylesheet' type='text/css'>
<link href='https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css' rel='stylesheet' type='text/css'>
<link href='https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css' rel='stylesheet' type='text/css'>
<style type="text/css">
    #map-canvas { width: 100%; height: 300px; margin-bottom: 20px; padding: 0;}
    #map-canvas img {max-width: none;}

</style>

 <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/datetime-moment.js"></script>
<script src="/static/js/dataTables.buttons.min.js"></script>
<script src="/static/js/buttons.flash.min.js"></script>
<script src="/static/js/jszip.min.js"></script>
<script src="/static/js/pdfmake.min.js"></script>
<script src="/static/js/vfs_fonts.js"></script>
<script src="/static/js/buttons.html5.min.js"></script>
<script src="/static/js/buttons.print.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/static/js/solar_ed_week_event_report.js?v={{ version_number }}"></script>

{% endblock %}

{% block body %}
<div class="container-fluid application-header" id="top-section" style="background-position: center !important; height: 250px;">
    <div class="row text-center" style="height: 200px !important; margin: 0 auto;">
        <div class="col hero-text align-self-end">
        <h4 class="text-light" style="font-size: 30px;"> Solar Ed Week Events<br />  </h4>
        </div>
    </div>
</div>
<div class="container-fluid scroll-section" id="scroll-section">
    <div class="scroll-icon">
    <img class="scroll-arrow bouncing" src="../../../static/images/nonprofit-img/scroll-icon.png">
    </div>
</div>
<div id="matching-donor-spinner"><img src="/static/images/gif/revolv-loader.gif" alt="Matching donors are loading" ></div>
<div class="modal fade" id="matching_donor_modal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content" style="float:none;">
        <div class="modal-header">
          <button type="button" class="close close-modal" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Solar Ed Week Events</h4>
        </div>
        <div class="modal-body">
          <form id="add_matching_donor" name="form" >
            {% csrf_token %}
            <div>
                <label class="matching-donor-label">Name</label>
                <input id="name" type="text" class="matching-donor-dropdown"  name="name" class="form-field" required="false">
             
            </div>
            <div>
                <label class="matching-donor-label">Email</label>
                <input id="email" type="email" class="matching-donor-dropdown"  name="email" class="form-field" required="false">
            
            </div>
            <div>
                <label class="matching-donor-label">Title</label>
                <input id="title" type="text" class="matching-donor-dropdown"  name="title" class="form-field" required="false">
        
            </div>
            <div>
                <label class="matching-donor-label">Date</label>
                <input id="date" type="date" class="matching-donor-dropdown"  name="date" class="form-field" required="false">
            
            </div>
            <div>
              <label class="matching-donor-label">Time</label>
              <input id="evntime" type="time" class="matching-donor-dropdown"  name="evntime" class="form-field" required="false">
           
            </div>
            <div>
                <label class="matching-donor-label">Address</label>
                <input id="address" type="text" class="matching-donor-dropdown"  name="address" class="form-field" required="false">
              
            </div>
            <div>
                <label class="matching-donor-label">City</label>
                <input id="city" type="text" class="matching-donor-dropdown"  name="city" class="form-field" required="false">
         
            </div>
            <div>
                <label class="matching-donor-label">State</label>
                <input id="state" type="text" class="matching-donor-dropdown"  name="state" class="form-field" required="false">
       
            </div>
            <div>
                <label class="matching-donor-label">Zip Code</label>
                <input id="zip_code" type="number" class="matching-donor-dropdown"  name="zip_code" class="form-field" required="false">
                <input id="id" type="number" name="id" class="form-field" style="display:none;">
            </div>

            <div>
                <label class="matching-donor-label">Detail</label>
                <input id="detail" type="text" class="matching-donor-dropdown"  name="detail" class="form-field" required="false">
          
            </div>
            <div>
                <label class="matching-donor-label">Facebook link</label>
                <input id="facebook_link" type="text" class="matching-donor-dropdown"  name="facebook_link" class="form-field" required="false">
           
            </div>
   
            <div class="matching-donor-save-btn">
              <input type="button" class="button btn-modal" id="matching-donor-save" value="Save">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<div class="container after-header" >
  <table id="matching_donor" class="display nowrap" cellspacing="0" width="100%">
       <div class="matching-donor-section">Solar Ed Week Events</div>
  <thead >
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Title</th>
        <th>Date</th>
        <th>Time</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip_Code</th>
        <th>Details</th>
        <th>Facebook_link</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
      <tbody>
        {% for event in events %}
        <tr>
          <td>{{ event.name }} </td>
          <td>{{ event.email }}</td>
          <td>{{ event.title }}</td>
          <td>{{ event.date }}</td>
          <td>{{ event.evntime }}</td>
          <td>{{ event.address }}</td>
          <td>{{ event.city }}</td>
          <td>{{ event.state }}</td>
          <td>{{ event.zip_code }}</td>
          <td>{{ event.detail }}</td>
          <td>{{ event.facebook_link }}</td>
            <td style="width:90px;"><button type="button" class="edit" data-id={{event.pk}}>Edit</button></td>
          <td style="width:90px;"><button type="button" class="close close-btn"  data-id={{event.pk}}>&times;</button></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}

