{% extends "base/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load wagtailimages_tags %}

{% block head %}

<link rel='stylesheet' href="https://cdn.jsdelivr.net/npm/tooltipster@4.2.6/dist/css/tooltipster.bundle.min.css" />
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css'>

<style>
  a {
    text-decoration: none;
    color: #100084;
  }

  :hover {
    transition: all 0.3s ease;
  }

  .teamRow {
    padding: 70px 0 100px 0;
    background: #f1f1f1;
    text-align: center;
  }

  .teamRow h2 {
    float: left;
    width: 100%;
    font-size: 50px;
    color: #193f4b;
    text-transform: uppercase;
    font-weight: 700;
  }

  .teamRow .team-module {
    float: left;
    width: 100%;
  }

  .teamRow .team-module .member-staff {
    display: inline-block;
    width: 33%;
    margin-top: 90px;
    vertical-align: top;
    cursor: pointer;
  }

  .teamRow .team-module .member-staff .image {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .teamRow .team-module .member-staff h3 {
    float: left;
    width: 100%;
    font-size: 25px;
    color: #100084;
    font-weight: 700;
  }

  .teamRow .team-module .member-staff:hover .member-staff-intro h3 {
    color: #193f4b;
  }

  .smooth-text {
    color: rgb(72, 67, 101) !important;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
  }

  @media (max-width:432px) {

    .staff:hover .hover-description,
    .staff.staff--show .hover-description {
      display: none !important;
    }

    .hover-description {
      display: none !important;
    }
  }

  @media (max-width:1700px) {
    .mainBannerRow .devices img:nth-child(10) {
      right: 90px;
    }
  }

  @media (max-width:1500px) {
    .mainBannerRow .devices img:nth-child(11) {
      right: -200px;
    }

    .mainBannerRow .devices img:nth-child(2),
    .mainBannerRow .devices img:nth-child(1) {
      display: none;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  @media (max-width:1480px) {
    .container {
      width: 100%;
      padding: 0 90px;
    }

    .mainBannerRow .devices img:nth-child(3) {
      left: -430px;
    }
  }

  @media (max-width:1260px) {
    .mainBannerRow .devices img {
      zoom: 0.8;
      margin-top: 9%
    }

    .mainBannerRow {
      height: 860px;
    }

    .container {
      width: 100%;
      padding: 0 30px;
    }
  }

  @media (max-width:1000px) {
    .mainBannerRow h3 {
      margin-top: -50px;
      font-size: 45px;
    }

    .mainBannerRow .devices img:nth-child(3) {
      margin-top: 15%;
      left: -5%;
    }

    .mainBannerRow .devices img:nth-child(11) {
      right: 30px;
      top: 23%;
    }

    .mainBannerRow .devices img:nth-child(10) {
      left: 46%;
      margin-top: 0;
      z-index: 14;
    }
  }

  @media (max-width:800px) {
    .teamRow .team-module .member-staff {
      width: 45%
    }
  }

  @media (max-width:550px) {

    .row.footerRow .right .socials a,
    .teamRow .team-module .member-staff h3 {
      font-size: 20px;
    }

    .teamRow .team-module .member-staff {
      margin-top: 30px;
    }
  }

  @media (max-width:450px) {
    .teamRow .team-module .member-staff .image {
      width: 100px;
      height: 100px;
    }

    .teamRow .team-module .member-staff {
      padding: 0 10px;
      width: 49%;
    }
  }

  @media (max-width:400px) {
    .teamRow .team-module .member-staff {
      width: 100%;
    }
  }
</style>

{% endblock %}

{% block body %}

<main role="main" class="container-fluid">
  <div class="container-fluid works-header" id="top-section-works" style="z-index:0;">
    <div class="row text-center" style="height: 410px;">
      <div class="col hero-text align-self-end">
        <h1 class="text-light mb-6">Our Team</h1>
      </div>
    </div>
  </div>

  <div class="container-fluid scroll-section" id="scroll-section" style="z-index:0;">
    <div class="scroll-icon">

      <img class="scroll-arrow bouncing" src="../../../static/images/nonprofit-img/scroll-icon.png">
    </div>
  </div>
  <div class="row teamRow" style="z-index:99;">

    <div class="container">

      <h1 class="grey-text mb-6 smooth-text">Staff</h1>
      <div class="team-module">
        <div class="member-staff staff" data-pop="popup3">
          <div class="image clean-enrgy-colzx" data-tooltip-content="#tooltip-1"
            style="background-image: url(/static/images/team/LG780.png);"></div>
          <div class="clear"></div>
          <h3>Andreas Karelas</h3>
          <span>Executive Director</span>

        </div>

        <div class="member-staff staff" data-pop="popup3">
          <div class="image clean-enrgy-colzx" data-tooltip-content="#tooltip-4"
            style="background-image: url(/static/images/team/LG783.png);"></div>
          <div class="clear"></div>

          <h3>Elyse Wood</h3>
          <span>Solar Ambassador Program Manager</span>

        </div>

        <div class="member-staff staff" data-pop="popup3">
          <div class="image clean-enrgy-colzx" data-tooltip-content="#tooltip-18"
            style="background-image: url(/static/images/team/LG786.png);"></div>
          <div class="clear"></div>

          <h3>Liz Young</h3>
          <span>Senior Development Manager</span>

        </div>

        <div class="member-staff staff" data-pop="popup3">
          <div class="image clean-enrgy-colzx" data-tooltip-content="#tooltip-5"
            style="background-image: url(/static/images/team/LG784.png);"></div>
          <div class="clear"></div>

          <h3>Mark Soriano</h3>
          <span>Full Stack Web Developer</span>

        </div>
        
        <div class="member-staff staff" data-pop="popup3">
          <div class="image clean-enrgy-colzx" data-tooltip-content="#tooltip-17"
            style="background-image: url(/static/images/team/LG785.png);"></div>
          <div class="clear"></div>

          <h3>Mark Matos</h3>
          <span>Senior Solar Account Manager</span>

        </div>

        <div class="member-staff staff" data-pop="popup3">
          <div class="image clean-enrgy-colzx" data-tooltip-content="#tooltip-3"
            style="background-image: url(/static/images/team/LG782.png);"></div>
          <div class="clear"></div>

          <h3>Ryan Dexter</h3>
          <span>Senior Marketing and Communications Manager</span>

        </div>

        <div class="member-staff staff" data-pop="popup3">
          <div class="image clean-enrgy-colzx" data-tooltip-content="#tooltip-2"
            style="background-image: url(/static/images/team/LG781.png);"></div>
          <div class="clear"></div>

          <h3>Zak Federer</h3>
          <span>Senior Solar Program Manager</span>

        </div>

      </div>
    </div>
  </div>
  <div class="row teamRow">
    <div class="container">
      <h1 class="grey-text mb-6 smooth-text">Board of Directors</h1>
      <div class="team-module">

        <div class="member-staff staff" data-pop="popup3">
          <div class="image clean-enrgy-colzx" data-tooltip-content="#tooltip-6"
            style="background-image: url(/static/images/team/megan.png);"></div>
          <div class="clear"></div>

          <h3>Megan Crocker</h3>
          <h4>Board Chair</h4>
          <span>Director, Strategic Partnerships for CSIRO US</span>

        </div>

        <div class="member-staff staff" data-pop="popup3">
          <div class="image clean-enrgy-colzx" data-tooltip-content="#tooltip-7"
            style="background-image: url(/static/images/team/jon.png);"></div>
          <div class="clear"></div>

          <h3>Jon Gibson</h3>
          <h4>Treasurer</h4>
          <span>Trading Operations, Farallon Capital Management</span>

        </div>

        <div class="member-staff staff" data-pop="popup3">
          <div class="image clean-enrgy-colzx" data-tooltip-content="#tooltip-8"
            style="background-image: url(/static/images/team/adrienne.png);"></div>
          <div class="clear"></div>

          <h3>Adrienne Pierce</h3>
          <h4>Secretary</h4>
          <span>Director of Product Marketing at IronRidge</span>

        </div>

        <div class="member-staff staff" data-pop="popup3">
          <div class="image clean-enrgy-colzx" data-tooltip-content="#tooltip-13"
            style="background-image: url(/static/images/team/ken.png);"></div>
          <div class="clear"></div>

          <h3>Ken Alston</h3>
          <span>Chief of Staff , New Energy Nexus</span>

        </div>

        <div class="member-staff staff" data-pop="popup3">
          <div class="image clean-enrgy-colzx" data-tooltip-content="#tooltip-11"
            style="background-image: url(/static/images/team/jenn.png);"></div>
          <div class="clear"></div>

          <h3>Jennifer Martin</h3>
          <span>Executive Director, Center for Resource Solutions</span>

        </div>

        <div class="member-staff staff" data-pop="popup3">
          <div class="image clean-enrgy-colzx" data-tooltip-content="#tooltip-14"
            style="background-image: url(/static/images/team/maura.png);"></div>
          <div class="clear"></div>

          <h3>Maura McKnight</h3>
          <span>Executive Director, Business Council on Climate Change</span>

        </div>

        <div class="member-staff staff" data-pop="popup3">
          <div class="image clean-enrgy-colzx" data-tooltip-content="#tooltip-16"
            style="background-image: url(/static/images/team/robert.png);"></div>
          <div class="clear"></div>

          <h3>Robert J. Nelson</h3>
          <span>Partner, Lieff Cabraser Heimann & Bernstein, LLP</span>

        </div>

        <div class="member-staff staff" data-pop="popup3">
          <div class="image clean-enrgy-colzx" data-tooltip-content="#tooltip-12"
            style="background-image: url(/static/images/team/kass.png);"></div>
          <div class="clear"></div>

          <h3>Kassie Rohrbach</h3>
          <span>Associate Director, Sierra Club</span>

        </div>


        <div class="member-staff staff" data-pop="popup3">
          <div class="image clean-enrgy-colzx" data-tooltip-content="#tooltip-15"
            style="background-image: url(/static/images/team/michael.png);"></div>
          <div class="clear"></div>

          <h3>Michael Spiegelman</h3>
          <span>Vice President, Global Product Innovation at Netflix</span>

        </div>


        <div class="member-staff staff" data-pop="popup3">
          <div class="image clean-enrgy-colzx" data-tooltip-content="#tooltip-10"
            style="background-image: url(/static/images/team/paul.png);"></div>
          <div class="clear"></div>

          <h3>Dr. Paul Wapner</h3>
          <span>Director of Global Environmental Politics Program, American University</span>

        </div>
        <div class="member-staff staff" data-pop="popup3">
          <div class="image clean-enrgy-colzx" data-tooltip-content="#tooltip-9"
            style="background-image: url(/static/images/team/clint2.png);"></div>
          <div class="clear"></div>

          <h3>Clint Wilder</h3>
          <span>Senior Editor, Clean Edge</span>

        </div>




      </div>
    </div>
  </div>

  <div class="tooltip_templates">
    <div id="tooltip-1">
      <div class="tooltip-body">
        <h3 class="blue-text"> Andreas Karelas</h3>
        <p> Andreas Karelas is the founder and Executive Director of RE-volv. Andreas is a dedicated renewable energy
          advocate with over 15 years of environmental and renewable energy nonprofit experience. Prior to founding
          RE-volv Andreas worked with a number of leading organizations including the American Council on Renewable
          Energy (ACORE), the National Audubon Society, blueEnergy, and the Center for Resource Solutions. Andreas
          holds Master’s degrees in International Affairs and in Natural Resources and Sustainable Development, and
          a Bachelor’s degree in Economics. He is a 2013 Audubon Toyota TogetherGreen Conservation Leadership Fellow
          and a 2016 OpenIDEO Climate Innovator Fellow. </p>
        <p>Contact Andreas at <span class="orange-text fw-400">andreas@re-volv.org</span></p>
      </div>
    </div>
  </div>
  <div class="tooltip_templates">
    <div id="tooltip-2">
      <div class="tooltip-body">
        <h3 class="blue-text"> Zak Federer</h3>
        <p>Zak is on a mission to make clean energy a reality for everyone. Prior to joining RE-volv, Zak dedicated more
          than three years to advancing the adoption of solar. He worked with two major solar developers to facilitate
          financing for over 30 MW of solar capacity in the residential and commercial sectors, and enhanced their
          business processes to support further solar development. Zak holds a Bachelor’s degree from the University of
          Chicago, and is currently pursuing NABCEP certification in PV.
        </p>
        <p>Contact Zak at <span class="orange-text fw-400">zak@re-volv.org</span></p>
      </div>
    </div>
  </div>
  <div class="tooltip_templates">
    <div id="tooltip-3">
      <div class="tooltip-body">
        <h3 class="blue-text"> Ryan Dexter</h3>
        <p> As a digital communications specialist, Ryan delivers powerful and original multimedia content to drive
          impact and build movements. His passion lies in accelerating the transition to a more equitable economy
          through transformational storytelling. Prior to RE-volv, Ryan has worked with Van Jones, Obama’s communication
          team, Joe Biden’s middle-class task force, Solar Mosaic, and Green For All. Ryan loves Redwood forests,
          mythical animals, and telling the stories of those thriving in the green economy.</p>
        <p>Contact Ryan at <span class="orange-text fw-400">ryan@re-volv.org</span></p>
      </div>
    </div>
  </div>
  <div class="tooltip_templates">
    <div id="tooltip-17">
      <div class="tooltip-body">
        <h3 class="blue-text"> Mark Matos</h3>
        <p>With a passion for social equity, Marcos has led a national program providing solar systems to low-income
          neighborhoods, is on the advisory board of a prominent food justice organization, and has worked with
          immigration organizations fighting for migrants and asylum seekers' rights. As a trained life coach, he most
          recently launched a nonprofit addressing the barriers that exist in accessing life coaching – predominantly
          working with recovering addicts. Spending much of his youth in his parent's Latin record store, he is an avid
          live music fan, a reluctant fanatic of New England sports, and has a deep love and admiration for the natural
          beauty of the world – both in its landscapes and people. </p>
        <p>Contact Mark at <span class="orange-text fw-400">mark.matos@re-volv.org</span></p>
      </div>
    </div>
  </div>

  <div class="tooltip_templates">
    <div id="tooltip-18">
      <div class="tooltip-body">
        <h3 class="blue-text"> Liz Young</h3>
        <p>As a lifelong advocate for renewable energy, Liz brings a passion for spreading the benefits of solar to communities across the country. Prior to joining RE-volv, Liz worked with Greenpeace USA and GRID Alternatives, and she is excited to use her experience to further RE-volv's mission of inspiring individuals to fight climate change at the local level. Liz holds a B.A. in Environmental Studies from Wells College and a J.D. from University of Virginia School of Law. When not working for our clean energy future, Liz enjoys cooking, surfing, and swimming in the San Francisco Bay. </p>
        <p>Contact Liz at <span class="orange-text fw-400">liz@re-volv.org</span></p>
      </div>
    </div>
  </div>

  <div class="tooltip_templates">
    <div id="tooltip-4">
      <div class="tooltip-body">
        <h3 class="blue-text"> Elyse Wood</h3>
        <p>Elyse is passionate about making clean energy and sustainable practices accessible to all. Prior to working
          at RE-volv, she managed a leadership program for high school and college students at the Golden Gate National
          Parks Conservancy which focused on empowering young member-staff to develop social and environmental justice
          projects in their communities. As Solar Ambassador Program Manager, she hopes to continue to empower youth to
          be a part of the environmental justice movement and bring renewable energy to all communities.</p>
        <p>Contact Elyse at <span class="orange-text fw-400">elyse@re-volv.org</span></p>
      </div>
    </div>
  </div>
  <div class="tooltip_templates">
    <div id="tooltip-5">
      <div class="tooltip-body">
        <h3 class="blue-text"> Mark Soriano</h3>
        <p>Mark is passionate about making renewable energy accessible to everyone. Prior to joining RE-volv, He
          mentored in a computer science program to empower underrepresented students through technology. Mark holds a
          Bachelor's Degree in Computer Science and has been working as a software developer. When he isn’t working,
          you’ll find Mark listening to music, searching for new tech, and playing guitar. </p>
        <p>Contact Mark at <span class="orange-text fw-400">mark@re-volv.org</span></p>
      </div>
    </div>
  </div>
  <div class="tooltip_templates">
    <div id="tooltip-6">
      <div class="tooltip-body">
        <h3 class="blue-text"> Megan Crocker</h3>
        <p>Megan is Director, Strategic Partnerships for CSIRO US. She joined the team in 2018 and supports the
          development of partnerships across multiple science capabilities. She is a recognized relationship
          professional with over two decades of cross-sectoral leadership in partnerships and client service.</p>
        <p>Megan spent 10 years leading the client service team for a $10B AUM institutional hedge fund company,
          consulted for a start-up financial services organization, and stewarded funders as Director, Strategic
          Partnerships, for the Energy Foundation. Megan serves as board chair for a solar non-profit organization,
          RE-volv.org, mentored the winning team for CleanTech Open, and spent two years founding a clean-tech venture
          fund. She earned an MBA in Sustainability from Presidio Graduate School in San Francisco, is a Chartered
          Alternative Investment Analyst (CAIA), and has a bachelor’s degree in Veterinary Science from the University
          of Arizona with minors in Chemistry and French.</p>
      </div>
    </div>
  </div>
  <div class="tooltip_templates">
    <div id="tooltip-7">
      <div class="tooltip-body">
        <h3 class="blue-text"> Jon Gibson</h3>
        <p>Jon Gibson is a sustainable business builder dedicated to renewable energy resource development. He works as
          a financial analyst and business development strategist because it feels good to make money for both himself
          AND others while helping solve the world’s critical energy transition needs. Jon earned an MBA in Sustainable
          Management from Presidio Graduate School in San Francisco, and a Bachelors of Finance from Bentley University
          outside of Boston. He’s the co-founder of Muir Data Systems, a for profit Wind Energy Operations Software
          (SaaS) platform, has 10 years’ experience in hedge fund trading operations at Farallon Capital, and six years
          portfolio and partnership accounting experience.</p>
        <p> Jon loves developing financial models to inform business
          planning and strategy as well as meeting member-staff, forging partnerships, building, and growing sustainable
          businesses. In his spare time he enjoys skiing and paddle boarding with his wife and two children and
          listening to The Energy Gang podcast. Connect with Jon on Twitter @Bugnato</p>
      </div>
    </div>
  </div>
  <div class="tooltip_templates">
    <div id="tooltip-8">
      <div class="tooltip-body">
        <h3 class="blue-text"> Adrienne Pierce</h3>
        <p> Adrienne Pierce believes that clean energy can unify, include and build sustainable community. Adrienne has
          more than 15 years of experience in managing programs and building partnerships in environmental technology
          and semiconductor industries. At SunEdison, Adrienne led the REDI program to redesign the data collection and
          visualization for performance monitoring of over 1800 renewable energy sites. Previously, Adrienne was with
          Edwards as a global Business Development Director for vacuum, exhaust gas treatment and water purification
          systems used in the manufacturing of semiconductors and photovoltaics. Adrienne is active in the CleanTech
          Open, Women in CleanTech and Sustainability and TechWomen. She holds an M.B.A. from Thunderbird and a B.S. in
          Chemical Engineering from Lafayette College.</p>
      </div>
    </div>
  </div>
  <div class="tooltip_templates">
    <div id="tooltip-9">
      <div class="tooltip-body">
        <h3 class="blue-text"> Clint Wilder</h3>
        <p> Clint Wilder is senior editor at leading clean-tech research and advisory firm Clean Edge and has been
          writing and speaking about the clean-tech industry for more than a decade. He is co-author of two books, Clean
          Tech Nation: How the U.S. Can Lead in the New Global Economy (HarperCollins, 2012) and The Clean Tech
          Revolution (HarperCollins, 2007). Clint is a frequent speaker at clean-tech and green business events in the
          U.S. and overseas, a blogger for the Green section of The Huffington Post, and has been a facilitator in the
          Energy and Climate Change track of the Clinton Global Initiative. At Clean Edge, Clint is a lead author of
          many of the firm’s research reports including its flagship U.S. Clean Tech Leadership Index, a widely cited
          annual ranking of U.S. states and metro areas in leadership in clean-tech deployment, policy, and finance. He
          is also director of clean technology at Green Bear Group, a Silicon Valley-based green marketing services
          firm. A Californian for nearly 25 years, Clint lives in Sausalito and is a former member of the Sierra Club
          Marin Group executive committee. He has a B.A. in history from Yale University and did graduate work in
          business journalism at Boston University.</p>
      </div>
    </div>
  </div>
  <div class="tooltip_templates">
    <div id="tooltip-10">
      <div class="tooltip-body">
        <h3 class="blue-text"> Paul Wapner</h3>
        <p>Paul is a thought leader on the environmental issues of today. He is a prolific writer having written such
          books as Living Through the End of Nature: The Future of American Environmentalism, and, Environmental
          Activism and World Civic Politics. Through his years of teaching he has developed a deep understanding of
          human behavior in relation to environmentalism, climate change, and civic engagement.</p>
      </div>
    </div>
  </div>
  <div class="tooltip_templates">
    <div id="tooltip-11">
      <div class="tooltip-body">
        <h3 class="blue-text"> Jennifer Martin</h3>
        <p>Jennifer has over twenty years of experience in renewable energy, energy efficiency and distributed
          generation policy, markets and technology development, as well as electricity sector and climate change policy
          and regulation. Jennifer is responsible for the overall management of the Green-e Energy and Green-e Climate
          certification programs, and provides strategic program guidance to all CRS programs and new initiatives.
          Jennifer is a long-standing leader in the renewable energy community. </p>
      </div>
    </div>
  </div>
  <div class="tooltip_templates">
    <div id="tooltip-12">
      <div class="tooltip-body">
        <h3 class="blue-text"> Kassie Rohrbach</h3>
        <p>Kassie Rohrbach is a Senior Energy Campaigner at Greenpeace, leading up the 100% Renewables campaign in the
          U.S. Previously, Kassie served as the Senior Campaigns Manager for National Wildlife Federation’s Climate and
          Energy Program. Kassie brings over a decade of experience with campaign organizing and coalition building,
          working to address the climate crisis. Prior to joining NWF in 2008, Kassie co-founded and served as the
          Co-Director of Energy Action Coalition (EAC), a youth led coalition of environmental and social justice
          organizations. Kassie also spent three years at the Center for Resource Solutions, working on the Green-e
          Renewable Energy Certification Program. In 2003, Kassie graduated from Connecticut College with a BA in Gender
          and Women’s Studies. She got her start organizing on climate and energy while at Connecticut College, where
          she led one of the first student campaigns to invest in renewable energy.</p>
      </div>
    </div>
  </div>
  <div class="tooltip_templates">
    <div id="tooltip-13">
      <div class="tooltip-body">
        <h3 class="blue-text"> Ken Alston</h3>
        <p> Ken Alston is Chief of Staff at New Energy Nexus, an international organization that supports clean energy
          entrepreneurs with funds, accelerators, and networks, featuring programs in California, China, India,
          Southeast Asia, and East Africa. He also serves as Investment Manager for CalCEF Ventures. Prior to these
          roles, Ken served in the Obama Administration at the White House and U.S. Department of Energy. He holds a BA
          in Economics from the University of Virginia, an MBA from the Stanford Graduate School of Business, and an MS
          in Environment and Resources from the Stanford School of Earth, Energy, & Environmental Sciences. </p>
      </div>
    </div>
  </div>
  <div class="tooltip_templates">
    <div id="tooltip-14">
      <div class="tooltip-body">
        <h3 class="blue-text"> Maura McKnight</h3>
        <p>Maura McKnight is the Executive Director of the Business Council on Climate Change (BC3) - a
          membership-driven nonprofit organization of corporate sustainability leaders implementing and championing
          tangible climate action in the San Francisco Bay Area. As an action-oriented leader, she has spent 15+ years
          working at the intersection of climate/energy, technology, conservation, business development and social
          impact. Prior to joining BC3, Maura worked for 8 years leading Corporate Partnerships for GRID Alternatives -
          the nation's largest nonprofit solar installer. Early in her career Maura worked as a biologist for the
          National Park Service. She holds a B.S. from U.C. Berkeley with a degree in Conservation and Resource Studies
          and an M.S. in Wildlife Biology from Humboldt State.</p>
      </div>
    </div>
  </div>
  <div class="tooltip_templates">
    <div id="tooltip-15">
      <div class="tooltip-body">
        <h3 class="blue-text"> Michael Spiegelman</h3>
        <p>Michael Spiegelman is currently the Vice President of Global Product Innovation for Growth & Acquisition at
          Netflix, where his team is responsible for acquiring new subscribers in 190 countries around the world through
          product features and programmatic marketing channels. He originally joined Netflix in 2010 as Director of
          Product Innovation and led product strategy for the streaming website and tablet experiences.</p>
        <p> Before joining Netflix, Michael was at Yahoo!, where he was Senior Director of Entertainment & Lifestyle
          Products, responsible for the music, movies, TV, celebrity, video and lifestyles websites around the world.
          Prior to that, he was Senior Director and General Manager of Yahoo! Music, running product development, label
          relations and editorial for the company's music business, including personalized radio, music videos and
          artist information. He started at Yahoo! in 2003 as a product manager in the music division, where he helped
          launch the Yahoo! Music Unlimited subscription service.</p>
        <p> Previously, Michael was co-founder and principal at Web Paradox, an independent web design and development
          consultancy, where he was responsible for developing and maintaining client relationships with companies such
          as Verizon, AT&T and the US Marine Corps. Before that, he was a Senior Strategy Consultant at iXL, an early
          Internet consulting firm, where he helped large companies as well as startups formulate digital strategies. He
          also worked at Arthur Andersen Consulting and began his career in the public sector consulting practice at
          PricewaterhouseCoopers.</p>
        <p>He currently lives in San Francisco, California.</p>
      </div>
    </div>
  </div>
  <div class="tooltip_templates">
    <div id="tooltip-16">
      <div class="tooltip-body">
        <h3 class="blue-text"> Robert J. Nelson</h3>
        <p>Robert J. Nelson is a partner at Lieff Cabraser Law Firm. He has played a leading role in the firm's False
          Claims Act (whistleblower law), automotive, aviation, defective products, mass torts, tobacco, and consumer
          fraud cases, taking on many of the world's largest corporations and holding them accountable. He has served as
          court-appointed Lead or Co-Lead Counsel in numerous state and federal coordinated proceedings, as well as in
          more than 30 class actions. </p>
      </div>
    </div>
  </div>

</main>

<script src="{% static 'js/script.js' %}"></script>

{% endblock %}

{% block javascripts %}
<script>
  $('.clean-enrgy-colzx').tooltipster({
    animation: 'fade',
    side: 'top',
    arrow: false,
    trigger: 'hover',
    interactive: true,
    contentAsHTML: true,
    theme: '',
  });
</script>

{% endblock %}