<div class="info-area {% if not testimonial_active %}hide{% endif %}">
  <p>
    {{ testimonial_text }}
  </p>
  <div class="user-group">
    <span class="block"><a href="javascript:;" class="link-blue">{{ testimonial_name }}</a></span>
    <span class="txt block">{{ testimonial_position }}</span>
    <div class="row about">
		<div class="about-inset">
			<a href="https://docs.google.com/forms/d/10zU9-ap0IlInsraWvDvWxGxasjYOHsQvwjgr33YVmxE/viewform" class="donate button">{{ settings.revolv_cms.ActiveProjectsPageSettings.start_funding_button_text }}</a>
		</div>
	</div>
  </div>
</div>
