<div class="modal fade" id="confirmModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->

      <div class="modal-content modal-reinvest" style="width: 80%;margin-top: 30%;margin-left: 8%;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" >&times;</button>
            <h4 class="modal-title"><span><b>Thank you for reinvesting!</b></span></h4>
        </div>
        <div class="modal-body">
            <input id = "amount" type="hidden" name="amount" value="">
            <p><p class="reinvestment-text">Thank you for reinvesting $<span></span>!</p> <br><p class="reinvestment-text">Thank you for choosing to reinvest in this project!</p>
                <br><p class="reinvestment-text">We're now {{ project.percent_complete }}% of the way there!</p> <br><p class="reinvestment-text">Would you also like to donate to help <b>{{ project.title }}</b> Go Solar?</p></p>
        </div>
        <div class="modal-footer">
            <a href="{% url 'project:view' title=project.project_url %}" class="btn btn-primary">Yes, definitely!</a>
             <a href="{% url 'dashboard' %}"  class="btn btn-primary">Not right now</a>
        </div>
      </div>

    </div>
  </div>

<style>
    #confirmModal .modal-header .close{
        margin-top: 2px;
    }
</style>


