{% extends "base/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load humanize %}
{% load wagtailimages_tags %}

{% block head %}
<link rel="stylesheet" href="{% static "typeahead/typeahead.css" %}" />
<link rel="stylesheet" href="{% static "chosen/chosen.css" %}" />

<link rel='stylesheet' href="https://cdn.jsdelivr.net/npm/tooltipster@4.2.6/dist/css/tooltipster.bundle.min.css"/>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css'>

<!-- <link rel="stylesheet" href="{% static 'dist/css/pages/project-edit/index.css' %}" /> -->
<link href='//fonts.googleapis.com/css?family=Lato:300,500,800' rel='stylesheet' type='text/css'>
<style type="text/css">
    #map-canvas { width: 100%; height: 300px; margin-bottom: 20px; padding: 0;}
    #map-canvas img {max-width: none;}

    .clean-enrgy-colzx:hover {
      color: #ff8a00;
    }
</style>

<!-- -->
<script src="{% static 'js/base/homeAnimations.js' %}?version={{ version_number }}"></script>

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css'>
<link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/gijgo/1.9.13/combined/css/gijgo.min.css"/>

{% endblock %}

{% block title %}{% if project.id %}Edit{% else %}Create{% endif %} Project | {% endblock %}

{% block nav %}
  {% include "base/partials/project-nav.html" %}
{% endblock %}

{% block body %}
<main role="main" class="container-fluid">
        <div class="container-fluid fundraise-project-header" id="top-section-min">
          <div class="row text-center">
            <div class="col hero-text align-self-end mb-5">
              <h1 class="text-white fw-300 mb-5">Fundraise for the Solar Seed Fund</h1>
            </div>
          </div>
        </div>
        <div class="container-fluid scroll-section " id="scroll-section">
            <div class="scroll-icon">
              <img class="scroll-arrow bouncing" src="../../../static/images/edu-media-img/scroll-icon.png">
            </div>
        </div>
  
        {% if request.user.is_authenticated %}
        <div class="container-fluid" id="fundraise-project-body" style="padding-bottom: 40vh;">
            <div class="row justify-content-center align-items-center" style="max-width: 100% !important;">
              <div class="col-sm-12 col-md-8">
                <div class="row justify-content-center align-items-center mb-5 ">
                  <form method="POST" enctype="multipart/form-data" id="project_form" class="fundraise-project-form">


                      {% csrf_token %}
                      {{ form.media }}
                      {% for error in form.non_field_errors %}
                    <div data-alert class="alert-box alert">
                        {{ error }}
                        <a href="#" class="close">&times;</a>
                      </div>
                    {% endfor %}
    
                    <div class="row donation-levels section">
                        <!-- <p class="section-title donation-level-container">Donation Levels</p> -->
                        {{ donation_level_formset.management_form }}
                        <script type="text/javascript">
                            window.DONATION_LEVEL_COUNT = {{ donation_level_formset|length }};
                            window.EXTRA = 1;
                        </script>
                    </div>
                    <div class="row justify-content-center align-items-center">
                          <div class="col-sm-12 co-md-10">
                            <div class="row justify-content-center align-items-center mb-5">
                              <div class="col-sm-12 col-md-12">
                                <h4 class="my-4" style="color: #140869; text-align: center;">RE-volv’s Solar Seed Fund provides the capital for community-serving nonprofits to go solar. Strengthen communities and spread solar by starting a fundraising campaign today.</h4>
                              </div>
                            </div>
                          </div>
                    </div>
                      <p class="grey-text fw-600 mb-4" style="text-align: center;">Starting a solar fundraising campaign is simple and only takes a minute.</p>
                      <p class="grey-text fw-400" style="text-align: center;">Pick a title, campaign picture, and amount you’d like to raise to bring solar to nonprofits across the country. Every dollar raised multiplies in value as solar systems come online and pay-it-forward through RE-volv’s unique revolving solar loan fund. </p>
                    
                      <!--  --------------------------
                    <div class="form-group row">
                      <label for="fundraise-for" class="col-sm-3 col-form-label " data-tooltip-content="#tooltip-3">Fundraise for</label>
                      <div class="col-sm-9">
                        <div class="input-group">
                          <select class="custom-select" id="inputGroupSelect04">
                            <option selected>Individual</option>
                            <option value="1">Yale University </option>
                            <option value="2">American University </option>
                            <option value="3">University of Dayton </option>
                          </select>
                        </div>
                      </div>
                    </div>

                    form group -->

                    <div class="form-group row fundraise-project-form">
                      <label for="campaign-title" class="col-sm-3 col-form-label clean-enrgy-colzx" data-tooltip-content="#tooltip-1">Campaign title</label>
                      <span class="tooltip-1"></span>
                      <div class="col-sm-9">
                          {% include "base/partials/tooltip_formfield.html" with field=form.title %}
                         <!-- <input type="text" class="form-control-plaintext" id="campaign-title" value=""> -->
                      </div>
                    </div>
                    <div class="form-group row fundraise-project-form">
                      <label for="fundraise-goal" class="col-sm-3 col-form-label clean-enrgy-colzx" data-tooltip-content="#tooltip-3">Fundraising goal <span class="dollar-sign ml-2 mr-2">$</span></label>
                      <div class="col-sm-9">
                          {% include "base/partials/tooltip_formfield.html" with field=form.funding_goal %}
                        <!-- <input type="number" min="1" class="form-control-plaintext" oninput="validity.valid||(value='');" id="fundraise-goal" value=""> -->
                      </div>
                    </div>
                    <div class="form-group row fundraise-project-form">
                      <label for="fundraise-deadline" class="col-sm-3 col-form-label clean-enrgy-colzx" data-tooltip-content="#tooltip-4">Fundraising deadline</label>
                      <div class="col-sm-9">
                          {% include "base/partials/tooltip_formfield.html" with field=form.end_date %}
                        <!-- <input id="fundraise-deadline"> -->
                      </div>
                    </div>
                    <div class="form-group row fundraise-project-form">
                      <label for="fundraise-photo" class="col-sm-3 col-form-label clean-enrgy-colzx" data-tooltip-content="#tooltip-5">Campaign Photo</label>
                      <div class="col-sm-9">
                          {% include "base/partials/tooltip_formfield.html" with field=form.cover_photo %}
                        <!-- <input type="file" class="form-control-file" id="fundraise-photo" placeholder="Upload your file">  -->
                      

                      </div>
                    </div>
                    <div class="form-group row fundraise-project-form">
                      <label for="fundraise-deadline" class="col-sm-3 col-form-label clean-enrgy-colzx" data-tooltip-content="#tooltip-6">Project Url <i class="fas fa-info-circle"></i></label>
                      <div class="col-sm-9">
                          {% include "base/partials/tooltip_formfield.html" with field=form.project_url %}
                        <!-- <input id="fundraise-deadline"> -->
                      </div>
                    </div>

                    <div class="form-group row fundraise-project-form">
                      <label for="campaign-title" class="col-sm-3 col-form-label clean-enrgy-colzx" data-tooltip-content="#tooltip-2">Describe your campaign</label>
                      <div class="col-sm-9">
                        <div class="form-group">
                            {% include "base/partials/tooltip_formfield.html" with field=form.description %}
                          <!-- <textarea class="form-control" id="campaign-desc" rows="3"></textarea> -->
                        </div>
                      </div>
                    </div>

                    <div class="hide" style="display: none;">
                        {% include "base/partials/tooltip_formfield.html" with field=form.tagline %}
                        {% include "base/partials/tooltip_formfield.html" with field=form.total_kwh_value %}
                        {% include "base/partials/tooltip_formfield.html" with field=form.subfund_payment %}
                        
                        {% include "base/partials/tooltip_formfield.html" with field=form.impact_power %}
       
                        <!-- lower options -->

                        {% include "base/partials/tooltip_formfield.html" with field=form.org_name %}
             
                        {% include "base/partials/tooltip_formfield.html" with field=form.video_url %}
                        {% include "base/partials/tooltip_formfield.html" with field=form.org_start_date %}
            
   
                        {% include "base/partials/tooltip_formfield.html" with field=form.people_affected %}            
                        {% include "base/partials/tooltip_formfield.html" with field=form.location %}
                    
                        {% include "base/partials/tooltip_formfield.html" with field=form.org_about %}
           
                      {% include "base/partials/tooltip_formfield.html" with field=form.location_latitude %}
                      {% include "base/partials/tooltip_formfield.html" with field=form.location_longitude %}
                      {% include "base/partials/tooltip_formfield.html" with field=form.extra %}
                    </div>

                    <div class="text-center">
                      <button class="large right save-button btn btn-orange btn-me btn-arrow-white my-4" id="save_project" type="submit" style="font-size: 1.15rem !important">Start Fundraiser</button>
                    </div>

                  </form>
                </div>
              </div>
            </div>
          </div> 

  
        {% else %}
        <div class="container-fluid" id="ambassador-section-second">
          <div class="row justify-content-center align-items-center">
            <div class="col-sm-12 col-md-10 col-lg-8 text-center">
                <h3 class="blue-text fw-300 mb-3">Login in or create an account to start fundraising for RE-volv's Solar Seed Fund</h3>
                <p class="grey-text">The time to accelerate the clean energy movement is now. </p>
            </div>
          </div>
        </div>
        <div class="container-fluid" id="ambassador-section-three" style="padding-bottom: 180px;">
          <div class="row justify-content-center align-items-center">
            <div class="col-sm-12 co-md-10 col-lg-10">
              <div class="row justify-content-center align-items-center text-center">
              </div>
              <div class="row justify-content-center align-items-center mt-5">
                <a class="btn btn-blue btn-me btn-arrow-orange mx-2" href="/signin/#signup" role="button">Create an account or Login</a>
              </div>
            </div>
          </div>
        </div>
        {% endif %}  
    
        <!--Tooltips-->
        <div class="tooltip_templates">
          <div id="tooltip-1">
            <div class="tooltip-body">
              <p> Fill in the fundraising campaign title. </p>
            </div>
          </div>
        </div>
        <div class="tooltip_templates">
          <div id="tooltip-2">
            <div class="tooltip-body">
              <p> Fill in the project description of the Solar Seed Fund campaign. </p>
            </div>
          </div>
        </div>
        <div class="tooltip_templates">
          <div id="tooltip-3">
            <div class="tooltip-body">
              <p> The amount of the fundraising campaign goal in dollar. </p>
            </div>
          </div>
        </div>
        <div class="tooltip_templates">
          <div id="tooltip-4">
            <div class="tooltip-body">
              <p> The end date for the Solar Seed Fund campaign. </p>
            </div>
          </div>
        </div>
        <div class="tooltip_templates">
          <div id="tooltip-5">
            <div class="tooltip-body">
              <p> Photo of your campaign. </p>
            </div>
          </div>
        </div>
        <div class="tooltip_templates">
          <div id="tooltip-6">
            <div class="tooltip-body">
              <p> The link url name where the campaign is created. ie. /project/(your project url name)</p>
            </div>
          </div>
        </div>

     </main>
{% endblock %}





{% block javascripts %}
<script >
  $('.clean-enrgy-colzx').tooltipster({
      animation: '',
      side: 'bottom',
      arrow: false,
      trigger: 'hover',
      interactive: true,
      contentAsHTML: true,
      theme: 'tooltipster-shadow'
   });
</script>
<!-- Initializes the Google Map / Location Selection Typeahead -->
<script type="text/javascript"
    src="//maps.googleapis.com/maps/api/js?key={{GOOGLEMAPS_API_KEY}}&libraries=places">
</script>
<script src="{% static 'typeahead/typeahead.bundle.js' %}"></script>
<script src="{% static 'typeahead/typeahead-addresspicker.js' %}"></script>
<script type="text/javascript">

    today = new Date();
    var days = 10;
    mindate = new Date().toJSON().split('T')[0];
    document.getElementById("date-picks").valueAsDate = new Date(today.getTime() + days*24*60*60*1000);
    console.log(new Date(today.getTime() + days*24*60*60*1000))
    console.log(mindate)
    document.getElementById("date-picks").setAttribute("min", mindate);
    document.getElementById("date-picks").setAttribute("max", "2019-12-31");
    // gets the start location of the map
    {% if project.location_latitude %}
        var latitude = {{project.location_latitude}};
    {% else %}
        var latitude = 37.7699298;
    {% endif %}

    {% if project.location_longitude %}
        var longitude = {{project.location_longitude}};
    {% else %}
        var longitude = -122.4469157;
    {% endif %}
    var startLocation = new google.maps.LatLng(latitude, longitude);
    // instantiate the addressPicker suggestion engine (based on bloodhound)
    // https://github.com/sgruhier/typeahead-addresspicker
    var addressPicker = new AddressPicker({
        map: {
            center: startLocation,
            id: '#map-canvas',
            displayMarker: true,
            zoom: 18
        },
        marker: {
            position: startLocation,
            visible: true,
            draggable: false
        },
        zoomForLocation: 18,
        draggable: false,
        reverseGeocoding: true,
        utocompleteService: {
            componentRestrictions: {
                country: 'US'
            }
        }
    });
    // instantiate the typeahead UI
    $('#id_location').typeahead(null, {
        displayKey: 'description',
        source: addressPicker.ttAdapter()
    });
    // add click listeners
    addressPicker.bindDefaultTypeaheadEvent($('#id_location'))
    $(addressPicker).on('addresspicker:selected', function (event, result) {
        $('#id_location_latitude').val(result.lat());
        $('#id_location_longitude').val(result.lng());
    });

    $("#project_form").on('submit', function(e) {
        if (!$('#id_location_latitude').val() || !$('#id_location_longitude').val()) {
            toastr.options.positionClass = "toast-bottom-right";
            toastr.error("Please enter a valid address");
            e.preventDefault();
            return false;
        }
    });
</script>
<!-- Initializes the category selection tool -->
<script src="{% static 'chosen/chosen.jquery.js' %}"></script>
<script type="text/javascript">
    $("#id_extra").val(1);

    $('<div class="project-edit-spacer"></div>').insertBefore("#cover_photo-clear_id");
    // window.PROJECT_ID = {{ project.id }};
</script>
<script type="text/javascript">
    $(".chosen-select").chosen();
</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gijgo/1.9.13/combined/js/gijgo.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>

    <script src="{% static 'js/blog-monthly-js/plyr.polyfilled.js' %}"></script>
    <script src="{% static 'js/blog-monthly-js/script.js' %}"></script>

<script>
$('#fundraise-deadline').datepicker({
    uiLibrary: 'bootstrap4'
});
</script>

{% endblock %}
